<!-- Institution information  - STARTS -->
<div class="row">
  <% %w(name email phone fax website).each do |el| %>
    <%= bs(f,el,"text_field",[nil,4],7,6) %>
  <% end %>  
  
  <%= bs(f,[:country_id,Country.order(:name),
            :id,
            :name,
            {prompt: "-country-"},
            {onchange: "prepSelect(this,
                       '.cities_select',
                       '/get_cities/');"}],
            "collection_select",
            [nil,4],7,6) %>
            
  <%= bs(f,[:type_id,InstitutionType.order(:name),
            :id,
            :name,
            {prompt: "-institution type-"},{}],
            "collection_select",
            [nil,4],7,6) %>
  
  <%= bs(f,[:group_id,InstitutionGroup.order(:name),
            :id,
            :name,
            {prompt: "-institution group-"},{}],
            "collection_select",
            [nil,4],7,6) %>
  
  <%= bs(f,[:assigned_to,User.order(:first_name),
            :id,
            :first_name,
            {prompt: "-assign to-"},{}],
            "collection_select",
            ["Assign To",4],7,6) %>  
            
  <% %w(address_line1 address_line2).each do |el| %>
    <%= bs(f,el,"text_field",[nil,4],7,6) %>
  <% end %> 
  
  <%= bs(f,[:city_id,City.order(:name),
            :id,
            :name,
            {prompt: "-city-"},
            {class: 'cities_select'}],
            "collection_select",
            [nil,4],7,6) %>
            
   <%= bs(f,"address_post_code","text_field",[nil,4],7,6) %>
   
   <%= bs(f,[:desc,{class: 'form-control', cols: nil, rows: nil}],"text_area",[nil,4],7,6) %>

</div>
  




