<!-- setting a default contract name -->
  <%= f.fields_for :contracts do |c| %>
  <div class="row">
           <% c_name = [Organizor::Application::ORG_NAME,@institution.name].join("_").tr(" ","_") %>
           
           <%= bs(c,[:name,value: c_name],"text_field",[nil,4],7,6) %>
           
           <% %w(current_contract_start_date initiate_date current_contract_end_date renewal_reminder_date).each do |el| %>
             <%= bs(c,[el.to_sym,:class => "dateField caltf"],"text_field",[nil,4],7,6) %>
           <% end %>
           
           <% %w(invoicing_deadline internal_target partners_target).each do |el| %>
             <%= bs(c,el,"text_field",[nil,4],7,6) %>
           <% end %> 
           
           <%= bs(c,:territory_specified,"check_box",[nil,4],7,6) %>

           <%= bs(c,[:desc,{class: 'form-control', cols: nil, rows: nil}],"text_area",[nil,4],7,6) %>
  </div>
  <% end %>
