<!-- adding people under institution -->
   <%= f.fields_for :people do |p| %>
   <hr>
   <div class="row row-top new-program text-center">
   
              <div class="row row-top">
                <div class="col-xs-offset-11 text-center">
                  <%= p.link_to_remove ('<span class="glyphicon glyphicon-remove"></span>'.html_safe) %>
                </div>
              </div>
              <% %w(first_name surname mobile email).each do |el| %>
                <%= bs(p,el,"text_field",[nil,4],7,6) %>
              <% end %>
              
              <%= bs(p,[:desc,{class: 'form-control', cols: nil, rows: nil}],"text_area",[nil,4],7,6) %>
   </div>
   <% end %>

  <%= f.link_to_add "Quick Add", :people,{:class => "btns fl"} %>
