<!-- people linked with this institution -->
<% @institution.people.each do |i| %>
  <% @person = i %>
  <% a = i %>
<div class="cols" style="padding-bottom:20px">
   <div class="col6">
     <div class="rel">
                      <%= image_tag((a.image? ? a.image_url : "/images/icons/user.png"),
                                   {width: "100",class: "imgb fl"}) %>
     </div>
   <h5>
     <b>
       &nbsp;&nbsp;&nbsp;&nbsp;<%= a.name %> [<%= a.type.name rescue "Unassigned Type" %>]
     </b>
   </h5>
     <div class="fl padl20">
                        <ul class="vlsdet">
                        <li><label>Gender </label>: <%= a.gender %></li>
                        <li><label>Date Of Birth</label>: <%= a.date_of_birth %></li>
                        <li><label>Email </label>: <%= a.email %></li>
                        <li><label>Mobile </label>: <%= a.mobile %></li>
                        </ul>
     </div>
   </div>
   <div class="col3">
   </div>
   <div class="col5">
       <table>
          <% %w(skype facebook linkedin gplus).each do |s|%>
            <tr>
            <td><%= image_tag("/images/icons/" + s + ".png",{width: 24}) %></td>
            <td><%= s.titleize %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td> <%= a.send(s) %></td>
            </tr>
          <% end %>
       </table>
   </div>
</div>

     <h5 class="htab"> Notes For This Person<h5>
     <div id="person_note_<%= i.id %>" >
          <%= render 'notes/note', sub: @person %>
     </div>
     <br/>
     <br/>
     
     <%= nested_form_for(i,remote: true) do |r| %>
      <%= r.fields_for :notes,i.notes.build do |n| %>
        <%= n.hidden_field :sub_class, value: "Person" %>
        <%= n.text_area :content,{:size => '10x3', :style => 'width:400px;',class: "app_note"} %>
      <% end %> 
      <br/>
      <%= r.submit "Write",{class: "btnp"} %>
      <% end %>
     <br/>
<br/>
<div class="brg01"> </div>
<br/>
<br/>
<% end %>
