<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @institution.name %>
</p>

<p>
  <b>Poc:</b>
  <%= @institution.poc %>
</p>

<p>
  <b>City:</b>
  <%= @institution.city_id %>
</p>

<p>
  <b>Country:</b>
  <%= @institution.country_id %>
</p>

<p>
  <b>Type:</b>
  <%= @institution.type_id %>
</p>

<p>
  <b>Created by:</b>
  <%= @institution.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @institution.updated_by %>
</p>


<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
