<%= form_for(@user_config) do |f| %>
      
      <%= f.label :registration_columns %>
      
      <br/>
      <br/>
      
      <% Registration.column_names.push("statuses").sort.each_slice(5) do |j| %>
      <div class="fl">
        <% j.each do |i| %>
          <%= check_box_tag "user_config[reg_cols][]",i %>
          <%= i.gsub("qua","qualification").gsub("reg","registration").gsub("emer","emergency").gsub("prof","proficiency").titleize %>
          <br/>
        <% end %>
      </div>
      <% end %>
      
      <div class="cl"></div>
      <br/>
      <br/>      
      <br/>
      <br/>            
      
      <%= f.label :enquiry_columns %>
      
      <br/>
      <br/>
      
      <% Enquiry.column_names.sort.each_slice(5) do |j| %>
      <div class="fl">
        <% j.each do |i| %>
          <%= check_box_tag "user_config[enq_cols][]",i %>
          <%= i.titleize %>
          <br/>
        <% end %>
      </div>
      <% end %>
      <br/>
      <br/>
      <br/>
 <div class="cl"></div>
      <br/>
      <br/>      

      <%= f.submit "Save",{class: "btnp"} %>
      
<% end %>
