<div class="tab-container">
<ul class="tab-menus">
  <li class="active-tab">
  User Configuration
  </li>
</ul>
<div class="tab-content" style="background: none repeat scroll 0% 0% rgb(232, 240, 0); display: block;">
<br/>

    <% tabs_arr = %w(Followup Note Columns Colors Email) %>
    <div class="newtab-container">
    <div id="loading" style="display:none;">
      <%= image_tag "/images/icons/bload.gif" %><br/>
      <h1> Saving ... </h1>
    </div>
        <ul class="newtab-menus">
        <% tabs_arr.each do |i|  %>
            <% i1 = i.downcase %>
            <li lang='<%= i1 + "-content" %>' id='<%= i1 %>'><%= i %></li>
        <% end %>
        </ul>
        
        <% tabs_arr.each do |i|  %>
            <% i1 = i.downcase %>
            <div class="newtab-content" id='<%= i1+ "-content" %>'>
              <%= render i1 %>
            </div>
        <% end %>
        
    </div>


<script>

tinymce.init({
     selector: "textarea.tinymce",
     theme: "modern",
     plugins: [
      "advlist autolink lists link image charmap print preview hr anchor pagebreak",
      "searchreplace wordcount visualblocks visualchars code fullscreen",
      "insertdatetime media nonbreaking save table contextmenu directionality",
      "emoticons template paste textcolor "
     ],
     toolbar1: "insertfile undo redo | styleselect | sizeselect | bold italic | fontselect |  fontsizeselect | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
     toolbar2: "print preview media | forecolor backcolor emoticons",
     image_advtab: true,
     templates:[ 
        {title: 'Some title 1', description: 'Some desc 1', content: 'My content'}, 
        {title: 'Some title 2', description: 'Some desc 2', url: '/email_templates/3/partial'} 
    ],
     autosave_ask_before_unload: false
});

activeNewSubTab("newtab-content","followup-content","followup");

$(document).ready(function(){
    /* ON CLICKING MAIN MENU*/
    $(".newtab-menus li").click(function(){
        /* HIDE ALL TABS CONTENT*/
        $(".newtab-content").hide();
        /* SHOW THE CORESPONDING TAB CONTENT*/
        $("#"+this.lang).show();
        /* INACTIVE ALL TABS */
        $(".newtab-menus li").removeClass("active-tab");
        /* ACTIVE CURRENT TABS */
        $(this).addClass("active-tab");
    });
});


</script>

</div>
</div>
