<div class="tab-container">
<ul class="tab-menus">
  <li class="active-tab" lang="user_configuration_id">
  User Configuration
  </li>
  
  <li lang="theme_id">
   Theme 
  </li>
  
</ul>
<div id="user_configuration_id" class="tab-content" style="display: block;">
<br/>
<%= form_for(@user_config) do |f| %>
<%= f.hidden_field :user_id,value: current_user.id %>
<div class="boxp box-theme-ch">
  <!-- ---------------------Follow up----------------------------------- -->
  <div class="htab">
      <h5>
          <b>
            Follow Up
          </b>
      </h5>
      <%= f.submit "Save",{:class => "btnp fr"} %>
      <div class="cl"></div>
  </div>
  <br/>  
  
  <div class="cols">
          <%= fs(f,"def_follow_up_days","text_field",nil,"Days to Wait") %>          
  </div>
  
   <div class="cols">
          <%= fs(f,"def_f_u_name","text_field",nil,"Default Title") %>          
  </div>
  
  <div class="cols">
          <%= fs(f,["def_f_u_desc",style: 'width:200px;height:40px;'],"text_area",nil,"Default Description") %>          
  </div>
  <br/>
   <div class="cols">
          <%= fs(f,[:def_f_u_type, 
                     EventType.order(:name), 
                     :id, 
                     :name,
                     {:prompt => "--Event Type--"}],"collection_select",nil,"Default Type") %>
  </div>
  
  <div class="cols">
          <%= fs(f,[:def_f_u_ass_to, 
                     User.order(:first_name), 
                     :id, 
                     :name,
                     {:prompt => "--Assign To--"}],"collection_select",nil,"Default Assign To") %>
  </div>
  
  <div class="cols">
          <%= fs(f,:auto_cr_f_u,"check_box",nil,"Auto Create") %>          
  </div>
  
    <!-- ------------------------Email-------------------------------- -->
  <div class="htab">
      <h5>
          <b>
            Default Email To Use
          </b>
      </h5>
  </div>
  <br/>  
  
  <div class="cols">
       <div class="fbox">
        <%= f.label :enquiries %>
        <%= f.select :def_enq_email,["email1","email2"] %>
       </div>
       <div class="fbox">
        <%= f.label :registrations %>
        <%= f.select :def_reg_email, ["email1","email2"] %>
        </div>
        <div class="fbox">
        <%= f.label :create_enquiry %>
        <%= f.select :def_create_enquiry_email, (EmailTemplate.all.map &:name) %>
        </div>
        <div class="fbox">
        <%= f.label :from_email %>
        <%= f.select :def_from_email, (Smtp.all.map &:name) %>
        </div>
        <%= fbox(f,:auto_email_enq,"check_box",nil,"Auto Send") %>          
      
  </div>
  
 


  <!-- ------------------------Columns to display-------------------------------- -->
  
  <div class="htab">
      <h5>
          <b>
            Columns To Display
          </b>
      </h5>
  </div>
  <br/>
  <h3>
  Enquiry Columns <span class="a1" onclick="deselectAllCheck('#enq_cols');">deselect all </span>
  </h3>
  <br/>
  <br/>
  <div class="cols" id="enq_cols">
  <% enq_cols = Enquiry.column_names.sort %>
  <% enq_cols_gr = enq_cols.group_by{|i| i[0]} %>
  <% user_enq_cols = @user_config.enq_cols.map {|i| i.is_a?(Array) ? i[0] : i} %>
  <% enq_cols_gr.keys.each do |j| %>
     
      <div class="col3">
        <h2 class="brg01">
         <%= j.titleize %>&nbsp;&nbsp;&nbsp;
         </h2>
         <br/>
         <br/>
        <% enq_cols_gr[j].each do |i| %>
          <%= check_box_tag "user_config[enq_cols][]",i.to_sym,user_enq_cols.include?(i.to_sym) %>
          <%= i.titleize %>
          <br/>
        <% end %>
      </div>
      <% end %>
  </div>
  <br/>
  <br/>
  <h3>
  Enquiry - Default Column to Search
  </h3>
  <br/>
  <br/>
  <div class="frbox">
      <%= label_tag :default_search %>
      <%= f.select(:def_enq_search_col, 
                   (enq_cols.map {|i| [i.titleize,i]}) )%>
  </div>
  <h3>
  Registration Columns <span class="a1" onclick="deselectAllCheck('#reg_cols');">deselect all </span>
  </h3>
  <br/>
  <br/>
  <div class="cols" id="reg_cols">
    <!-- **************************** -->
  <% reg_cols = Registration.column_names.sort %>
  <% reg_cols_gr = reg_cols.group_by{|i| i[0]} %>
  <% user_reg_cols = @user_config.reg_cols.map {|i| i.is_a?(Array) ? i[0] : i} %>
  <% reg_cols_gr.keys.each do |j| %>
      <div class="col3">
        <h2 class="brg01">
         <%= j.titleize %>&nbsp;&nbsp;&nbsp;
         </h2>
         <br/>
         <br/>
        <% reg_cols_gr[j].each do |i| %>
          <%= check_box_tag "user_config[reg_cols][]",i.to_sym,user_reg_cols.include?(i.to_sym) %>
          <%= i.gsub("qua","qualification").gsub("reg","registration").gsub("emer","emergency").gsub("prof","proficiency").titleize %>
          <br/>
        <% end %>
      </div>
  <% end %>
  </div>
  <br/>
  <br/>

  <h3>
  Registration - Default Column to Search
  </h3>
  <br/>
  <br/>
  <div class="frbox">
      <%= label_tag :default_search %>
      <%= f.select(:def_reg_search_col, 
                   (reg_cols.map {|i| [i.titleize,i]})) %>
  </div>
  <h3>
  <!-- ------------------------Note-------------------------------- -->
  <div class="htab">
      <h5>
          <b>
            Note
          </b>
      </h5>
  </div>
  <br/>
  
  <div class="cols">
      <div id="note-action" class="cols action-box">
        <%= fbox(f,[:def_note,
                  size: "6x6",
                  class: "tinymce",
                  style:"height:auto;"],"text_area",nil) %>
      </div>
  </div>
  <div class="cl"></div>
  <br/>
  <br/>
   <br/>
  <br/>
  <%= f.submit "Save",{:class => "btnp fr"} %>
  <br/>
  <br/>  
<% end %>
<!-- ------------------------Tab ENd-------------------------------- -->
</div>
</div>
<!-- ------------------------Colors-------------------------------- -->

    <div id="theme_id" class="tab-content" style="display: ;">
    <div class="boxp box-theme-ch">
      <div class="htab">
          <h5>
              <b>
               Theme
              </b>
          </h5>
      </div>
      <br/>  
      <div class="cols">

      <!-- THEME - STARTS -->
        <ul class="lsb">
            <h3>
            Accent
            </h3>
            <br/>
            <br/>
            <br/>
            <br/>
            <li>
                <ul class="theme-colrs" id="theme-color">
                  <% %w( blue darkorange violet red pink orange green yellow    ).each do |i| %>
                      <li>
                      <span class="<%= i %>-theme" id="<%= i %>-theme" data-theme="<%= i %>" onclick="activateTheme('theme-colrs',this.id,'theme');">
                      &nbsp;
                      </span>
                      </li>
                  <% end %>
                </ul>
            </li>
        </ul>
        <!-- THEME - ENDS -->
            <br/>
            <br/>
            <br/>
            <br/>
        <!-- BACKGROUND - STARTS -->
        <ul class="lsb">
        <h3>
        Background
        </h3>
            <br/>
            <br/>
            <br/>
            <br/>
        <li>
        <ul class="theme-colrs" id="bg-color">
                  <% %w( blue cream white gray green pink lightblack2 darkblue).each do |i| %>
                      <li>
                      <span class="<%= i %>-bg" id="<%= i %>-bg" data-bg="<%= i %>" onclick="activateTheme('theme-colrs',this.id,'bg');">
                      &nbsp;
                      </span>
                      </li>
                  <% end %>
       </ul>
       </li>
       </ul>
        <!-- BACKGROUND - ENDS -->
            <br/>
            <br/>
            <br/>
       
        <h3>
         Work Area
        </h3>
            <br/>
            <br/>
            <br/>
            <br/>
 
        <ul class="theme-colrs" id="wa-color">
                  <% %w( blue cream white gray darkblue green pink ).each do |i| %>
                      <li>
                      <span class="<%= i %>-wa" id="<%= i %>-wa" data-wa="<%= i %>" onclick="activateTheme('theme-colrs',this.id,'wa');">
                      &nbsp;
                      </span>
                      </li>
                  <% end %>
       </ul>
       </li>
       </ul>
        <!-- Work Area - ENDS -->

          <br/>
          <br/>      
          <br/>
          <br/>
          <br/>      
          <br/>
        <input onclick="storeThemeInSession();" class="btnp" type="submit" value="Save" style="background: none repeat scroll 0% 0% rgb(42, 136, 200); border-color: rgb(0, 51, 108);">

      </div>
      
      <br/>
      <br/>
    </div>
    </div>


</div>












<script>

tinymce.init({
     selector: "textarea.tinymce",
     theme: "modern",
     plugins: [
      "advlist autolink lists link image charmap print preview hr anchor pagebreak",
      "searchreplace wordcount visualblocks visualchars code fullscreen",
      "insertdatetime media nonbreaking save table contextmenu directionality",
      "emoticons template paste textcolor "
     ],
     toolbar1: "insertfile undo redo | styleselect | sizeselect | bold italic | fontselect |  fontsizeselect | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
     toolbar2: "print preview media | forecolor backcolor emoticons",
     image_advtab: true,
     templates:[ 
        {title: 'Some title 1', description: 'Some desc 1', content: 'My content'}, 
        {title: 'Some title 2', description: 'Some desc 2', url: '/email_templates/3/partial'} 
    ],
     autosave_ask_before_unload: false
});

activeNewSubTab("newtab-content","followup-content","followup");

$(document).ready(function(){
    /* ON CLICKING MAIN MENU*/
    $(".newtab-menus li").click(function(){
        /* HIDE ALL TABS CONTENT*/
        $(".newtab-content").hide();
        /* SHOW THE CORESPONDING TAB CONTENT*/
        $("#"+this.lang).show();
        /* INACTIVE ALL TABS */
        $(".newtab-menus li").removeClass("active-tab");
        /* ACTIVE CURRENT TABS */
        $(this).addClass("active-tab");
    });
});
activeMM("settingMM");
setColorsFromSession();

</script>
























