<!-- settings menu --->
<%= render 'user_configs/menu' %>

<!-- Search settings -->
<div class="col-md-9">
              <div class="row row-top">
                <h3><%= @partial.titleize %></h3>
              </div>
              <div class="row">
                <div class="well">
                   <%= form_for(@user_config, html: {class: "form-horizontal"}) do |f| %>
                    <%= f.hidden_field :user_id,value: current_user.id %>
                       <!-- Contains the content of the form, same form since all just edits the user_configs table -->
                       <%= render @partial, f: f %>

                    <br/>
                    
                    <div class="form-group form-last">
                      <div class="col-sm-offset-10 col-sm-5">
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
</div>

<script>
actmm('settings');
$(".col-md-3 > ul.nav-pills > li#<%= @partial %>").attr('class','active'); 
actMultiSelect('multiple-select');

colsClick("enq_cols");
colsClick("reg_cols");
colsClick("ins_cols");
colsClick("per_cols");
</script>
