<!-- rendering the left menu -->
<%= render 'resources/menu' %>

<!-- branches more information -->

<% resource_disp1 = "Branch" %>
<% resource_disp2 = "Branches" %>
<% resource = @branches %>
<% new_resource = Branch.new %>

<div class="tab-container">
    <div class="tab-content" style="display: block;">
        <div class="boxp box-theme-ch">
        <h2 class="htab">All <%= resource_disp2 %></h2>
        <br/>
        <br/>
        <br/>
          <table  class="tables2" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <th>Name</th>
                <th colspan="2">Description</th>
                <th>Manager</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Delete</th>
              </tr>

            <% resource.each do |r| %>
              <tr>
                <td>
                  <%= best_in_place_if (can? :update,r), r, :name,display_as: :tname %>
                </td>
                <td colspan="2">
                  <%= best_in_place_if (can? :update,r), r, :desc,:type => :textarea %>
                </td>
                <td class="grey"><%= r.cby %></td>
                <td class="grey"><%= r.created_at.strftime("%F %R %p") rescue "Unknown" %></td>
                <td class="grey"><%= r.uby %></td>
                <td class="grey"><%= r.updated_at.strftime("%F %R %p") rescue "Unknown" %></td>
                <td>
                  <%= link_to image_tag("/images/icons/del.png"),r, method: :delete, data: { confirm: 'Are you sure?' }  %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td colspan="8" align="left">
              </td>
            </tr>
          </table>
          <br/>
          <br/>
          <br/>
          
         <div id="new_resource_form">
         <%= form_for(new_resource) do |f| %>
          <ul class="vlsdet">
           <h2 class="htab"> New <%= resource_disp1 %> </h2>
           <br/>
           <br/>
           
          <li class="frbox">
            <label> Name </label> <%= f.text_field :name %>
          </li>
          
          <li class="frbox">
            <label> Description </label> <%= f.text_area :desc, {size: "10x3",style: 'width:400px;'} %>
          </li>
          <br/>
          <br/>
          <br/>
          <li class="frbox">

          <%= f.button "Create", class: "btnp" %>
          </li>
          </ul>

        <% end %>
        </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
 activeMM("resourcesMM");
});
</script>



