<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @branch.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @branch.desc %>
</p>

<p>
  <b>Created by:</b>
  <%= @branch.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @branch.updated_by %>
</p>


<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
