<!-- everywhere notes -->
<% if current_user.is_a?(User) %>
  <% all_notes = sub.notes %>
<% else %>
  <% all_notes = sub.notes.where(created_type: current_user.class.name) %>
<% end %>

<% all_notes.each do |note| %>
<% u = note.created %>
<% if !u.nil? %>
           <div class="blue-box note-box">

              <div class="row padT10">
                 <div class="col-xs-2">
                 <%= image_tag((u.image? ? u.image_url : "/images/icons/user.png"),
                                     {width: "40",
                                      class: "mr-10"
                                      }) %>
                 </div>
                 <div class="col-xs-9 pl-0 note-content">
                  <%= best_in_place_if (current_user.id == u.id), note, :content, type: "textarea", display_as: "safe_content" %>
                 </div>
                 <div class="col-xs-1">
                 <% if (current_user.id == u.id) %>
                   <%= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe,note_path(note,sub: sub.class.name,sub_id: sub.id),
                                   method: :delete,
                                   class: "pull-right remove-note",
                                   remote: true,
                                   data: { confirm: 'Are you sure?' },
                                   style: "display:none;" %>
                 <% end %>
                 </div>

              </div>
              <div class="row">
                <div class="col-xs-5 text-left">
                  <small class="light">
                  <small>
                  <%= link_to u.first_name,u %>
                  <%= note.created_at %>
                  </small>
                  </small>
                </div>
              </div>
           </div> 
<% end %>
<% end %>

<script>
  $('.note-box').hover(function(){
    $(this).find('.remove-note').css('display','');
  },function(){
    $(this).find('.remove-note').css('display','none');
  });
</script>
