
<% sub.notes.each do |note| %>
<% u = note._cre_by %>
<% if !u.nil? %>
           <br/>
           
               
               <%= image_tag((u.image? ? u.image_url : "/images/icons/user.png"),
                                   {width: "40",
                                    class: "imgb fl",
                                    style: "margin-right:10px;"}) %>
               <% if (current_user.id == u.id) %>
                 <%= link_to "X",note_path(note,sub: sub.class.name,sub_id: sub.id),
                                 method: :delete,
                                 class: "fr",
                                 remote: true,
                                 data: { confirm: 'Are you sure?' } %>
               <% end %>
               <span style="color:#999;padding-top:10px;">
                <%= best_in_place_if (current_user.id == u.id), note, :content, type: "textarea" %>
               </span>
               <br/>
               <br/>

              <%= link_to u.first_name,u %> 
              &nbsp;&nbsp; 
              <%= note.created_at.strftime("%A, %F %R %p") rescue "Unknown" %>
          
<br/>
<br/>
<div class="brg0"></div>

<% end %>

<% end %>

