<!-- Asking the counselor to update fees and sclorship from offer letter -->

<%= form_for(@programme,html: {class: "form-horizontal"}) do |p| %>
  <% cur = (p.object.currency || @programme.partner.country.currency.code rescue nil) %>
  <%= bs(p,[:p_fee_id,
            ProcessingFeeType.order(:name),
            :id,
            :name,
            {prompt: "-fee type-"},{}],
             "collection_select",
             ["Type",2],8,12) %>
             
    <%= bs(p,[:currency,
            all_currencies(Money::Currency.table),
            {:include_blank => 'Select a Currency',
             :selected => cur},{}],
            "select",
            [nil,2],8,12) %>
                
    <%= bs(p,:p_fee,"text_field",["amount",2],8,12) %>
    
<% if p.object.p_fee_bank_details %>
    <%= bs(p,:p_fee_bank_details,"text_area",["Bank Details",2],8,12) %>
<% end %>

    <div class="form-group form-last">
      <div class="text-center">
        <%= p.submit "Save",{class: "btn btn-primary"} %>
      </div>
    </div>

  
<% end %>

