<!-- Asking the counselor to update fees and sclorship from offer letter -->

<%= form_for(@programme,html: {class: "form-horizontal"}) do |p| %>
  <% cur = (p.object.currency || @programme.institution.country.currency.code) %>
  <%= bs(p,[:p_fee_id,
            ProcessingFeeType.order(:name),
            :id,
            :name,
            {prompt: "-fee type-"},{}],
             "collection_select",
             ["Type",4],7,6) %>
             
    <%= bs(p,[:currency,
            all_currencies(Money::Currency.table),
            {:include_blank => 'Select a Currency',
             :selected => cur},{}],
            "select",
            [nil,4],7,6) %>
                
    <%= bs(p,:p_fee,"text_field",["amount",4],7,6) %>
    
<% if false %>
    <%= bs(p,[:p_fee_status_id,
                ProcessingFeeStatus.order(:name),
                :id,
                :name,
                {prompt: "-fee status-"},{}],
                 "collection_select",
                 ["status",4],7,6) %>
<% end %>

    <div class="form-group form-last">
      <div class="col-xs-5 text-right">
        <%= p.submit "Save",{class: "btn btn-primary"} %>
      </div>
    </div>

  
<% end %>

