
<div class="row well">
	<table class="table table-bordered">
		<thead>			
			<% @table_header.each do |u| %>
     			<th><h5><strong> <%= u %> </strong></h5> </th>
			<% end %>
		</thead>
		<tbody>						
			<% @ordered_output.each do |item| %>
			   <tr> 
               <td><h4><b> <%= link_to item[0].titleize,"/institutions/#{item[1][3]}" %><b></h4></td>
               <td><h4><b> <%= item[1][0] %> </b></h4></td>
               <td><h4><b> <%= item[1][1] %> </b></h4></td>     
               <td><h4><b> <%= item[1][2] %> </b></h4></td>               
			   </tr>
			<% end %>		    
		</tbody>

	</table>
</div>