<div class="row well">
	<div id="container">
	</div>
</div>

<div class="row well">
	<table class="table table-bordered">
		<thead>			
			<% @table_header.each do |u| %>
     			<th><h5><strong> <%= u %> </strong></h5> </th>
			<% end %>
		</thead>
		<tbody>						
			<% @ordered_output.each do |item| %>
			   <tr> 
			   <% if @no_link %>
			     <td><h4> <%= item[0].titleize %></h4></td>
			   <% else %>	
                 <td><h4> <%= link_to item[0].titleize,"/institutions/#{item[1][3]}" %></h4></td>
               <% end %>
               <% for n in 0..(@data_limit - 1) %>
               		<td><h4> <%= item[1][n] %> </h4></td>         
               <% end %>
			   </tr>
			<% end %>		    
		</tbody>

	</table>
</div>

<script>
<% if !@charts.nil? %>
  	init_negative_chart('#container',<%= @charts[0].to_s.html_safe %>,<%= @charts[1].to_json.html_safe %>,'<%= @chart_text %>'); 
<% end %>
</script>