
<div class="row well">
	<table class="table table-bordered">
		<thead>			
			<% @table_header.each do |u| %>
     			<th><h5><strong> <%= u %> </strong></h5> </th>
			<% end %>
		</thead>
		<tbody>			
			<% @ordered_output.each do |institution| %>
			   <tr> 
               <td><h4> <%= link_to institution[1].titleize,"/institutions/#{institution[0]}" %></h4></td>
               <td><h4> <%= institution[2] %></h4></td>
               <td><h4><strong> <%= @table_data[institution[0]][0] %></strong></h4> </td>
               <td><h4><strong> <%= @table_data[institution[0]][1] %></strong></h4> </td>
			   </tr>
			<% end %>		    
		</tbody>

	</table>
</div>