<!--Analytics -->
<%= head(nil,"Analytics","Saved Reports",saved_reports_path) %>
<div class="row">
<div class="col-xs-12 well">


	<% core = "programmes" %>

	<%= head_total(core) %>

	<%= analytics_listing(core,[["Long","DESC"],["Less","ASC"]],"Time To Join","duration",false) %> 

	<%= analytics_listing(core,[["Most","DESC"],["Least","ASC"]],"Preferred Course Levels","course_level_weight",true) %> 

	<%= analytics_listing("course_levels",[["Most","DESC"],["Least","ASC"]],"Profitable Course Levels","fees_commission",true) %>
	<%= analytics_listing(core,[["More","DESC"],["Less","ASC"]],"Processing Fee Earned Countries","countries_processing_fees",true) %>

	<% core = "enquiries" %>

	<%= head_total(core) %>

	<%= analytics_listing(core,[["Long","DESC"],["Less","ASC"]],"Time To Register","duration") %> 

	<%= analytics_listing("student_sources",[["Most","DESC"],["Least","ASC"]],"Useful Student Sources","enquiries_registered",true) %> 

	<%= analytics_listing("contact_types",[["Most","DESC"],["Least","ASC"]],"Powerful Contact Types","enquiries_registered",true) %> 


	<%= analytics_listing(core,[["Most","DESC"],["Least","ASC"]],"Popular (Actions)","popular_actions") %> 

	<%= analytics_listing(core,[["Most","reverse"],["Least","compact"]],"Popular (Impressions)","popular_impressions") %>
	

	<% core = "registrations" %>

	<%= head_total(core) %>

	<%= analytics_listing(core,[["Most","DESC"],["Least","ASC"]],"Popular (Actions)","popular_actions") %> 

	<%= analytics_listing(core,[["Most","reverse"],["Least","compact"]],"Popular (Impressions)","popular_impressions") %>

	<%= analytics_listing(core,[["Most","ASC"],["Least","DESC"]],"Profitable Registrations","fees_commission",true) %>


	<% core = "institutions" %>

	<%= head_total(core) %>

	<%= analytics_listing(core,[["More","Joined"],["Less","Deferred"]],"Conversion Rate","applied_with",true) %> 

	<%= analytics_listing(core,[["Most","DESC"],["Least","ASC"]],"Popular (Actions)","popular_actions") %> 

	<%= analytics_listing(core,[["Most","reverse"],["Least","compact"]],"Popular (Impressions)","popular_impressions") %>

	<%= analytics_listing(core,[["Long","minus"],["Quick","plus"]],"Time to Make the First Payment","first_payment_duration") %>

	<%= analytics_listing(core,[["Most","DESC"],["Least","ASC"]],"Profitable Institutions","fees_commission",true) %>

	<% core = "people" %>

	<%= head_total(core) %>

	<%= analytics_listing(core,[["Most","DESC"],["Least","ASC"]],"Popular (Actions)","popular_actions") %> 

	<%= analytics_listing(core,[["Most","reverse"],["Least","compact"]],"Popular (Impressions)","popular_impressions") %>

	<%= analytics_listing(core,[["Most","DESC"],["Least","ASC"]],"Valuable Sub Agents","enquiries_registered",true) %> 

</div>
</div>

<script type="text/javascript">
  actmm("reports")
</script>