<!-- Documents for regs -->
<% if contract.documents.size == 0  %>

  <i>No documents uploaded</i>

<% else %>

    <%= form_tag('/documents/delete_or_download') do %>
        <%= hidden_field_tag :contract_id,contract.id %>
        <div class="row row-top">
        <div class="col-xs-6">
        <table class="table table-bordered" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                  <tr class="green-right">
                    <td>&nbsp;</td>
                    <td>Name</td>
                    <td>Doc Category</td>
                    <td></td>
                  </tr>
            <% contract.documents.includes(:contract_category).each do |cat| %>
                  <tr>
                    <td><%= check_box_tag "doc_id[]",cat.id %></td>
                    <td><%= cat.name rescue "Unknown" %></td>
                    <td><%= cat.contract_category.name rescue "Unknown" %></td>
                    <td><%= link_to 'download'.html_safe,cat %> </td>
                  </tr>
            <% end %>
                 </tbody>
        </table>
        </div>
        </div>
        <div class="row">
        <div class="col-xs-12 form-group">
        <%= submit_tag "Delete Selected",{name: "doc_delete",class: "btn btn-primary",data: { confirm: 'Are you sure?' }} %>
        <%= submit_tag "Download Selected",{name: "doc_download", class: "btn btn-primary"} %>

        <%= submit_tag "Consolidate Selected",{name: "doc_consolidate_temp", class: "btn btn-primary", style:"text-decoration: line-through;", onclick: "alert('Not ready yet!'); return false;"} %>
        </div>
        </div>
    <% end %>

<% end %>


