<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @commission_claim_status.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @commission_claim_status.desc %>
</p>

<p>
  <b>Created by:</b>
  <%= @commission_claim_status.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @commission_claim_status.updated_by %>
</p>


<%= link_to 'Edit', edit_commission_claim_status_path(@commission_claim_status) %> |
<%= link_to 'Back', commission_claim_statuses_path %>
