<h4>
<img src="/images/icons/org_tasks.png" width=20 />
Task
</h4>
<br/>
<br/>
<div style="height:0">&nbsp;</div>
<div class="previewBox">


<% if !@task.enquiry_id.nil? %>
  Associated with: <%= link_to 'Enquiry',"/enquiries/#{@task.enquiry_id}" %>
<% end %>
<% if !@task.registration_id.nil? %>
  Associated with: <%= link_to 'Registration',"/registrations/#{@task.registration_id}" %>
<% end %>
<% u = @task._ass_by %>
<%= image_tag((u.image? ? u.image_url : "/images/icons/user.png"),
                                   {width: "40",
                                    class: "imgb fl",
                                    style: "margin-right:10px;"})  rescue nil %>
               <span style="color:#999;">
                <ul class="vlsdet">
                   <li><label>Topic </label>:  <%= @task.topic.name rescue "Unknown" %></li>
                   <br/>
                   
                
                </ul>
               </span>
               <%= link_to u.first_name,u  rescue nil%> 
              &nbsp;&nbsp; 
              <%= @task.created_at.strftime("%A, %F %R %p") rescue "Unknown" %>
               <br/>
               <br/>

<h2><%= @task.done ? "Done" : "Not Completed" %></h2>

<ul class="vlsdet">

   <li><label>Status </label>: <%= @task.status.name rescue "Unknown" %></li>
   <li><label>Due Date </label>: <%= @task.duedate.strftime("%F %R %p") rescue "Unknown" %></li>
   <li><label>Priority </label>: <%= @task.priority %></li>
    <li><label>Assigned To </label>: <%= @task.ato %></li>
   <li><label>Assigned By </label>: <%= @task.aby %></li>
   <li><label>Created By </label>: <%= @task.cby %></li>
   <li><label>Created At </label>: <%= @task.created_at.strftime("%F %R %p") %></li>
   <li><label>Description </label>: <%= @task.desc %></li>
</ul>
</div>
<br/>
<br/>
<script>
$(function(){
    setColorsFromSession();
});

</script>
