<!-- tasks index -->

<div class="row row-top">
  <div class="col-xs-6">
    <h3>Tasks</h3>
  </div>
  <% if false %>
  <div class="col-xs-6">
    <div class="form-group form-last pull-right">
      <%= link_to "Sync my Tasks with Google Tasks",
                  '/tasks/start_sync',
                  {class: "btn btn-primary",
                   data: { confirm: 'This can take a few moments, are you sure?' }} %>
      <%= link_to "New Task",
                  'javascript:void(0)',
                  {class: "btn btn-primary", id: "id_new_task"} %>
    </div>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <div class="blue-well data-table padAll10" id="task-filter">
        <div class="row  padAll10">
        <h4 class="bold-subhead  border-b">Filter By</h4>
            <div class="form-group col-xs-4">
              <%= select_tag :abdc,
                          options_for_select([["-all time-",""],
                                             ["Today","todays"],
                                             ["This Week","this_weeks"],
                                             ["This Month","this_months"]]),
                          {id: "period",class: "form-control"} %>
            </div>
            <div class="form-group col-xs-4">
              <%= select_tag :topic_id,
                        options_for_select(TaskTopic.order(:name).map{|i| [i.name,i.id]}),
                        {prompt: "-topic-",
                         class: "form-control",
                         id: "topic"} %>
            </div>
            <div class="form-group col-xs-4">
              <%= select_tag :done,
                  options_for_select([["completed",1],["not completed",0]]),
                  {prompt: "-status-",
                   class: "form-control",
                   id: "done"} %>
            </div>
            <div class="form-group col-xs-4">
              <%= select_tag :assigned_by,
                  options_for_select(User.order(:first_name).map{|i| [i.first_name,i.id]}),
                  {prompt: "-assigned by-",
                   class: "form-control",
                   id: "assigned_by"} %>
            </div>
            <div class="form-group col-xs-4">
              <%= text_field_tag :duedate,nil,{placeholder: "Due on",
                                               id: "duedate",
                                               class: "datepicker form-control"} %>
            </div>
            <div class="form-group col-xs-4 padL20">
              <%= link_to "Reset","#",
                  {onclick: "filterTasksReset();",class: "clickable sm"} %>
            </div> 
            </div>     
      </div>

    <div class="row padAll10 add-task green-well data-table">
    <h4 class="bold-subhead  border-b">Quick Task</h4>
    <%= form_for(Task.new, html: {class: "form"}) do |g| %>
      <%= g.hidden_field :assigned_by, value: current_user.id %>
      <div class="to-do">
        <div class="form-inline"> 
        <div class="form-group col-xs-5">
          <%= g.text_field :title,{placeholder: "Add a task", class: "form-control", size: '20'} %>
        </div>
        

          <div class="form-group">
            <%= g.collection_select :topic_id,
                          TaskTopic.order(:name),
                          :id,
                          :name,
                          {prompt: "-topic-"},
                          {class: "form-control"} %>
          </div>
          <div class="form-group">
             <%= g.collection_select :assigned_to,
                              User.order(:first_name),
                              :id,
                              :first_name,
                              {prompt: "-assign to-"},
                              {class: "form-control"} %>
          </div>
          <div class="form-group">
            <%= g.text_field :duedate,{placeholder: "due on",class: "datepicker form-control", size: "15"} %>
          </div>
          <div class="form-group pull-right">
            <%= g.submit "Add", {class: "btn btn-primary"} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    
      <div class="row row-right">
        <div id="show-tasks">
         <%= render 'show' %>
        </div>
      </div>
    </div>
  </div>
</div>

  


<link rel="stylesheet" href="/css/jquery-ui-1.10.4.custom.css">


<script type="text/javascript">

 actmm("tasks");

 $('#task-filter select').change(function(){
       filterTasks();
 });

  $('span.task_checkbox').on("click",function(){
      if ($(this).find('span').data('state') == 'fill'){
        e = $(this).parents('.well').removeClass("complete");
       }
      else if ($(this).find('span').data('state') == 'empty'){
        e = $(this).parents('.well').addClass("complete");
       }
  });
  $(".best_in_place").best_in_place();
  $("#id_new_task").click(function(event) {
    $(".add-task").toggle();
  });

</script>


