<!-- all contract details -->
<% obj.contracts.each do |a| %>
<br/>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsedet">
        <span class="bold-subhead">
         Details
         </span>
        </a>
      </h4>
    </div>
    <div id="collapsedet" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="border-b">
            <ul class="vlsdet-xl pt-0">
                    <% i = li_dt('initiate_date','contract initiated','yet to initiate',a) %>
                    <% s = li_dt('current_contract_start_date','contract started','yet to start',a) %>
                    <% e = li_dt('current_contract_end_date','contract ended','is not ended',a) %>
                    <% r = li_dt('renewal_reminder_date','reminded','not yet',a) %>

                    <div class="pull-right">
                      <h5 class="text-center green-sided">Status : <b><%= a.contract_status.try(:name) %></b></h5>
                    </div>

                    <% %w(name invoicing_deadline partners_target internal_target).each do |v| %>
                      <%= li1(v,v,'span','small',a) %>
                    <% end %>



                     <% [i,s,e,r].each do |v| %>
                          <%= li1(v[1],v[0],'span','small',a)%>
                      <% end %>
            </ul>
          </div>
          <div>
                    <ul class="vlsdet">
                        <li>
                        <label class="light">Created</label>
                        <small><%= link_to a.cby,a._cby %></small>
                        <small><%= a.created_at %></small>
                        </li>

                        <li>
                        <label  class="light">Last Modified</label>
                        <small><%= link_to a.uby, a._uby %></small>
                        <small><%= a.updated_at %></small>
                        </li>
                    </ul>
          </div>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapserec">
         <span class="bold-subhead">
         Recruitment Territories
         </span>
        </a>
      </h4>
    </div>
    <div id="collapserec" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="col-xs-12">
            <ul class="vlsdet-xl pt-0">
                    <% [[:all_prohibited_countries,"countries_prohibited","red-wrong"],
                        [:all_permitted_countries,"countries_allowed","green-right"],
                        [:all_prohibited_regions,"regions_prohibited","red-wrong"],
                        [:all_permitted_regions,"regions_allowed","green-right"]].each do |elem| %>
                        <%= recruit_ter(a,elem) %>
                    <% end %>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsesli">
         <span class="bold-subhead">
         Sliding Scale
         </span>
        </a>
      </h4>
    </div>
    <div id="collapsesli" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="col-xs-8">

            <% a.sliding_scales.each do |ss| %>
              <ul class="vlsdet-xl pt-0">
              <% clev =  ss.course_level_name.join(", ") %>
              <h5 class="bold-subhead"><%= clev.blank? ? "All Course Levels" : clev %></h5>

              <li>
              <label class=light>Progression</label>
                <small class="tag-like blue">
                2nd Year&nbsp;&nbsp;
                <%= ss.second_year.blank? ? 0 : ss.second_year %>%
                </small>
                &nbsp;&nbsp;
                <small class="tag-like blue">
                3rd Year&nbsp;&nbsp;
                <%= ss.third_year.blank? ? 0 : ss.third_year %>%
                </small>
              </li>
              </ul>
                <table class="table table-bordered border-b" border="0" cellpadding="0" cellspacing="0" width="100%">

                <tbody>
                  <tr class="green-right">
                    <td>From</td>
                    <td>To</td>
                    <td>Commission</td>
                  </tr>
                  <% ss.sliding_ranges.each do |sr| %>
                      <% if (sr.from.nil? && sr.to.nil?) %>
                        <% text = "to all students" %>
                      <% elsif (sr.from.nil? && !sr.to.nil?) %>
                        <% text = "#{sr.to}+ students" %>
                      <% else %>
                        <% text = nil %>
                      <% end %>
                  <tr>
                    <td><%= sr.from %></td>
                    <td><%= sr.to %></td>
                    <td><%= sr.commission_percentage %> %&nbsp;&nbsp;
                        <% if !text.nil? %>
                            <span class="tag-like green">
                            <%= text %>
                            </span>
                        <% end %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
                </table>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsedoc">
        <span class="bold-subhead">
         Documents
         </span>
        </a>
      </h4>
    </div>
    <div id="collapsedoc" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="col-xs-12">

            <%= render 'contracts/document',contract: a %>

            <!-- documents -->
          <%= nested_form_for(a,
            html: {onsubmit: "return validateAll(this);",
            multipart: true,
            class: "form-horizontal"}) do |f| %>
                  <%= f.fields_for :documents,a.documents.build do |d| %>
                  <div class="row blue-well">
                    <div class="row row-top">
                      <div class="col-xs-12 text-right padR30">
                        <%= d.link_to_remove('<span class="glyphicon mar0 glyphicon-remove"></span>'.html_safe) %>
                      </div>
                    </div>

                      <%= bs(d,[:category_id,DocCategory.order(:name),
                                                                  :id,
                                                                  :name,
                                                                  {prompt: "-doc category-"},{}],
                                                                  "collection_select",
                                                                  [nil,4],7,6) %>
                      <%= bs(d,"name","text_field",[nil,4],7,6) %>

                      <div class="col-xs-6">
                              <div class="form-group">
                              <label class="control-label col-xs-4">Choose File</label>
                                  <div class="col-xs-7">
                                    <%= d.file_field :path,{class: 'btn btn-file'} %>
                                  </div>
                          </div>
                      </div>

                      <%= d.hidden_field :registration_id %>

                  </div>
                  <div class="clear"></div>
                  <% end %>
                <br/>
                <div class="row row-top">
                <div class="col-xs-12 form-group">
                  <%= f.link_to_add "Add Document", :documents,{class: 'btn btn-default'} %>
                </div>
                </div>
                <div class="row row-top">
                <div class="col-xs-12 form-group">
                  <%= f.submit "Save",{class: "btn btn-primary"} %>
                </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsenot">
        <span class="bold-subhead">
         Notes
         </span>
        </a>
      </h4>
    </div>
    <div id="collapsenot" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="col-xs-8">
          <div id="shared_note_<%= a.id %>" >
            <%= render 'notes/note', sub: a %>
          </div>
            <%= render 'notes/form', i: a %>
         </div>
      </div>
    </div>
  </div>
</div>
<h5 class="text-right">
<%= link_to "Click here",a,method: :delete,data: { confirm: 'Are you sure?' }  %> to delete this contract!
</h5>
<% end %>

<br/>
<script>
  $('.best_in_place').best_in_place();
  $(".app_note").markdown({width: 500});
</script>
