<!-- basic information about the registration -->
<% a = @registration %>

<div class="row border-b">
  
  <div class="col-xs-3">
    <%= render 'images/disp', core: "registration", a: a %>

  </div>
  <div class="col-xs-4 row-top">
    <ul class="vlsdet pt-0">
        <h4 class="row-top bold-subhead">Personal</h4>
        <% %w(ref_no first_name surname date_of_birth gender).each do |v| %>
        <%= li1_insecure(v,v,'span','small',a)%>
        <% end %>
        <%= li2_insecure('nationality',[:country_id,:select,Country,
                  :nationality],a,nil,"span","strong")%>
    </ul>
  </div>
  <div class="col-xs-5 row-top">
    <ul class="vlsdet pt-0">
        <h4 class="row-top bold-subhead">Contact</h4>
        <% %w(mobile1 mobile2 email alternate_email home_phone work_phone).each do |v| %>
        <%= li1_insecure(v,v,'span','small',a)%>
        <% end %>
    </ul>
  </div>

</div>
<div class="row row-top border-b">
  <div class="col-xs-6">
    <ul class="vlsdet">
        <h4 class="bold-subhead">Address</h4>
        <% [['address_line1','line1'],
            ['address_line2','line2'],
            ['address_city','city']].each do |v| %>
          <%= li1_insecure(v[1],v[0],'span','small',a)%>
        <% end %>
        <%= li2_insecure('country',[:address_country_id,:select,Country,
                  :country],a,nil,"span","strong")%>
        <%= li1_insecure('post_code','address_post_code','span','small',a)%>
    </ul>
  </div>
  <div class="col-xs-6">
    <ul class="vlsdet">
        <h4 class="bold-subhead">Passport & Visa</h4>
        <% ['passport_number',
            'passport_valid_till',
            'visa_type',
            'visa_valid_till'].each do |v| %>
          <%= li1_insecure(v,v,'span','small',a)%>
        <% end %>
    </ul>
  </div>
</div>

<div class="row row-top border-b">
  <div class="col-xs-6">
    <ul class="vlsdet">
        <h4 class="bold-subhead">Educational Background</h4>
        <% [['qualification_name','qualification'],
            ['qua_subject','subject'],
            ['qua_institution','institution'],
            ['qua_grade','grade'],
            ['qua_exam','exam'],
            ['qua_score','score']].each do |v| %>
          <%= li1_insecure(v[1],v[0],'span','small',a)%>
        <% end %>
    </ul>
  </div>
  <div class="col-xs-6">
    <ul class="vlsdet">
        <h4 class="bold-subhead">English Language Proficiency</h4>
        <% a.exams.each do |x| %>
        <%= li2('english_level',[:english_level_name,:select,EnglishLevel,
                  :english_level],a,nil,"span","strong")%>
        <%= li2('exam_type',[:exam_type_name,:select,ExamType,
                  :qualification],a,nil,"span","strong")%>
        <% [['exam_score','score'],
            ['exam_date','date']].each do |v| %>
          <%= li1(v[1],v[0],'span','small',x)%>
        <% end %>
        <% end %>
    </ul>
  </div>
</div>

<div class="row row-top border-b">
  <div class="col-xs-6">
    <ul class="vlsdet">
        <h4 class="bold-subhead">Emergency Contact</h4>
        <% [['emer_full_name','Full Name'],
            ['emer_relationship','Relationship'],
            ['emer_mobile','Mobile'],
            ['emer_email','Email']].each do |v| %>
          <%= li1_insecure(v[1],v[0],'span','small',a)%>
        <% end %>
    </ul>
  </div>
  <div class="col-xs-6">
    <ul class="vlsdet">
        <h4 class="bold-subhead">Flight Details</h4>
        <% [['flight_no','flight_no'],
            ['flight_arrival_date','arrival_date'],
            ['flight_arrival_time','arrival_time'],
            ['flight_airport','airport']].each do |v| %>
          <%= li1_insecure(v[1],v[0],'span','small',a)%>
        <% end %>
    </ul>
  </div>
</div>
  <br/>
<script>
  $('.best_in_place').best_in_place();
</script>