<!-- basic information about the registration -->
<% a = @registration %>
<div class="students">
<div class="row border-b">
  <div class="col-xs-3">
    <%= render 'images/disp', core: "registration", a: a %>

  </div>
  <div class="col-xs-4 row-top">
    <ul class="vlsdet pt-0">
        <h4 class="row-top bold-subhead">Personal</h4>
        <% %w(ref_no first_name surname gender).each do |v| %>
        <%= li1_insecure(v,v,'span','small',a)%>
        <% end %>
        <%= li2_insecure('date_of_birth',{type: :date,column: :date_of_birth},a,nil,"span","strong")%>
        <%= li2_insecure('nationality',[:country_id,:select,Country,
                  :nationality],a,nil,"span","strong")%>
    </ul>
  </div>
  <div class="col-xs-5 row-top">
    <ul class="vlsdet pt-0">
        <h4 class="row-top bold-subhead">Contact</h4>
        <% %w(mobile1 mobile2 email alternate_email home_phone work_phone).each do |v| %>
        <%= li1_insecure(v,v,'span','small',a)%>
        <% end %>
    </ul>
  </div>

    <div class="well-sm form-last">
      <h4 class="bold-subhead">Educational</h4>
      <ul class="vlsdet-s pt-0">
        <h5><%= link_to "Qualification",qualification_path(@registration.id),{remote: true} %></h5>
        <h5><%= link_to "Proficiency Exams",exam_path(@registration.id),{remote: true} %></h5>
      </ul>
    </div>
    <br/>


</div>
<div class="row row-top border-b">
  <div class="col-xs-6">
    <ul class="vlsdet">
        <h4 class="bold-subhead">Address</h4>
        <% [['address_line1','line1'],
            ['address_line2','line2'],
            ['address_city','city']].each do |v| %>
          <%= li1_insecure(v[1],v[0],'span','small',a)%>
        <% end %>
        <%= li2_insecure('country',[:address_country_id,:select,Country,
                  :country],a,nil,"span","strong")%>
        <%= li1_insecure('post_code','address_post_code','span','small',a)%>
    </ul>
  </div>
  <div class="col-xs-6">
    <ul class="vlsdet">
      <h4 class="bold-subhead">Passport & Visa</h4>
      <%= li1_insecure('passport_number','passport_number','span','small',a)%>
      <%= li2_insecure('passport_valid_till',{type: :date,column: :passport_valid_till},a,nil,"span","strong")%>
      <%= li1_insecure('visa_type','visa_type','span','small',a)%>
      <%= li2_insecure('visa_valid_till',{type: :date,column: :visa_valid_till},a,nil,"span","strong")%>
    </ul>
  </div>
</div>

<div class="row row-top border-b">
  <div class="col-xs-6">
    <ul class="vlsdet">
        <h4 class="bold-subhead">Emergency Contact</h4>
        <% [['emer_full_name','Full Name'],
            ['emer_relationship','Relationship'],
            ['emer_mobile','Mobile'],
            ['emer_email','Email']].each do |v| %>
          <%= li1_insecure(v[1],v[0],'span','small',a)%>
        <% end %>
    </ul>
  </div>
  <div class="col-xs-6">
    <ul class="vlsdet">
      <h4 class="bold-subhead">Flight Details</h4>
      <%= li1_insecure('flight_no','flight_no','span','small',a)%>
      <%= li2_insecure('arrival_date',{type: :date,column: :flight_arrival_date},a,nil,"span","strong")%>
      <% [['flight_arrival_time','arrival_time'],
          ['flight_airport','airport']].each do |v| %>
          <%= li1_insecure(v[1],v[0],'span','small',a)%>
        <% end %>
    </ul>
  </div>
</div>
</div>
<div class="clear"></div>
<br/>
<br/>
<br/>
<br/>
<script>
$('.best_in_place').best_in_place();
<% if (cannot? :approve, Registration) %>
  $('.students.best_in_place').bind("ajax:success", function () {
    bootbox.alert("Request Sent for Approval!");
  });
<% end %>
</script>
