<!-- show branch -->
<% a = @smtp %>
<div class="row">
              <div class="row row-top ">
                <div class="col-md-6">
                  <div class="col-md-4 text-right light">Address</div>
                  <div class="col-md-8"><%= a.address %></div>
                  <div style="clear:both;"></div>
                  <div class="col-md-4 text-right light">Port</div>
                  <div class="col-md-8"><%= a.port %></div> 
                  <div style="clear:both;"></div>
                  <div class="col-md-4 text-right light">Domain</div>
                  <div class="col-md-8"><%= a.domain %></div> 
                  <div style="clear:both;"></div>
                  <div class="col-md-4 text-right light">UserName</div>
                  <div class="col-md-8"><%= a.user_name %></div>
                  <div style="clear:both;"></div>
                  <div class="col-md-4 text-right light">Password</div>
                  <div class="col-md-8">-hidden-</div>
                  <div style="clear:both;"></div>
                  <div class="col-md-4 text-right light">Authentication</div>
                  <div class="col-md-8"><%= a.authentication %></div>
                  <div style="clear:both;"></div>
                  <div class="col-md-4 text-right light">EnableStarttlsAuto</div>
                  <div class="col-md-8"><%= a.enable_starttls_auto %></div>
                  <div style="clear:both;"></div>
                </div>
               </div>
</div>
