<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task_topic.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @task_topic.desc %>
</p>


<%= link_to 'Edit', edit_task_topic_path(@task_topic) %> |
<%= link_to 'Back', task_topics_path %>
