<!-- User show page -->
<div class="col-md-6">
  <h3><%= @user.name %></h3>
</div>


<% a = @user %>
<% adm = current_user.adm? %>
<div class="col-xs-6 text-right">
  <div class="form-group">
      <% if adm %>
        <%= form_for(a) do |d| %>
          <% if a.is_active %>
            <% b = "Deactivate" %>
            <% val = false %>
          <% else %>
            <% b = "Activate" %>
            <% val = true %>
          <% end %>
          <%= d.hidden_field :is_active, value: val %>
          <%= d.submit b,{class: "btn btn-primary"} %>
        <% end %>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
      <ul class="nav nav-pills seperator">
        <li id="basic" class=<%= @show ? "active" : "" %>>
          <%= link_to "Basic","/users/#{a.id}" %>
        </li>
        <li id="log" class=<%= @log ? "active" : "" %>>
          <%= link_to "Log","/users/#{a.id}/log" %>
        </li>
      </ul>
  </div>
</div>






