<!-- listing users -->
<table class="table table-bordered">
                <thead>
                  <tr  class="sm">
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Branch</th>
                    <th>Role</th>
                    <th>Last Seen</th>
                    <th>Invitation</th>
                    <th>State</th>
                    <th colspan=2>Action</th>
                                      </tr>
                </thead>
                <tbody>
                  <% @users.each do |user| %>
                    <% un = user.name.nil? ? "Mr. Unknown" : user.name %>
                      <tr>
                        <td><%= uimg(user) %></td> 
                        <td><h4><%= link_to un,user  %></h4><%= user.email %> 
                        <td  class="sm"><%= user.br %></td>
                        <td class="sm"><%= user.role.name.titleize rescue "Unassigned" %></td>
                        <td class="sm"><%= user.last_seen_at  %></td>

                        
                        <td  class="sm"><%= user.confirmed_at ? "Accepted" : "Not Accepted" %></td>
                        <td  class="sm"><%= user.active_for_authentication? ? "Active" : "Inactive" %></td>
                        <td  class="sm">
                        <% if (!user.adm? rescue "OK") %>
                        <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe,
                                    user, 
                                    method: :delete, 
                                    data: { confirm: 'Are you sure?' } %>
                        <% end %>
                        </td>
                        <td>
                        <%= link_to '<span class="glyphicon glyphicon-link"></span>'.html_safe,
                                    link_user_path(user), 
                                    remote: true  %>
                        
                        </td>
                      </tr>

 
                  <% end %>
                </tbody>
              </table>
