<script type="text/javascript">
$(function(){

  activeMM("usersMM");
  setColorsFromSession();


  $('li.all_users').addClass('active-tab');
  
});

</script>

<div class="tab-container">
<%= render 'users/menus' %>
<div class="tab-content" style="display:block">
<div class="boxp box-theme-ch">
<div class="class="htab"">
        <h4 >
        Organizor Users
        </h4>
</div>
        <br/>
<table class="tables2" border="0" cellpadding="0" cellspacing="0" width="100%">
                 <thead>
                  <tr>
                                        <th>First Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Invitation</th>
                                        <th>State</th>
                                        <th>Delete</th>
                  </tr>
                </thead>
                <tbody>

        <% @users.each do |user| %>
          <% un = user.first_name.nil? ? "Mr. Unknown" : user.first_name %>
          <tr>
            <td><%= link_to un,user  %></td>
            <td><b><%= user.email %></b></td>
            <td><%= user.role.name.titleize rescue "Unassigned" %></td>
            <td><%= user.confirmed_at ? "Accepted" : "Not Accepted" %></td>
            <td><b><%= user.active_for_authentication? ? "Active" : "Inactive" %></b></td>
            <% if (!user.adm? rescue "OK") %>
            <td>
            <%= link_to image_tag("/images/icons/del.png"),user, method: :delete, data: { confirm: 'Are you sure?' }  %>
            </td>
            <% end %>
          </tr>

        <% end %>
        <tr>
          <td colspan="7" align="left"></td>
        </tr>

        </tbody>
        </table>
        <br/>
        <br/>
        <br/>
        <br/>
</div>
</div>
</div>


