<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Branch</th>
    <th>Role</th>
    <th>Image</th>
    <th>Email signature</th>
    <th>Created by</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.branch_id %></td>
    <td><%= user.role_id %></td>
    <td><%= user.image %></td>
    <td><%= user.email_signature %></td>
    <td><%= user.created_by %></td>
    <td><%= user.updated_by %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
