<div class="container main">
  <div class="row">
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => 'put', class: "form-horizontal" }) do |f| %>
    <%= devise_error_messages! %>
    <div class="row well">
      <div class="row">
        <div class="col-xs-8 text-center">
          <h1>Change your password</h1>
        </div>
      </div>
      <br/>

      <%= f.input :reset_password_token, :as => :hidden %>
      <%= f.full_error :reset_password_token %>
      <%= bs(f,"password","password_field",['password',4],8,8) %>
      <%= bs(f,"password_confirmation","password_field",['password_confirmation',4],8,8) %>
      <div class=" form-group col-xs-8 text-right">
        <%= f.submit "submit", :id => "change-password", class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%#= render "devise/shared/links" %>

<script>
$('#change-password').click(function(){
  var id = $(".form-horizontal").attr('id');
  var resource_name = id.split("_")[1];
  var password = $('#'+resource_name+'_password').val();
  var password_confirmation = $('#'+resource_name+'_password_confirmation').val();
  if ( password != "" && password === password_confirmation) {
    return true;
  }
  else {
    alert("Password confirmation doesn't match Password");
    return false;
  }
});
</script>
