<!DOCTYPE html>
<html>
<head>
  <title>Forgot your password?</title>
  <%= stylesheet_link_tag    "home" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 
  
  <!--p class="notice"><%= notice %></p-->
  <!--p class="alert"><%= alert %></p-->
</head>
<body>
<script type="text/javascript">
$(document).ready(function(){
$('#fade').cycle();
});
</script>
<div id="fade">
<img src="/images/b1.jpg" class="theme"/>
<img src="/images/b2.jpg" class="theme"/>
<img src="/images/b3.jpg" class="theme"/>
</div>
<div id="bg1">
<div id="login-box">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
<table cellpadding="10" cellspacing="0" width="100%">
<h2>Forgot Your Password?</h2>
<tr>
    <td align="left" valign="bottom" class="tw" style="padding:10px 0 0 20px">
     <%= f.label :email %>
     <%= f.text_field :email %>
      
    </td>
    <td align="center" valign="middle" rowspan="2" width="90" class="lb pad10">
    <span class="th35">
         <%= f.submit 'Reset', :class => "white-button"%>
    </span>
    </td>


</tr>
<tr>
<td class="white-text">
&nbsp;
</td>
<td>
<div align="right" class="white-link">
<%= render "devise/shared/links" %>
</div>
</td>
</tr>
</table>
<% end %>
</div>
</div>
</body>
</html>



