<!-- applications by registration -->
<div id="create-fee-container"> </div>
<% progs = @obj.programmes.includes(:institution).group_by{|i| i.institution.country_id } rescue {} %>
<% if progs.blank? %>
    <div class="row">
      <div class="col-md-5">
        <i>No applications created</i>
      </div>
    </div>
<% else %>
<% progs.keys.each do |prog| %>
<div class="row row-right">

<h4>
  <strong> <%= link_to Country.find(prog).name,"#",{class: "collapse_all"} %></strong>
</h4>
  <% progs[prog].each do |i| %>
    <!-- @programme is used in 2 partials, change status and add note -->
    <% @programme = i %>
    <% items = i.status_diagrams.order(:created_at).includes(:user,:programme,:application_status) %>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i.id %>">
        <strong><%= i.institution.name %></strong></a>
        <small>
           <span id="tag_reg_status_<%= i.id %>" class="ml-10 tag-like green"><%= i.application_status.name rescue "Unknown" %></span>
           <span class="ml-10 tag-like purple"><%= i.course_level_name %></span>
           <span class="ml-10 tag-like blue"><%= i.institution.type.name %></span>
           <span class="ml-10 tag-like blue"'><%= i.institution.group.name rescue "No" %> Group</span>
           <br/>
           <br/>
           <small>
           <span class="glyphicon glyphicon-share-alt mar0"></span>
           <a class="toggler" onclick="regAppStatus(this,'#status_select_<%= i.id %>');" href="#">
           Change Status</a> |
           <span class="glyphicon glyphicon-remove mar0"></span>
           <%= link_to "Delete Programme",i, method: :delete, data: { confirm: 'Are you sure?' } %> |
           <span class="glyphicon glyphicon-edit mar0"></span>
           <%= link_to "Update Fees","/create_fee/#{i.id}", remote: true %>
           <div class="row" id="status_select_<%= i.id %>" style="display:none;">
             <%= render 'application_statuses/change_status' %>
           </div>
           </small>
        </small>
      </h4>

    </div>
    <div id="collapse<%= i.id %>" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row row-top row-right">
            <div class="col-xs-8 pl-0">
                <div class="row row-top">
                    <h5>
                    <span class="light mr-10">
                    Status
                    </span>
                    <span id="reg_status_<%= i.id %>">
                    <%= i.application_status.name rescue "Unknown" %>
                    </span>
                    <small class="toggler clickable" onclick="regAppStatus(this,'#status_select_<%= i.id %>');" href="#">
           Change </small>

                    </h5>
                </div>
                <div class="border-b">
                    <ul class="vlsdet pt-0">
                      <h4 class="bold-subhead">Application Details</h4>
                   <% s = ((Date.today >= i.start_date rescue 'start_date') ? ['start_date',99,'course started'] : ['start_date',98,'course yet to start']) %>
                   <% e = ((Date.today >= i.end_date rescue 'end_date') ? ['end_date',97,'course ended'] : ['end_date',98,'course yet to end']) %>
                        <% [['institution_name','institution_name'],
                            [['ins_ref_no',99,'alloted by institution'],'reference_no'],
                            ['course_level_name','course_level'],
                            ['course_subject_text','course_subject'],
                            [s,'start_date'],
                            [e,'end_date']].each do |v| %>
                          <%= li1(v[1],v[0],'span','small',i)%>
                        <% end %>
                    </ul>
                </div>
                <div class="border-b">
                    <ul class="vlsdet">
                        <li>
                        <label class="light">Created</label>
                        <small><%= link_to i.cby,i._cby %></small>
                        <small><%= i.created_at %></small>
                        </li>

                        <li>
                        <label  class="light">Last Modified</label>
                        <small><%= link_to i.uby, i._uby %></small>
                        <small><%= i.updated_at %></small>
                        </li>
                    </ul>
                </div>
                <h4 class="bold-subhead mt-15">Notes <small><small>(Click to edit if it's your note)</small></small></h4>
                <div id="programme_note_<%= i.id %>" >
                      <%= render 'notes/note', sub: @programme %>
                 </div>
            </div>
            <div class="col-xs-4 row-right pr-0">
                <div class="well well-sm">
                     <h4 class="bold-subhead">Status Log</h4>
                     <ul class="vlsdet-s pt-0">
                        <% items.take(4).each do |s| %>
                          <h5 class="border-b"><%= s.status_name %></h5>
                          <li>
                          <label class="light">Set By</label>
                          <small><%= link_to s.user_name,s.user %></small>
                          </li>
                          <li>
                          <label  class="light">Set At</label>
                          <small><%= s.created_at %></small>
                          </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
              <h5>New Note</h5>
             <%= nested_form_for(i,remote: true) do |r| %>
              <%= r.fields_for :notes,i.notes.build do |n| %>
                <%= n.hidden_field :sub_class, value: "Programme" %>
                <%= n.text_area :content,{:size => '10x4',
                                          :style => 'width:480px;',
                                          class: "app_note",
                                          data: {provide: "markdown"}} %>
              <% end %>
              <br/>
              <div class="form-group">
                <%= r.submit "Write",{class: "btn btn-primary"} %>
              </div>
              <% end %>

      </div>
    </div>
  </div>
</div>
<br/>
  <% end %>
</div>
<% end %>
<% end %>
<script>
  $(".app_note").markdown({width: 500});
  $('.collapse_all').click(function(){
    $('.collapse').removeClass('in');
  });

</script>
