<!-- basic information about the registration -->
<% a = @registration %>


        <div class="boxp">
            <div class="htab">
            <h5>
                <b>Application Status(es) : 
                    <span class="sp">
                        <h6>
                            <b><%= disp3(a,"programmes","application_status") %> </b>
                        </h6>
                    </span>
                </b>
            </h5>
            
         
            
            <div class="cl"></div>
        </div>
        <br/>
        <div class="cols" style="padding-bottom:20px">
            <div class="col8">
                <div id="scrollboxu">
                    <div class="rel abs-plus-box">
                      <%= image_tag((a.image? ? a.image_url : "/images/icons/user.png"),
                                   {width: "100",class: "tooltip",title: "Upload your photo",
                                    class: "imgb fl"
                                    }) %>
                      <span onclick = "showPopUp('upload_image');" class="abs-plus">+</span>
                    </div>
                     <div id="upload_image" class="addNewPop" style="display: none; top: 483px; left: 455px;"> 
                       <%= render 'shared/img_upload', a: a %>
                     </div>
                    <div class="fl padl20">
                        <h5>
                        <b>                        
                            <%= a.name %>
                        </b>
                        <span class='ref_no'>
                          [<%= a.ref_no %>]
                        </span>
                        </h5>
                        <ul class="vlsdet">
                        <li><label>Mobile 1 </label>: <%= best_in_place_if (can? :update,a), a, :mobile1 %></li>
                        <li><label>Mobile 2 </label>: <%= best_in_place_if (can? :update,a), a, :mobile2 %></li>
                        <li><label>Email 1</label>: <%= best_in_place_if (can? :update,a), a, :email1 %></li>
                        <li><label>Email 2</label>: <%= best_in_place_if (can? :update,a), a, :email2 %></li>
                        </ul>
                    </div>
                    <div class="cl"></div>
                    <br/>
                    <h4 class="htab">Personal information</h4>
                    <ul class="vlsdet">
                    <li><label>Date of Birth</label>: <%= best_in_place_if (can? :update,a), a, 
                                                           :date_of_birth,
                                                           :type => :date %></li>
                    <li><label>Gender</label>: <%= best_in_place_if (can? :update,a), a,
                                                           :gender,
                                                           type: :select,
                                                           collection: [['m','male'],['f','female']] %></li>
                    <li><label>Nationality</label>: <%= best_in_place_if (can? :update,a), a,
                                                                      :country_id,
                                                                      :type => :select, 
                                                                      :collection => Country.order(:name).map{|i| [i.id,i.name]},:display_as => "country_of_origin_name" %></li>
                                                                      
                    <li><label>Home Phone</label>: <%= best_in_place_if (can? :update,a), a, :home_phone %></li>
                    <li><label>Work Phone</label>: <%= best_in_place_if (can? :update,a), a, :work_phone %></li>
                    </ul>
                    <br/>
                    <h4 class="htab">Home Address</h4>
                    <ul class="vlsdet">
                                                                      
                    <li><label>Line 1</label>: <%= best_in_place_if (can? :update,a), a,
                                                                  :address_line1, 
                                                                  :type => :textarea %></li>
                    <li><label>Line 2</label>: <%= best_in_place_if (can? :update,a), a,
                                                                  :address_line2, 
                                                                  :type => :textarea %></li>
                    <li><label>City</label>: <%= best_in_place_if (can? :update,a), a,
                                                                  :address_city %></li>
                    <li><label>Country</label>: <%= best_in_place_if (can? :update,a), a,
                                                                  :country_id, 
                                                                   :type => :select, 
                                                                   :collection => Country.order(:name).map{|i| [i.id,i.name]},
                                                                   :display_as => "address_country_name"%></li>
                    <li><label>Post Code</label>: <%= best_in_place_if (can? :update,a), a,
                                                                  :address_post_code %></li>
                                                                  
                   
                    </ul>
                    <br/>
                    <h4 class="htab">Passport & Visa</h4>
                    <ul class="vlsdet">
                    <li><label>Passport Number</label>: <%= best_in_place_if (can? :update,a), a, :passport_number %></li>
                    <li><label>Passport Valid Till</label>: <%= best_in_place_if (can? :update,a), a, 
                                                                              :passport_valid_till,
                                                                              :type => :date %></li>
                    <li><label>Visa Type</label>: <%= best_in_place_if (can? :update,a), a, :visa_type %></li>
                    <li><label>Visa Valid Till</label>:  <%= best_in_place_if (can? :update,a), a,
                                                                           :visa_valid_till,
                                                                           :type => :date %></li>
                    </ul><br/>
                 </div>
            </div>
            <div class="col4 ">
                <div class="boxs">
                    <ul class="infodhls">
                        <li>Registration history</li>
                        <li>
                        <b>Registered on :</b> 
                          <%= a.created_at.to_date %>
                        </li>
                        <li>
                        <b>Registration Source :</b> 
                          <%= disp1(a,'student_source') %>
                        </li>
                        <li>
                        <b>Created by :</b> 
                            <%= (User.where(id: a.created_by).map &:first_name)[0] %>
                        </li>
                        <li>
                        <b>Created at :</b> 
                          <%= a.created_at %>
                        </li>
                        <li>
                        <br>
                        <b>Last modified</b></li>
                        <li><b>By :</b> 
                            <%= (User.where(id: a.updated_by).map &:first_name)[0] %>
                        </li>
                        <li><b>At :</b> 
                            <%= a.updated_at %>
                        </li>
                        <li><br><b>Currently Assigned</b></li>
                        <li><b>To :</b>
                            <%= (User.where(id: a.assigned_to).map &:first_name)[0] %>
                        </li>
                        <li><b>By :</b> 
                            <%= (User.where(id: a.assigned_by).map &:first_name)[0] %>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
<br/><h4 class="htab">
Education Background
</h4>
<ul class="vlsdet">
  <% q = @registration.qualification %>
    <li>
      <label>Qualification </label>: 
        <%= best_in_place_if (can? :update,a), a,
                          :qua_id,
                          type: :select,
                          collection: Qualification.order(:name).map{|i| [i.id,i.name]},
                          :display_as => "qualification_name"%>
    </li>
    
    <li>
      <label>Subject </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :qua_subject %>
      
    </li>
    
    <li>
      <label>Institution </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :qua_institution %>
      
    </li>
    
    <li>
      <label>Grade </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :qua_grade %>
      
    </li>
    
    <li><label>
      Exam </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :qua_exam %>
      
    </li>
    
    <li><label>
      Score </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :qua_score %>
      
    </li>
</ul>
<br/>
<div class="brg0"> </div>
    <br/>
    <br/>
<h4 class="htab">
English Language Proficiency
</h4>


<ul class="vlsdet">
    <li><label>
      Level of English </label>: 
      
        <%= best_in_place_if (can? :update,a), a,
                          :prof_eng_level_id,
                          type: :select,
                          collection: EnglishLevel.order(:name).map{|i| [i.id,i.name]},
                          :display_as => "english_level_name"%>
      
    </li>
    
    <% a.exams.each do |e| %>
            <li><label>
              Exam Type </label>: 
              
                <%= e.exam_type.name rescue "Unknown" %>
              
            </li>
            
            <li><label>
              Exam Score </label>: 
              
                <%= e.exam_score %>
              
            </li>
       
            <li><label>
              Exam Type </label>: 
              
                <%= e.exam_date %>
              
            </li>
    <% end %>
</ul>

<br/>
<div class="brg0"> </div>
    <br/>
    <br/>
<h4 class="htab">
Emergency Contact
</h4>


<ul class="vlsdet">

    <li><label>
      Full Name </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :emer_full_name %>
      
    </li>
    <li><label>
      Relationship </label>: 
<% arr = %w(Father Mother Husband Wife Brother Sister Cousin Uncle Friend Other).map{|i| [i,i]} %>

        <%= best_in_place_if (can? :update,a), a,
                          :emer_relationship,
                          type: :select,
                          collection: arr %>
      
    </li>
    <li><label>
      Mobile Number </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :emer_mobile %>
      
    </li>
    <li><label>
      Email </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :emer_email %>
      
    </li>
</ul>
<br/>
<div class="brg0"> </div>
    <br/>
    <br/>
<h4 class="htab">
Flight Details
</h4>


<ul class="vlsdet">
    <li><label>
      Flight Number </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :flight_no %>
      
    </li>
    <li><label>
      Arrival Date </label>: 
      
        <%= best_in_place_if (can? :update,a), a, 
                          :flight_arrival_date,
                          :type => :date %>
      
    </li>
    <li><label>
      Arrival Time </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :flight_arrival_time%>
      
    </li>
    <li><label>
      Airport </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :flight_airport %>
      
    </li>
</ul>
<br/>


</div>
