
<ul class="infosm">
                    <% @registration.programmes.each_with_index do |i,index| %>
                      <% j = i.programme_type.try(:name).titleize rescue ""%>
                         
                        <li>
                        
                        <%= index + 1 %>) &nbsp; <b> <%= j %> </b>
                        <span id="reg_status" class='ref_no'>
                          [<%= i.application_status.name %>]
                        </span>
                        <%= link_to "change","#"%>
                        <div style="padding:10px;margin:5px">
                        Institution :
                        <b>
                        <%= i.institution.try(:name).to_s %>,&nbsp;<%= i.city.try(:name).to_s %>,&nbsp;<%= i.country.try(:name).to_s %>
                        </b><br/><br/>
                            <b>Course :</b>
                            <% if j == "University" %>
                              <ul class="vlsdet">
                              <li><label>Level</label>:<%= i.course_level.try(:name).titleize %></li>
                              <li><label>Subject</label>:<%= i.try(:course_subject) %></li>
                              <li><label>Intake Month</label>:<%= i.start_date.strftime("%B") rescue "" %></li>
                              <li><label>Intake Year</label>:<%= i.start_date.strftime("%Y") rescue "" %></li>
							  </ul>
                              
                            <% elsif j == "Language School" %>
                              <ul class="vlsdet">
							  <li><label>Name</label>:<%= i.try(:course_subject) %></li>
                              <li><label>Start Date</label>:<%= i.start_date.to_date rescue "" %></li>
                              <li><label>End Date</label>:<%= i.start_date.to_date rescue ""%></li>
                              </ul>
                            <% end %>
							<br/>
                            Created by,&nbsp;
                            <i>
                               <b> <%= User.find(i.created_by).name rescue "" %> </b>
                            </i>
                            at 
                            <i>
                                <%= i.created_at %>
                            </i>
                        <% if i.updated_by %>
						<br/>
                            Last modified by,&nbsp;
                            <i>
                               <b> <%= (User.find(i.updated_by).name) rescue "" %> </b>
                            </i>
                            at 
                            <i>
                                <%= i.updated_at %>
                            </i>
							</div>
                        </li>
                        <% end %>
                        <br/>
                    <% end %>
</ul>

