<br/><h4 class="htab">
Education Background
</h4>
<ul class="vlsdet">
  <% a = @registration %>
  <% q = @registration.qualification %>
    <li>
      <label>Qualification </label>: 
        <%= best_in_place_if (can? :update,a), a,
                          :qua_id,
                          type: :select,
                          collection: Qualification.order(:name).map{|i| [i.id,i.name]},
                          :display_as => "qualification_name"%>
    </li>
    
    <li>
      <label>Subject </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :qua_subject %>
      
    </li>
    
    <li>
      <label>Institution </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :qua_institution %>
      
    </li>
    
    <li>
      <label>Grade </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :qua_grade %>
      
    </li>
    
    <li><label>
      Exam </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :qua_exam %>
      
    </li>
    
    <li><label>
      Score </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :qua_score %>
      
    </li>
</ul>
<br/>
<div class="brg0"> </div>
    <br/>
    <br/>
<h4 class="htab">
English Language Proficiency
</h4>


<ul class="vlsdet">
    <li><label>
      Level of English </label>: 
      
        <%= best_in_place_if (can? :update,a), a,
                          :prof_eng_level_id,
                          type: :select,
                          collection: EnglishLevel.order(:name).map{|i| [i.id,i.name]},
                          :display_as => "english_level_name"%>
      
    </li>
    
    <% a.exams.each do |e| %>
            <li><label>
              Exam Type </label>: 
              
                <%= e.exam_type.name rescue "Unknown" %>
              
            </li>
            
            <li><label>
              Exam Score </label>: 
              
                <%= e.exam_score %>
              
            </li>
       
            <li><label>
              Exam Type </label>: 
              
                <%= e.exam_date %>
              
            </li>
    <% end %>
</ul>

<br/>
<div class="brg0"> </div>
    <br/>
    <br/>
<h4 class="htab">
Emergency Contact
</h4>


<ul class="vlsdet">

    <li><label>
      Full Name </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :emer_full_name %>
      
    </li>
    <li><label>
      Relationship </label>: 
<% arr = %w(Father Mother Husband Wife Brother Sister Cousin Uncle Friend Other).map{|i| [i,i]} %>

        <%= best_in_place_if (can? :update,a), a,
                          :emer_relationship,
                          type: :select,
                          collection: arr %>
      
    </li>
    <li><label>
      Mobile Number </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :emer_mobile %>
      
    </li>
    <li><label>
      Email </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :emer_email %>
      
    </li>
</ul>
<br/>
<div class="brg0"> </div>
    <br/>
    <br/>
<h4 class="htab">
Flight Details
</h4>


<ul class="vlsdet">
    <li><label>
      Flight Number </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :flight_no %>
      
    </li>
    <li><label>
      Arrival Date </label>: 
      
        <%= best_in_place_if (can? :update,a), a, 
                          :flight_arrival_date,
                          :type => :date %>
      
    </li>
    <li><label>
      Arrival Time </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :flight_arrival_time%>
      
    </li>
    <li><label>
      Airport </label>: 
      
        <%= best_in_place_if (can? :update,a), a, :flight_airport %>
      
    </li>
</ul>
<br/>
<div class="brg0"> </div>
    <br/>
    <br/>
