<br/><h4 class="htab">
Education Background
</h4>
<ul class="vlsdet">
  <% a = @registration %>
  <% q = @registration.qualification %>
    <li>
      <label>Qualification </label>: 
        <%= q.name rescue "unknown" %>
    </li>
    
    <li>
      <label>Subject </label>: 
      
        <%= a.qua_subject %>
      
    </li>
    
    <li>
      <label>Institution </label>: 
      
        <%= a.qua_institution %>
      
    </li>
    
    <li>
      <label>Grade </label>: 
      
        <%= a.qua_grade %>
      
    </li>
    
    <li><label>
      Exam </label>: 
      
        <%= a.qua_exam %>
      
    </li>
    
    <li><label>
      Score </label>: 
      
        <%= a.qua_score %>
      
    </li>
</ul>
<br/>
<div class="brg0"> </div>
    <br/>
    <br/>
<h4 class="htab">
English Language Proficiency
</h4>


<ul class="vlsdet">
    <li><label>
      Level of English </label>: 
      
        <%= a.english_level.name rescue "unknown" %>
      
    </li>
    
    <% a.exams.each do |e| %>
            <li><label>
              Exam Type </label>: 
              
                <%= e.exam_type.name %>
              
            </li>
            
            <li><label>
              Exam Score </label>: 
              
                <%= e.exam_score %>
              
            </li>
       
            <li><label>
              Exam Type </label>: 
              
                <%= e.exam_date %>
              
            </li>
    <% end %>
</ul>

<br/>
<div class="brg0"> </div>
    <br/>
    <br/>
<h4 class="htab">
Emergency Contact
</h4>


<ul class="vlsdet">

    <li><label>
      Full Name </label>: 
      
        <%= a.emer_full_name %>
      
    </li>
    <li><label>
      Relationship </label>: 
      
        <%= a.emer_relationship %>
      
    </li>
    <li><label>
      Mobile Number </label>: 
      
        <%= a.emer_mobile %>
      
    </li>
    <li><label>
      Email </label>: 
      
        <%= a.emer_email %>
      
    </li>
</ul>
<br/>
<div class="brg0"> </div>
    <br/>
    <br/>
<h4 class="htab">
Flight Details
</h4>


<ul class="vlsdet">
    <li><label>
      Flight Number </label>: 
      
        <%= a.flight_no %>
      
    </li>
    <li><label>
      Arrival Date </label>: 
      
        <%= a.flight_arrival_date %>
      
    </li>
    <li><label>
      Arrival Time </label>: 
      
        <%= a.flight_arrival_time %>
      
    </li>
    <li><label>
      Airport </label>: 
      
        <%= a.flight_airport %>
      
    </li>
</ul>
<br/>
<div class="brg0"> </div>
    <br/>
    <br/>
