<% a = @registration %>
<ul class="infosm">
<h6> 
Documents Received
</h6>
<br/>
<%= form_tag(delete_documents_path,method: "delete") do %>
  <%= hidden_field_tag :reg_id,@registration.id %>
    <% a.documents.includes(:category).each do |cat| %>
    <br/>
    Category : <b> <%= cat.category.name %> </b>
            <li>
              <%= check_box_tag "doc_id[]",cat.id %>
              <b>
                <%= cat.name %>
              </b>
            </li>
            
    <% end %>
    
    <%= submit_tag "Delete Selected",method: :delete %>

<% end %>
    
</ul>

<%= form_for(Document.new,:html=>{:multipart => true })  do |f| %>
       
       <%= f.hidden_field :registration_id,value: @registration.id %>
       <%= go_create(f,"doc_category","category_id","name",1) %> 
       <%= fs(f,"name","text_field",nil) %>
       <%= f.file_field :path %>
       <%= f.submit "Upload", class: "btnp" %>
   
<% end %>
