<% a = @registration %>


    <br/>
    <h4 class="htab"> 
    Documents Received
    </h6>
    <br/>
    <br/>
    <%= a.documents.size == 0 ? "<i>No documents uploaded</i>".html_safe : ""%>

        <%= form_tag(delete_documents_path,method: "delete") do %>
            <%= hidden_field_tag :reg_id,@registration.id %>
                <% a.documents.includes(:category).each do |cat| %>
                        <ul class="vlsdet">
                            <li>
                                <%= check_box_tag "doc_id[]",cat.id %>
                                <h4><%= cat.name %></h4>
                                <label>[<%= cat.category.name %>]</label> 
                            </li>
                        </ul>
                <% end %>
            <br/>

            <%= submit_tag "Delete Selected",{method: :delete, class: "btnp"} %>

        <% end %>
    <br/>
    <br/>

        <h4 class="htab"> 
        New Upload
        </h6>
        <br/>
            <br/>
    <br/>
        <%= form_for(Document.new,:html=>{:multipart => true })  do |f| %>
               
               <%= f.hidden_field :registration_id,value: @registration.id %>
               <%= go_create(f,"doc_category","category_id","name",1,"fbox") %> 
               <%= fbox(f,"name","text_field",nil,nil) %>
               <div class="fbox">
                 <label>File</label>
                 <%= f.file_field :path %>
               </div>
               <div class="fbox">
               
               <%= f.submit "Upload", class: "btnp" %>
               </div>
        <% end %>



