<!-- Documents for regs -->
<% a = @obj %>

    <h4 class="htab"> 
    Documents Received
    </h4>

    <% if a.documents.size == 0  %>
    
      <i>No documents uploaded</i>
    
    <% else %>
    
        <%= form_tag('/documents/delete_or_download') do %>
            <%= hidden_field_tag :reg_id,a.id %>
                <% a.documents.includes(:category).each do |cat| %>
                        <ul class="vlsdet">
                            <li>
                                <%= check_box_tag "doc_id[]",cat.id %>
                                <h4><%= cat.name rescue "Unknown" %></h4>
                                <label>[<%= cat.category.name rescue "Unknown" %>]</label>
                                <br/> 
                                <%= link_to "Download",cat %> 
                            </li>

                        </ul>
                <% end %>


            <%= submit_tag "Delete Selected",{name: "doc_delete",class: "btnp",data: { confirm: 'Are you sure?' }} %>
            <%= submit_tag "Download Selected",{name: "doc_download", class: "btnp"} %>
            
            <%= submit_tag "Consolidate Selected",{name: "doc_consolidate_temp", class: "btnp", style:"text-decoration: line-through;", onclick: "alert('Not ready yet!'); return false;"} %>

        <% end %>
    
    <% end %>


        <h4> 
        New Upload
        </h4>

        <%=  nested_form_for(a) do |reg| %>
            <%= reg.fields_for :documents,a.documents.build do |d| %>

                     <%= d.link_to_remove (image_tag "/images/icons/quit.png", size: "30x30") ,class: "fr" %>

                     <%= fs(d,"path","file_field",nil) %>

                     <%= fs(d,"name","text_field",nil) %>
                     <%= go_create(d,"doc_category","category_id","name",1) %> 

                     <%= d.hidden_field :registration_id %>
             <% end %>

        <%= reg.link_to_add "Attach more document", :documents ,{:class => "btns fl"} %>
        <%= reg.submit "Upload",{:class => "btnp"} %>
        <% end %> 

