<!-- payment partial for a programme fora registration -->
<div id="all_payments">
<% @obj.programmes.each do |i| %>
  
  <% app_name = (i.institution.name rescue "Unknown") %>
  <% app_status = (i.application_status.name rescue "Unknown") %>
  <% eval_status = (app_status.downcase == "joined") %>
  <% fe = i.fee %>
  <% fe_size = fe.nil? ? 0 : 1 %>
  <% comms = fe.commissions rescue nil %>
  
     <!-- how manieth registration is this for this institution is r_order -->
    <% r_id = [i.registration.id] %>
    <% r_ids = i.institution.registrations.map &:id %>
    <% r_arr = (r_ids - r_id) %>
    <% r_order = (r_arr).blank? ? 1 : (r_arr.size + 1) %>
  
  <h4><%= app_name %> - <small> <%= app_status %> -  [<b><%= r_order.ordinalize %></b> registration]  </small> </h4>
  



  <% if eval_status %>  
    <% if fe_size > 0 %>

      <table class="table table-striped" border="0" cellpadding="0" cellspacing="0" width="100%">
         <thead>
          <tr>
                                <th>Currency</th>
                                <th>Tuition Fee</th>
                                <th>Scholarship</th>
                                <th>Commission Percentage</th>
                                <th>Commission Amount</th>
                                <th>Invoice Date</th>
                                <th>First Payment Date</th>
                                <th></th>
                                <th></th>
          </tr>
        </thead>
        <tbody>
                
                    <tr>
                                    <td><%= fe.currency %></td>
                                    <td><%= humanized_money_with_symbol fe.tuition_fee %></td>
                                    <td><%= humanized_money_with_symbol fe.scholarship %></td>
                                    <td><%= fe.commission_percentage %></td>
                                    <td><%= humanized_money_with_symbol fe.commission_amount %></td>
                                    <td><%= fe.invoice_date %></td>
                                    <td><%= fe.first_payment_date %></td>
                                    <td>
                   <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, 
                                                                      edit_fee_path(fe),
                                                                      {remote: true,
                                                                      onclick: '$("div.row-top > h3").append("<img class=temp src=/images/icons/sload.gif >");'} %>
                                    </td>
                                    <td>
                  <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, 
                                fe, 
                                method: :delete, 
                                data: { confirm: 'Are you sure?' }  %>
                                    </td>
                    </tr>
        </tbody>
     </table>
    <% elsif fe_size == 0 %>
      <h5>Fees not updated</h5>
    <% end %>
  <% end %>
    <% if !comms.blank? %>
      <h5>Commission Information</h5>
      <table class="table table-striped" border="0" cellpadding="0" cellspacing="0" width="100%">
         <thead>
          <tr>
                                <th>Commission Paid</th>
                                <th>Commission Remaining</th>  
                                <th>Commission Status</th>
                                <th>&nbsp;</th>
                                
          </tr>
        </thead>
        <tbody>
                
                    <tr> 
                       <td><%=  c.paid %></td>
                       <td><%= c.remaining %></td>
                       <td><%= c.stat %></td>
                       <td>
                                  <%= link_to image_tag("/images/icons/del.png"),
                                                                               c, 
                                                                 method: :delete, 
                                                                 data: { confirm: 'Are you sure?',
                                                                 remote: true }  %>
                       </td>
                    </tr>
        </tbody>
     </table>    
    <% end %>
<hr>
<% end %>



<div class="small">
<i>* - You cannot create a payment if the application status is not "Joined"</i>

</div>
<!-- new payment on a create payment click-->
<div id="resource-edit">
  
</div>



</div>
