<!-- payment partial for a programme fora registration -->

<% @obj.programmes.each do |i| %>

  <% app_name = (i.institution.name rescue "Unknown") %>
  <% app_status = (i.application_status.name rescue "Unknown") %>
  <% eval_status = (app_status.downcase == "joined") %>
  <% fe = i.fee %>
  <% fe_size = fe.nil? ? 0 : 1 %>
  <!-- how manieth registration is this for this institution is r_order -->
    <% r_order = r_order(i.registration.id,i.institution.id) rescue 1 %>
<% if eval_status %>
<div class="row row-right">
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i.id %>">
        <strong> <%= app_name %></strong>
        </a>
        <small class="ml-10 tag-like green"><%= app_status %></small>
        <small class="ml-10 tag-like blue"><%= r_order.ordinalize %> student</small>
        <small class="ml-10">
        <small>
        <% if fe_size > 0 %>
            <span class="mar0 glyphicon glyphicon-edit"></span>
                        <%= link_to 'Edit',
                                     edit_fee_path(fe),
                                     {remote: true,
                                      onclick: '$("div.row-top > h3").append("<img class=temp src=/images/icons/sload.gif >");'} %> |
                        <span class="mar0 glyphicon glyphicon-trash"></span>
                              <%= link_to 'Delete',
                                            fe,
                                            method: :delete,
                                            data: { confirm: 'Are you sure?' }  %>
        <% end %>
        </small>
        </small>
      </h4>
    </div>
  
    <% comms = fe.commissions rescue nil %>


    <% if fe_size > 0 %>
      <div id="collapse<%= i.id %>" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row row-top row-right">
                <div class="row row-top">

                    <div class="col-md-6">
                    <ul class="vlsdet-l border-b pt-0">
                    <li>
                      <label class="light">Currency</label>
                      <span><small><%= fe.currency %></small></span>
                    </li>
                    <li>
                      <label class="light">Tuition Fee</label>
                      <span><small><%= humanized_money_with_symbol fe.tuition_fee %></small></span>
                    </li>
                    <li>
                      <label class="light">Scholarship</label>
                      <small><%= humanized_money_with_symbol fe.scholarship %></small>
                    </li>
                    <li>
                      <label class="light">Commission Percentage(%)</label>
                      <small class="green-right"><%= fe.commission_percentage %></small>
                    </li>
                    <li>
                      <label class="light">Commission Amount</label>

                      <b><%= humanized_money_with_symbol fe.commission_amount %></b>
                    </li>
                    <li>
                      <label class="light">Invoice Date </label>
                      <small>
                      <%= fe.invoice_date %>
                      <%= (fe.invoice_date.nil? ? '<span class="red-wrong">Not Invoiced</span>' : '<span class="green-right">Invoiced</span>').html_safe %></small>
                    </li>
                    <li>
                      <label class="light">First Payment Date</label>
                      <small>
                      <%= fe.first_payment_date %>
                      <%= (fe.first_payment_date.nil? ? '<span class="red-wrong">No Payment</span>' : '<span class="green-right">Paid</span>').html_safe %>
                      </small>
                    </li>
                    <li></li>
                    <li>

                    <small>


                    </small>
                    </li>
                    </ul>
                        <ul class="vlsdet-l">
                                <li>
                                <label class="light">Created</label>
                                <small><%= link_to i.cby,i._cby %></small>
                                <small><%= i.created_at %></small>
                                </li>

                                <li>
                                <label  class="light">Last Modified</label>
                                <small><%= link_to i.uby, i._uby %></small>
                                <small><%= i.updated_at %></small>
                                </li>
                        </ul>
                    </div>

            <% elsif fe_size == 0 %>
              <div class="row row-top row-right">
              <div class="col-md-6">
               <h5>Fees not updated</h5>
              </div>
              </div>
            <% end %>

          <% end %>
            <% if !comms.blank? %>
              <div class="col-md-6 well">
              <h4 class="bold-subhead">Commission Details</h4>
              <table class="table table-bordered" border="0" cellpadding="0" cellspacing="0" width="100%">
                 <thead>
                  <tr>
                                        <th>Currency</th>
                                        <th>Paid</th>
                                        <th>Remaining</th>
                                        <th>Status</th>                                        
                                        <th>&nbsp;</th>

                  </tr>
                </thead>
                <tbody>
                  <% comms.each do |c| %>
                            <tr>
                               <td><%= c.currency %></td>
                               <td><strong><%= humanized_money_with_symbol c.paid %></strong></td>
                               <td><%= humanized_money_with_symbol c.remaining %></td>
                                   <% if c.stat == "Partially Paid" %>
                                    <% cl = "yellow-ok" %>
                                   <% elsif c.stat == "Fully Paid" %>
                                    <% cl = "green-right" %>
                                   <% elsif c.stat == "Pending" %>
                                    <% cl = "red-wrong" %>
                                   <% end %>
                               <td class="<%= cl %>"><%= c.stat %></td>

                               <td>
                                   <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe,
                                       c,
                                       method: :delete,
                                       data: { confirm: 'Are you sure?',
                                       remote: true }  %>
                               </td>
                            </tr>
                            <tr class="grey-sm">
                              <td colspan=2>
                                
                              </td>
                              <td class="orange-well" colspan=3>
                                At
                                <%= c.created_at %>
                              </td>  
                            </tr>
                  <% end %>
                </tbody>
             </table>
             </div>
            <% end %>
         </div>
  </div>
</div>
</div>
</div>
</div>
<% end %>

<div class="row small">
<i>* - If the application status is not "Joined", you cannot update the fees</i>
</div>
<br/>
<!-- new payment on a create payment click-->
<div id="resource-edit">

</div>

