<!-- Partner information  - STARTS -->
<div class="row">
  <% %w(first_name surname mobile1 mobile2 email alternate_email).each do |el| %>
    <%= bs(f,el,"text_field",[nil,4],7,6) %>
  <% end %>  
  
  
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label col-xs-4">Gender</label>
        <div class="col-xs-7">
          <% {male: 'm', female: 'f'}.each do |i| %>
            <%= f.radio_button :gender, i[1] %>
            <%= f.label i[0].to_s.strip %>
          <% end %>
        </div>
      </div>
    </div>

    <%= bs(f,["date_of_birth",{class: "datepicker"}],"text_field",[nil,4],7,6) %>
    
    <%= bs(f,[:country_id,Country.order(:name),
              :id,
              :name,
              {prompt: "-nationality-"},{id: "registration_country_id"}],
              "collection_select",
              ['Nationality',4],7,6) %> 

    <%= bs(f,[:branch_id,Branch.order(:name),
                      :id,
                      :name,
                      {prompt: "-branch-"},{}],
                      "collection_select",
                      ["Branch",4],7,6) %>
  
    <%= bs(f,[:assigned_to,User.order(:first_name),
            :id,
            :first_name,
            {prompt: "-assign to-"},{}],
            "collection_select",
            ["Assign To",4],7,6) %>  

    <div class="clear"></div>
    <h4 class="bold-subhead"> Address</h4>
    <br/>
    <% %w(line1 line2 city).each do |el| %>
      <%= bs(f,'address_' + el,"text_field",[el,4],7,6) %>
    <% end %> 
    
    <%= bs(f,[:address_country_id,Country.order(:name),
              :id,
              :name,
              {prompt: "-country-"},{}],
              "collection_select",
              ['Country',4],7,6) %> 

            
    <%= bs(f,"address_post_code","text_field",['post_code',4],7,6) %>
    <div class="clear"></div>
    <h4 class="bold-subhead">Source</h4>
    <%= render 'shared/student_source', f: f %>

    
</div>
  




