<p id="notice"><%= notice %></p>

<p>
  <b>Ref no:</b>
  <%= @registration.ref_no %>
</p>

<p>
  <b>First name:</b>
  <%= @registration.first_name %>
</p>

<p>
  <b>Surname:</b>
  <%= @registration.surname %>
</p>

<p>
  <b>Gender:</b>
  <%= @registration.gender %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @registration.date_of_birth %>
</p>

<p>
  <b>Country:</b>
  <%= @registration.country_id %>
</p>

<p>
  <b>Email1:</b>
  <%= @registration.email1 %>
</p>

<p>
  <b>Email2:</b>
  <%= @registration.email2 %>
</p>

<p>
  <b>Mobile1:</b>
  <%= @registration.mobile1 %>
</p>

<p>
  <b>Mobile2:</b>
  <%= @registration.mobile2 %>
</p>

<p>
  <b>Home phone:</b>
  <%= @registration.home_phone %>
</p>

<p>
  <b>Work phone:</b>
  <%= @registration.work_phone %>
</p>

<p>
  <b>Address line1:</b>
  <%= @registration.address_line1 %>
</p>

<p>
  <b>Address line2:</b>
  <%= @registration.address_line2 %>
</p>

<p>
  <b>Address city:</b>
  <%= @registration.address_city %>
</p>

<p>
  <b>Address country:</b>
  <%= @registration.address_country_id %>
</p>

<p>
  <b>Address post code:</b>
  <%= @registration.address_post_code %>
</p>

<p>
  <b>Address others:</b>
  <%= @registration.address_others %>
</p>

<p>
  <b>Passport number:</b>
  <%= @registration.passport_number %>
</p>

<p>
  <b>Valid till:</b>
  <%= @registration.valid_till %>
</p>

<p>
  <b>Visa type:</b>
  <%= @registration.visa_type %>
</p>

<p>
  <b>Valid till:</b>
  <%= @registration.valid_till %>
</p>

<p>
  <b>Qua:</b>
  <%= @registration.qua_id %>
</p>

<p>
  <b>Qua subject:</b>
  <%= @registration.qua_subject %>
</p>

<p>
  <b>Qua institution:</b>
  <%= @registration.qua_institution %>
</p>

<p>
  <b>Qua grade:</b>
  <%= @registration.qua_grade %>
</p>

<p>
  <b>Qua exam:</b>
  <%= @registration.qua_exam %>
</p>

<p>
  <b>Qua score:</b>
  <%= @registration.qua_score %>
</p>

<p>
  <b>Proficieny:</b>
  <%= @registration.proficieny_id %>
</p>

<p>
  <b>Course:</b>
  <%= @registration.course_id %>
</p>

<p>
  <b>Reg source:</b>
  <%= @registration.reg_source_id %>
</p>

<p>
  <b>Reg direct:</b>
  <%= @registration.reg_direct %>
</p>

<p>
  <b>Reg came through:</b>
  <%= @registration.reg_came_through %>
</p>

<p>
  <b>Sub agent:</b>
  <%= @registration.sub_agent_id %>
</p>

<p>
  <b>Emer full name:</b>
  <%= @registration.emer_full_name %>
</p>

<p>
  <b>Emer relationship:</b>
  <%= @registration.emer_relationship %>
</p>

<p>
  <b>Emer mobile:</b>
  <%= @registration.emer_mobile %>
</p>

<p>
  <b>Emer email:</b>
  <%= @registration.emer_email %>
</p>

<p>
  <b>Flight no:</b>
  <%= @registration.flight_no %>
</p>

<p>
  <b>Flight arrival date:</b>
  <%= @registration.flight_arrival_date %>
</p>

<p>
  <b>Flight arrival time:</b>
  <%= @registration.flight_arrival_time %>
</p>

<p>
  <b>Flight airport:</b>
  <%= @registration.flight_airport %>
</p>

<p>
  <b>Assigned to:</b>
  <%= @registration.assigned_to %>
</p>

<p>
  <b>Assigned by:</b>
  <%= @registration.assigned_by %>
</p>

<p>
  <b>Created by:</b>
  <%= @registration.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @registration.updated_by %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
