<!-- Enquiry show page -->
<div class="row">
<div class="col-md-10">
  <h4><strong><%= @registration.name %></strong></h4>
</div>

<% a = @registration %>
<div class="col-md-2">
                <div class="form-group">
                     <%= link_to "Edit", edit_registration_path(a), {class: "btn btn-primary"} %> 
                     <%= link_to "Clone", clone_registration_path(a), {class: "btn btn-primary"} %>
                </div>
</div>


<div class="row">
  <div class="col-md-12">
      <ul class="nav nav-pills seperator">
        <li id="basic" class="active">
          <%= link_to "Basic","/registrations/#{a.id}" %>
        </li>
        <%= render "actions" %>
      </ul>
      <div id="action_div">
        <%= render @partial, @locals %>
      </div>
  </div>
</div>



<script>

 actmm('registrations'); 

</script>
