<!-- assign_to for core models -->


    <div class="row well">
        <div class="row row-top">
          <h4 class="bold-subhead">Assign To


          </h4>

        </div>

            <%= form_for(obj) do |f| %>
            
               <%= f.hidden_field :assigned_by, :value => current_user.id.to_s %>
               <%= f.hidden_field :assigned_at, :value => Time.now %>
               <%= hidden_field_tag "#{f.object_name}[assign]", "from_action" %>
               <% n_user = User.order(:first_name).reject{|i| i.id == f.object.assigned_to }  %>
                    <h4 class="row"> 
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label class="control-label col-xs-2"> Current Owner </label>
                          <div class="col-xs-5">

                        <% u = User.find(f.object.assigned_to) %>
                        <%= uimg(u) %>
                        <%= link_to u.name,u %>
 

                          </div>
                        </div>
                      </div>  
                    </h4>  
 
                      

                      <%= bs(f,[:assigned_to, 
                                 n_user, 
                                 :id, 
                                 :first_name,
                                 {:prompt => "--User--"},
                               {}],
                               "collection_select",
                               ["Assign To",2],5,12,"row") %>
                       
                       <%= bs(f,[:audit_comment,
                                 :size => "2x2"],"text_area",["Comments",2],5,12,"row") %>
                       
                       <div class="row form-group">
                                <div class="col-sm-offset-6 col-sm-5">
                                  <%= f.submit "Save", {class: "btn btn-primary"} %>
                                </div>
                        </div>
            <% end %>
  </div>


<script> 
acttab('assign_to'); 
actdd();
</script>

