<div class="field row">
  <div class="col-md-12">
  <%= f.attribute_fields do |a| %>
    <div class="col-sm-2">
      
      <%= a.attribute_select({associations: [:branch,:status,:contact_type,:partners,:fee,:partner_country]},{class: "form-control"}) %>
    </div>
  <% end %>
  <div class="col-sm-3">
    <%= f.predicate_select({compounds: false},{class: "form-control"}) %>
  </div>
  <%= f.value_fields do |v| %>
    <div class="col-sm-4">
    <%= v.text_field :value,{class: "form-control"} %>
    </div>
  <% end %>
  <span class="remove_fields glyphicon glyphicon-remove col-sm-3"></span>
  </div>
</div>
