<!-- setting other variables based on model passed to this partial -->
<% _model = eval(model) %>
<% model_pl = model.downcase.pluralize %>

<% _id =  (@status || "all") + "_" + model_pl %>
<% if model == "Programme" %>
  <% url = "/institution_programmes/#{@institution_id}.json" %>
<% else %>
  <% url = send(model_pl + "_url",format: "json") %>
<% end %>
<% srch_url = send("search_" + model_pl + "_path") %>
<% act = act || model_pl %>

<!-- Displaying data in the jquery datatable -->
            <div class="row">
              <div class="col-md-12 data-table">
            <div class="well">
            <% div_id = "group_assign_to_" + _id %>
            <div id="<%= div_id %>" data-model=<%= model %>></div>
            <div class="row row-top">
              <div class="col-md-2">
                <select id="mass-actions" style="width:130px" class="form-control hor-first">
                    <option>-Mass Actions-</option>
                    <!----------------------- Group Assign Start---------------------------->
                    <% if can? :update, _model %>
                      <option value="assignTo">Assign to</option>
                      <% js = 'groupAssignTo' %>
                    <% end %>
                    <!----------------------- Group Assign End---------------------------->
                    <!----------------------- Bulk Email Start---------------------------->
                    <% if can? :create, Email %>
                      <option value="bulkEmail">Bulk email</option>
                      <% js = 'bulkEmail' %>
                    <% end %>
                    <!----------------------- Bulk Email End---------------------------->
                    <!----------------------- Group Delete Start--------------------------->
                    <% if can? :destroy, _model %>
                      <option value="groupDelete">Group Delete</option>
                    <% end %>

                    <% if (_model == Registration) && (can? :update, _model) %>
                      <option value="progStatus">Progression Status</option>
                      <option value="changeBranch">Change Branch</option>
                    <% end %>
                    
                    <% if (_model == Institution) && (can? :update, _model) %>
                      <option value="exportDetails">Export Details</option>
                    <% end %>
                    
                    <!----------------------- Group Delete End--------------------------->
                </select>
                <!----------------------- Group Assign Modal Start---------------------------->
                <% ctnt = '<form class="form-horizontal" role="form">' +
                          '<div class="row">' + 
                          '<div class="col-md-4 text-right" >' + 
                          label_tag(:user,"User") +
                          '</div>' +
                          '<div class="col-md-3">' + 
                          select_tag("group_assign_user_#{_id}",
                          options_for_select(User.order(:first_name).map{|i| [i.name,i.id]}),
                          {prompt: "-user-",
                          class: "form-control hor-first",
                          data: {model: model}}) +
                          '</div>' +
                          '</div></form>' %>

                <%= render 'shared/modal',id: 'assignToModal',
                           content: ctnt.html_safe,
                           header: 'Group Assign To',
                           button: "<span class='form-group'>
                           <button class='btn btn-primary' onclick=groupAssignTo('#{_id}');>
                           Assign
                           </button>
                           </span>" %>
                <!----------------------- Group Assign Modal End---------------------------->
                <!----------------------- Bulk Email Start---------------------------->
                <% ctnt = 'Are you sure you want to send email to all the selected email ids ?' %>

                <%= render 'shared/modal',id: 'bulkEmailModal',
                           content: ctnt.html_safe,
                           header: 'Bulk Email',
                           button: "<button onclick=bulkEmail('#{_id}');>Yes</button>" %>
                <!-----------------------Bulk Email Modal End---------------------------->
                <!----------------------- Group Delete Modal Start---------------------------->
                <% ctnt = 'Are you sure you want to delete the selected items ?' %>

                <%= render 'shared/modal',id: 'groupDeleteModal',
                           content: ctnt.html_safe,
                           header: 'Group Delete',
                           button: "<button onclick=groupDelete('#{_id}');>Yes</button>" %>
                <!-----------------------Group Delete Modal End---------------------------->
                <!----------------------- ProgressionStatus Modal Start---------------------------->
                <% if (_model == Registration) %>
                <%= bulk_asso_update("Progression Status",
                                     "prog_status_",
                                     'ProgressionStatus',
                                     '-status-',
                                     model,
                                     current_user.id,
                                     'progStatusModal',
                                     'Update Status',
                                     'updateProgStatus',
                                     _id) %>
                                     
               <%= bulk_asso_update("Change Branch",
                                     "change_branch_",
                                     'Branch',
                                     '-branch-',
                                     model,
                                     current_user.id,
                                     'changeBranchModal',
                                     'Change Branch',
                                     'changeBranch',
                                     _id) %>
                <% end %>
                <!----------------------- ProgressionStatus Modal End---------------------------->
                <!----------------------- Export Details Modal Start---------------------------->
               
                <% ctnt = '<form class="form-horizontal" role="form">' +
                          '<div class="row">' + 
                          '<div class="col-md-4 text-right" >' + 
                          label_tag(:user,"Format") +
                          '</div>' +
                          '<div class="col-md-3">' + 
                          select_tag("export_details_format_#{_id}",
                          options_for_select([["Xls","xls"],["Pdf","pdf"]]),
                          {prompt: "-format-",
                          class: "form-control hor-first",
                          data: {model: model}}) +
                          '</div>' +
                          '</div></form>' %>

                <%= render 'shared/modal',id: 'exportDetailsModal',
                           content: ctnt.html_safe,
                           header: 'Export Details To',
                           button: "<span class='form-group'>
                           <button class='btn btn-primary'  onclick=exportDetails('#{_id}');>
                           Export
                           </button>
                           </span>" %>
                <!-----------------------Export Details Modal End---------------------------->
              </div>
              <!-----------------------Search Start---------------------------->
              <div class="col-md-8 text-center filter-center">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <label for="id_column">Filter by</label>
                    <%= select_tag :abdc,
                        options_for_select((@cols - [:follow_up_date]).map{|i|
                        i.is_a?(Array) ? [i[0].to_s.titleize,i[0]]  : [i.to_s.titleize,i]
                        }.unshift(["-column name-",""])),
                        {id: "mySelect",class: "form-control hor-first"} %>
                  </div>
                  <div class="form-group">
                    <label for="id_search">containing</label>
                    <input style="width:130px" type="text" class="form-control inline-control" id="id_search" placeholder="search term">
                  </div>
                  <span class="glyphicon glyphicon-remove" onclick="resetDataTable();"></span>
                  <span class="glyphicon glyphicon-filter" onclick="$('.ransack').slideToggle('fast');"></span>

                </form>
              </div>
             <!-----------------------Search End---------------------------->
             <!-----------------------FollowUp Filter Start---------------------------->
              <div class="col-md-2">
                <form class="form-inline" role="form">
                  <div class="form-group pull-right">
                    <%= select_tag :abdc,
                      options_for_select([["Follow Up - All",""],
                                         ["Today","todays"],
                                         ["This Week","this_weeks"],
                                         ["This Month","this_months"],
                                         ["No FollowUp","no_followups"]]),
                      {id: "followUpSelect",class: "form-control hor-first",
                       style: "width:130px"} %>
                  </div>
                </form>
              </div>
            </div>
            <!-----------------------FollowUp Filter End---------------------------->

       <!-----------------------Ransack Filter End---------------------------->
      <% if (_model == Registration) %>
          <% @search = _model.search(params[:q]) %>
           <% @search.build_condition if @search.conditions.empty? %>
           <% @search.build_sort if @search.sorts.empty? %>
           
           <div class="row">
             
           <div class="well blue-well ransack" style="display:none;">       
               <%= search_form_for @search, url: srch_url, method: :post, html: {remote: true,
                                                                          class: "form-horizontal",
                                                                          id: "ransack_form"} do |f| %>
                      <%= render 'registrations/ransack_filter', f: f %>
                      
               <% end %>
           </div>
          </div>
      <% end %>
       <!-----------------------Ransack Filter End---------------------------->

<table id='<%= _id %>' cellpadding="0" cellspacing="0" border="0" class="table table-hover" data-source="<%= url %>">
<thead>
  <tr>
      <th>
      <%= check_box_tag "master",nil,false,{id: "master_check",
                                            class:"nowrap",
                                            checked: false,
                                            onclick: "toggleAllCheck(this,'#{_id}');",
                                            autocomplete: "off"} %>
      </th>

      <% @cols.each do |i| %>
        <% if i.is_a?(Array) %>
          <th><%= (i[3] || i[0]).to_s.titleize %></th>
        <% else %>
          <th <%= (i.to_s == 'statuses' ? 'class=statuses' : '') %>>
          <%= i.to_s.titleize %>
          </th>
        <% end %>
      <% end %>

      <th></th>
      <th></th>

  </tr>
</thead>

</table>
<script src="/dt-bootstrap.js"></script>
<script>

 var tab = dataTableStart("<%= _id %>","<%= @status %>","<%= @cols %>",'<%= @cols.size %>');

 $('.length-element').html('<form class="form-inline" role="form"><div class="form-group">' +
                           '<select class="form-control hor-first" onchange="tabLength(tab,this);">' +
                           '<option>10</option>' +
                           '<option>20</option>' +
                           '<option>30</option>' +
                           '<option>40</option>' +
                           '<option>50</option>' +
                           '</select>'+
                           '<label for="id_column" class="label-right">rows per page</label>' +
                           '</div></form>');

 $('#mass-actions').click(function(){
   var rows = getCheckedRowsAsArray('<%= _id %>');
   var clicked = $("#mass-actions").val();
   $('#' + clicked + 'Modal').modal('show');
 });

 actmm('<%= act %>');
 acttab('<%= @status || @partial_name %>');

 if ($('li#<%= @status %>').parent().hasClass('dropdown-menu')) {
    actdd();
 }
</script>

