<!-- emails to core -->

<div class="col-md-12">
  <div class="config-content">
    <% if @list.to_i == 1 && obj.first.emails.size > 0 %>

      <h4 class="bold-subhead">Sent Emails</h4>

    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Body</th>
            <th>Date</th>
            <th>By</th>
            <th>From</th>
            <th>Auto Generated</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
           <% obj.first.emails.includes(:smtp).each do |e| %>
            <tr>
              <td> <%= link_to e.subject,
                       "/emails/#{e.id}",
                       {remote: true } %> </td>

              <td> <%= truncate(strip_tags(e.body.to_s).html_safe,length: 75) %> </td>
              <td> <%= e.created_at.to_s %> </td>
              <td> <%= e._cre_by.name rescue "" %> </td>
              <td><%= e.from %></td>
              <td><%= e.auto %></td>
              <td><%= link_to "Delete",e,{method: :delete,remote: true} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
    <div id="email-action">
    <div class="row well">
        <div class="row row-top">
          <h4 class="bold-subhead">New Email</h4>
        </div>

          <%= form_for e, :html => { :multipart => true } do |p| %>
            <%= hidden_field_tag "#{p.object_name}[model]", obj_name %>
            <%= hidden_field_tag "#{p.object_name}[#{obj_ids}][]", @subject_ids %>
            <%= p.hidden_field :auto, value: false %>
            <%= p.hidden_field :core, value: obj_name.pluralize %>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="email_template_id">
                    Template
                  </label>
                  <div class="col-sm-5">
                    <%= collection_select(:email_template,
                                        :email_template_id,
                                        EmailTemplate.all,
                                        :id,
                                        :name,
                                        {:prompt => "-template-",
                                         :selected => (etemp_id rescue nil)},
                                        {:class => "form-control",
                                         :onchange => "chooseEmailTemplate(this);"}) %>
                  </div>
                </div>
              </div>
            </div>

            <%= bs(p,[:smtp_id,Smtp.order(:name), 
                               :id, 
                               :name,
                               {prompt: "-send from-"},
                               {}],
                               "collection_select",
                               ["Send From",2],5,12,"row") %>
            
            <div class="row">
                <%= bs(p,[:to,
                          {id: "email_to",style: "height:85px;width:330px;overflow:auto"}],
                          "text_area",
                          [nil,2],9,12) %>
            </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="email_a" class="control-label col-sm-2">
                        Add
                      </label>
                      <div class="col-sm-9">
                           <a onclick="$('.cc').slideToggle();">cc</a> |
                           <a onclick="$('.bcc').slideToggle();">bcc</a>
                      </div>
                    </div>
               </div>
            </div>
            
            <%= bs(p,:cc,"text_field",[nil,2],5,12,"row cc 'style=display:none;'") %>
            
            <%= bs(p,:bcc,"text_field",[nil,2],5,12,"row bcc 'style=display:none;'") %>
            
            <%= bs(p,:subject,"text_field",[nil,2],9,12,"row") %>
            
            <%= bs(p,[:body,
                      {class: "tinymce",size: "20x30"}],"text_area",[nil,2],9,12,"row") %>
                      
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email_a" class="control-label col-sm-2">
                        Attachment
                        </label>
                        <div class="col-sm-9">
                          <span class="btn btn-file">
                          <input type="file" name="email[attachment]" id="email_attachment">
                          </span>
                        </div>
                   </div>
                </div>
            </div>
                
            <%= bs(p,[:signature,
                      {class: "tinymce",size: "20x7"}],"text_area",[nil,2],9,12,"row") %>
            <div class="row">  
              <div class="form-group form-last">
                      <div class="col-sm-offset-10 col-sm-10">
                        <%= p.submit "Send", {class: "btn btn-primary"} %>
                      </div>
              </div>
            </div>
            <% end %>
      </div>
      </div>
  </div>
</div>

<script>

tinymce.init({
     selector: "textarea.tinymce",
     theme: "modern",
     plugins: [
      "advlist autolink lists link image charmap print preview hr anchor pagebreak",
      "searchreplace wordcount visualblocks visualchars code fullscreen",
      "insertdatetime media nonbreaking save table contextmenu directionality",
      "emoticons template paste textcolor "
     ],
     toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
     toolbar2: "print preview media | forecolor backcolor emoticons",
     image_advtab: true,
     templates:[ 
        {title: 'Some title 1', description: 'Some desc 1', content: 'My content'}, 
        {title: 'Some title 2', description: 'Some desc 2', url: '/email_templates/3/partial'} 
    ],
     autosave_ask_before_unload: false
});

  acttab('email');
  actdd();
</script>
