<!-- follow_ups for core models -->

<div class="col-md-12">
  <div class="config-content">
    <% if @list.to_i == 1 && obj.follow_ups.size > 0 %>
    <div class="row">
      <h4>Follow Ups</h4>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Event Type</th>
            <th>Starts At</th>
            <th>Assigned To</th>
            <th>Assigned By</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
           <% obj.follow_ups.each do |fu| %>
                <tr>
                    <td><%= link_to fu.title,follow_up_path(fu),{remote: true} %></td>
                    <td><%= truncate(fu.desc,length: 50) %></td>
                    <td><%= fu.event_type.try(:name) %></td>
                    <td><%= fu.starts_at.to_s %></td>
                    <td><%= fu.ato %></td>
                    <td><%= fu.aby %></td>
                    <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe,
                            fu, 
                            method: :delete, 
                            data: { confirm: 'Are you sure?' }  %>
               </tr>
           <% end %> 
        </tbody>
      </table>
    </div>
    <% end %>
    
     <div class="well">
        <div class="row row-top">
          <h4>New Follow Up</h4>
        </div>

          <%= form_for(@follow_up) do |g| %>
            <%= hidden_field_tag "#{g.object_name}[model]", obj_name %>
            <%= g.hidden_field obj_id.to_sym, value: id %>
            <%= g.hidden_field :assigned_by, :value => current_user.id.to_s %>
            
            <%= bs(g,:title,"text_field",[nil,2],5,12,"row") %>
            
            <%= bs(g,[:event_type_id,EventType.order(:name), 
                               :id, 
                               :name,
                               {prompt: "-event type-"},
                               {}],
                               "collection_select",
                               [nil,2],5,12,"row") %>
            
            <%= bs(g,[:starts_at,
                      :class => "dateTimeField caltf "],"text_field",[nil,2],5,12,"row") %>
                      
            <%= bs(g,[:assigned_to,User.order(:first_name), 
                               :id, 
                               :first_name,
                               {prompt: "-assign to-"},
                               {}],
                               "collection_select",
                               ["Assign To",2],5,12,"row") %>

            <%= bs(g,[:desc,
                      :size => "2x2"],"text_area",["Description",2],5,12,"row") %>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="email_a" class="control-label col-sm-2">
                        Add
                      </label>
                      <div class="col-sm-9">
                        <a onclick="$('#more_fields').slideToggle();">more fields</a>
                      </div>
                    </div>
               </div>
            </div>
            
            <div id="more_fields" style="display: none;">
            <%= bs(g,[:ends_at,
                      :class => "dateTimeField caltf"],"text_field",[nil,2],5,12,"row") %>
                      
            <%= bs(g,[:api,
                      :style => "white-space:normal"],"check_box",["Add TO Google?",2],5,12,"row") %>
                      
            <%= bs(g,:remind_before,"text_field",[nil,2],5,12,"row") %>
            
            <%= bs(g,:venue,"text_field",[nil,2],5,12,"row") %>
            </div>

            <div class="form-group form-last">
                    <div class="col-sm-offset-10 col-sm-10">
                      <%= g.submit "Save", {class: "btn btn-primary"} %>
                    </div>
            </div>
            <% end %>
      </div><!-- end well-->
  </div>
</div>
<div id="container"></div>
<script> 
acttab('follow_up'); 
actdd();
</script>
