<!-- Modal -->
            <% cl = id  %> 
            <div id="<%= cl %>" class="modal fade <%= cl %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">
                    <strong>
                    <%= header %>
                    </strong>
                    </h4>
                  </div>
                  <div class="modal-body">
                    <%= content %>
                    
                    
                  </div>
                  <div class="modal-footer form-group">
                      <%= button.html_safe rescue nil %>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            
<script>
<% if id == "commClaimStatusModal" %>           
  $('select#comm_claim_status_all_programmes').change(function(){
    var stat = $('select#comm_claim_status_all_programmes option:selected').text();
    var cont = "#partial-fee";
    var tableId = 'all_programmes';
    if(stat === "Partial Payment Received"){
            $('div.modal-footer button').hide();
            var progIds = getCheckedRowsAsArray(tableId,"dont_stop");
            var posting = $.post('/partial_fee.js',{prog_ids: progIds,
                                   sel_id: '#comm_claim_status_all_programmes',
                                   cont: cont,
                                   table_id: tableId});
    }   
    else{
      $(cont).empty();
      $('div.modal-footer button').show();
    }
    
  });
  

<% end %>
</script>
