<div class="notification-content">
  <% @notys.includes(:creator).each do |n| %>

    <div class="row padT10 seperator <%= n.checked ? '' : 'noty_unchecked' %>">
        <div class="col-xs-12">
          <span class="noty-img"><img src='/a.jpg'/></span> 
          <div class="noty-title"><%= n.title %></div>
          <div class="noty-stuff"><%= n.comment %></div>
          <div class="noty-who"><%= link_to n.creator.first_name,n.creator %> <%= n.created_at %></div>
        </div>                             
    </div>

    <% n.update_attribute(:checked, true) %>

  <% end %>   
  
  <div class="text-center">                
      <small><a href="#">view all</a></small>
  </div> 
</div>  



