<% model = tl.m_name.camelize.constantize %>
<% item =  tl.m_id == 0 ? model : model.find(tl.m_id) %>

<li class="<%= tl.checked ? 'checked' : 'unchecked' %>">
                <table cellpadding="5" cellspacing="5" width="95%">
                <tr>
                    <td align="center" valign="top" width="40">
                      
                      <%= image_tag((u.image? ? u.image_url : "/images/icons/user.png"),
                                    {class: "imgb",width: 30}) %>                
                    <td align="left" valign="top">
                    <div>
                    <b>
                    <%= tl.action.titleize %>
                    </b>
                    <br/>
                    <small>
                    <span class="bblue"><%= link_to (item.tit.titleize),item rescue "" %> </span> -
                    <%= strip_tags(tl.desc) %>
                    </small>
                    </div>
                    <span class="sblue">
                    <%= link_to (tl.user_name),u %>, <%= time_ago_in_words(tl.created_at) %> ago
                    </span>
                    </td>
                </tr>
                </table>
              </li>
              
<% if count %>
<div id="notify_count_container" data-count="<%= count %>" data-pig="senthil" >

</div>
<% end %>
