<!-- rendering the left menu -->
<%= render 'resources/menu' %>

<div class="col-md-9">
  <div class="config-content">
    <div class="row row-top">
      <h3><%= resource_disp2 %></h3>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>Last Modified</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% resource.each do |r| %>
             <% r_name = resource_disp1.downcase.tr(" ","_") %>
            <tr>
              <td>
                <%= link_to(r.tname,
                            "/show_resource/#{r_name}/#{r.id}",
                            {remote: true,
                             onclick: '$("div.row-top > h3").append("<img class=temp src=/images/icons/sload.gif >");'}) %>
              </td>
              <td>
                <%= truncate(r.desc,length: 20) %>
              </td>
              <td><%= r.cby %>(<%= r.created_at.to_s %>)</td>
              <td><%= r.uby %>(<%= r.updated_at.to_s %>)</td>
              <td>
               
                <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, 
                            "/edit_resource/#{r_name}/#{r.id}",
                            {remote: true,
                            onclick: '$("div.row-top > h3").append("<img class=temp src=/images/icons/sload.gif >");'} %>
                <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, 
                            r, 
                            method: :delete, 
                            data: { confirm: 'Are you sure?' }  %>
                
                
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= render 'shared/resource_form', {new_resource: new_resource,
                                        resource_disp1: resource_disp1,
                                        div: "well",
                                        h: "New"} %>
                                        
    <div id="edit-resource-container"></div>
  </div>
</div>

<!-- To activate the currently clicked resource menu -->
<script>
    $(".col-md-3 > ul.nav-pills > li#<%= resource_disp1.underscore.tr(" ","_") %>").attr('class','active');
</script>
