<div class="col-md-3">
  <ul class="nav nav-pills nav-stacked">
      <% [:programme_type,:application_status,:contact_type,
      :course_level,:course_subject,:doc_category,
      :english_level,:enquiry_status,:event_type,
      :exam_type,:qualification,:student_source,
      :sub_agent,:todo_status,:todo_topic].each do |r| %>
      <% if can? :read, r.to_s.camelize.constantize %>
      <li>
         <%= link_to r.to_s.titleize.pluralize,"/" + r.to_s.pluralize %>
      </li>
      <% end %>
      <% end %>
  </ul>
</div>
<!-- resources -->
<% resource_disp1 = "Programme Type" %>
<% resource_disp2 = "Programme Types" %>
<% resource = ProgrammeType.all %>
<% new_resource = ProgrammeType.new %>
<div class="col-md-9">
  <div class="config-content">
    <div class="row row-top">
      <h3><%= resource_disp2 %></h3>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>Last Modified</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% resource.each do |r| %>
            <tr>
              <td>
                <%= best_in_place_if (can? :update,r), r, :name,display_as: :tname %>
              </td>
              <td>
                <%= best_in_place_if (can? :update,r), r, :desc,:type => :textarea %>
              </td>
              <td><%= r.cby %>(<%= r.created_at.strftime("%F %R %p") rescue "Unknown" %>)</td>
              <td><%= r.uby %>(<%= r.updated_at.strftime("%F %R %p") rescue "Unknown" %>)</td>
              <td>
                <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, r, method: :delete, data: { confirm: 'Are you sure?' }  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="well">
        <%= form_for(new_resource, html: {class: 'form-horizontal'}) do |f| %>
          <h4 class="form-heading">New <%= resource_disp1 %></h4>
          <div class="form-group">
            <label for="id_name" class="control-label col-sm-2">Name</label>
            <div class="col-sm-6">
              <%= f.text_field :name, {class: 'form-control', size: nil} %>
            </div>
          </div>
          <div class="form-group">
            <label for="id_des" class="control-label col-sm-2">Description</label>
            <div class="col-sm-6">
              <%= f.text_area :desc, {class: 'form-control', cols: nil, rows: nil} %>
            </div>
          </div>
          <div class="form-group form-last">
            <div class="col-sm-offset-2 col-sm-5">
              <%= f.submit "Create", {class: "btn btn-primary"} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
