<!-- rendering the left menu -->
<%= render 'resources/menu' %>

<div class="col-md-9">
  <div class="config-content">
    <div class="row row-top">
      <h3><%= resource_disp2 %></h3>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>Last Modified</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% resource.each do |r| %>
            <tr>
              <td>
                <%= best_in_place_if (can? :update,r), r, :name,display_as: :tname %>
              </td>
              <td>
                <%= best_in_place_if (can? :update,r), r, :desc,:type => :textarea %>
              </td>
              <td><%= r.cby %>(<%= r.created_at.strftime("%F %R %p") rescue "Unknown" %>)</td>
              <td><%= r.uby %>(<%= r.updated_at.strftime("%F %R %p") rescue "Unknown" %>)</td>
              <td>
                <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, r, method: :delete, data: { confirm: 'Are you sure?' }  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="well">
        <%= form_for(new_resource, html: {class: 'form-horizontal'}) do |f| %>
          <h4 class="form-heading">New <%= resource_disp1 %></h4>
          <div class="form-group">
            <label for="id_name" class="control-label col-sm-2">Name</label>
            <div class="col-sm-6">
              <%= f.text_field :name, {class: 'form-control', size: nil} %>
            </div>
          </div>
          <div class="form-group">
            <label for="id_des" class="control-label col-sm-2">Description</label>
            <div class="col-sm-6">
              <%= f.text_area :desc, {class: 'form-control', cols: nil, rows: nil} %>
            </div>
          </div>
          <div class="form-group form-last">
            <div class="col-sm-offset-2 col-sm-5">
              <%= f.submit "Create", {class: "btn btn-primary"} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- To activate the currently clicked resource menu -->
<script>
    $(".col-md-3 > ul.nav-pills > li#<%= resource_disp1.underscore.tr(" ","_") %>").attr('class','active');
</script>
