<!-- enquiry tabs -->
<div class="row">
<div class="col-xs-12">

<ul class="nav nav-pills seperator">

  <!-- [tab_name,display,class,partial]  -->
  <% tabs =  [["All","","all","listing"]] %>
  <% statuses = stat.constantize.all.map{|i| [i.name.capitalize,"","","listing"]} %>
  <% tabs += statuses %>

  <% tabs = (!current_user.adm? ? tabs.reject{|j| j[0].downcase == "deactivated" } : tabs ) %>
              
  <% tabs[0..6].each do |i| %>

           <% i1 = i[0].tr(" ","_").downcase %>
           
           <li id="<%= i1 %>">
           
             <%= link_to truncate(i[0]),"#",{onclick: model+"TabSwitch(this);",
                                             data: {cond: i1 , partial: i[3] },
                                             lang: i1 + "_id",
                                             class: i1,
                                             style: "display: #{i[1]}",
                                             title: i[0],
                                             tab_type: @tab_type } %>
             
           </li>
   <% end %>
   <% if tabs.size > 7 %>
           <li class="dropdown actions">
                <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" onclick="actdd();">
                    More
                        <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                 <% tabs[7..20].each do |i| %>
                   <% i1 = i[0].tr(" ","_").downcase %>
                   <li id="<%= i1 %>">
           
                     <%= link_to truncate(i[0]),"#",{onclick: model+"TabSwitch(this);",
                                                     data: {cond: i1 , partial: i[3] },
                                                     lang: i1 + "_id",
                                                     class: i1,
                                                     style: "display: #{i[1]}",
                                                     title: i[0],
                                                     tab_type: @tab_type } %>
                     
                   </li>
                 <% end %>
                </ul>
           </li>
   <% end %>
           
 
</ul>
</div>
</div>
<div class="tab-content" id="all_id"> </div>
    
    <% statuses.each do |i| %>
      <div class="tab-content" id="<%= i[0].tr(' ','_').downcase + '_id' %>"> </div>
    <% end %>

