<!-- tasks for core models -->
    <% if @list.to_i == 1 && obj.tasks.count > 0 %>
          <div class="row">
            <h4 class="bold-subhead">Tasks</h4>
          </div>
          <div class="row">
            <table class="table table-striped">
              <thead>
                <tr>
                                  <th>Topic</th>
                                  <th>Description</th>
                                  <th>Status</th>
                                  <th>Due Date</th>
                                  <th>Priority</th>
                                  <th>Assigned To</th>
                                  <th>Assigned By</th>
                </tr>
              </thead>
              <tbody>
                 <% obj.tasks.each do |t| %>
                      <tr>
                          <td><%= t.topic.try(:name) %></td>
                          <td><%= t.desc %></td>
                          <td><%= t.status %></td>
                          <td><%= t.duedate %></td>
                          <td><%= t.priority %></td>
                          <td><%= t.ato %></td>
                          <td><%= t.aby %></td>
                     </tr>
                 <% end %>  
              </tbody>
            </table>
          </div>
    <% end %>

<div class="row well">
        <div class="row row-top">
          <h4 class="bold-subhead">New Task</h4>
        </div>
        <%= form_for(obj) do |f| %>
          <%= f.fields_for(:tasks,Task.new) do |g| %>
      
            <%= g.hidden_field :assigned_by, :value => current_user.id.to_s %>
            
            <%= bs(g,[:topic_id,TaskTopic.order(:name), 
                               :id, 
                               :name,
                               {prompt: "-task topic-"},
                               {}],
                               "collection_select",
                               [nil,2],5,12,"row") %> 
            
            <%= bs(g,:title,"text_field",[nil,2],5,12,"row") %>
                      
            <%= bs(g,[:assigned_to,User.order(:first_name), 
                               :id, 
                               :first_name,
                               {prompt: "-assign to-"},
                               {}],
                               "collection_select",
                               ["Assign To",2],5,12,"row") %>
                               
            <%= bs(g,[:duedate,
                      :class => "dateTimeField caltf"],"text_field",[nil,2],5,12,"row") %>
       
            <%= bs(g,[:api,
                      :style => "white-space:normal"],"check_box",["Add TO Google?",2],5,12,"row") %>
                      
            <%= bs(g,[:desc,
                      :size => "2x2"],"text_area",["Description",2],5,12,"row") %>
                      
           <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="email_a" class="control-label col-sm-2">
                        Priority
                      </label>
                      <div class="col-sm-5">
                         <%= g.select(:priority,
                                      options_for_select(["High","Medium","Low"]),
                                      {},
                                      {class: "form-control"}) %>
                      </div>
                    </div>
               </div>
            </div>
            <div class="row">
              <div class="form-group form-last">
                      <div class="col-sm-offset-10 col-sm-10">
                        <%= g.submit "Save", {class: "btn btn-primary"} %>
                      </div>
              </div>
            </div>
            <% end %>
          <% end %>  
</div><!-- end well-->

<script> 
acttab('task'); 
actdd();
</script>
