<ul class="vls">
  <li>
  <img src="/images/icons/org_todosb.png" width="14"/>
      <h6>
          <b>
            Todos
          </b>
      </h6>
  </li>
            
    <% current_user.todos.includes(:status,:topic).each do |i| %>

                <li>
                <div class="todo_container">
                    <span style='font-size: 1.5em;'>
                      <%= best_in_place i, :done, type: :checkbox ,collection: ["<i data-state='empty'>&#x2610;</i>".html_safe, "<i data-state='fill'>&#x2611;</i>".html_safe], classes: "todo_checkbox"  %>
                    </span>
                    <a href="#">
                      <b>
                        <%= i.topic.name.titleize rescue "Unknown Topic" %>
                      </b>
                    </a>
                    - 
                    <small class="todo_desc <%= i.done ? 'checkit' : 'uncheckit' %>">
                      <%= truncate(i.desc,length: 20) %> 
                    </small>
                    <span class="todo_status">
                      <%= best_in_place i,
                               :status_id, 
                         :type => :select, 
                         :collection => TodoStatus.order(:name).map{|i| [i.id,i.name]} %>
                    </span>
                    <br/>

                    <small class="brt0">
                      By: 
                      <%= link_to i.ass_by,"#" %> &nbsp;&nbsp;                    
                      Due On:
                      <span class="todo_due">
                        <%= best_in_place i,:duedate,type: :date, display_as: "due" %>
                      </span>
                   </small>
               </div>
               </li>

    <% end %>
</ul>
<script type="text/javascript">
$(function(){
  $('.best_in_place').best_in_place();
});

</script>
