<ul class="vls">
  <li>
  <img src="/images/icons/org_todosb.png" width="14"/>
      <h6>
          <b>
            Todos
          </b>
      </h6>
  </li>
            
    <% current_user.todos.includes(:status,:topic).where(done: false).take(5).each do |i| %>

                <li>
                <div class="todo_container">
                    <%= image_tag((i._aby.image? ? i._aby.image_url : "/images/icons/user.png"),
                                   {width: "30",
                                    class: "fl",
                                    style: "margin-right:2px;"}) %>
                    <span style='font-size: 1.5em;'>
                      <%= best_in_place i, :done, type: :checkbox ,collection: ["<span data-state='empty'>&#x2610;</span>".html_safe, "<span data-state='fill'>&#x2611;</span>".html_safe], classes: "todo_checkbox"  %>
                    </span>
                    <small class="todo_desc <%= i.done ? 'checkit' : 'uncheckit' %>">
                      <%= truncate((i.desc.blank? ? i.topic.name : i.desc),length: 35) %> 
                    </small>
                    &nbsp;

                    <br/>

                    <small class="brt0">

                      <%= link_to i.ass_by,i._aby %> 

                      <span class="todo_due">
                        <%= i.due %>
                      </span>
                      <span class="preview" data-todo_id='<%= i.id %>'>
                        ...
                      </span>
                   </small>
               </div>

               </li>

    <% end %>
</ul>
<script type="text/javascript">
$(function(){
  $('.best_in_place').best_in_place();
  imagePreview("todo");
});

</script>
