<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @institution_type.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @institution_type.desc %>
</p>

<p>
  <b>Created by:</b>
  <%= @institution_type.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @institution_type.updated_by %>
</p>


<%= link_to 'Edit', edit_institution_type_path(@institution_type) %> |
<%= link_to 'Back', institution_types_path %>
