<script type="text/javascript">
$(function(){

  showPopUp('cancan_error');

});

</script>

<div id="cancan_error" class="addNewPop box-theme-ch theme-ls" style="display: block; top: 483px; left: 455px;"> 
  <h2><%= flash[:notice] %></h2>
  <br/>
  <h4>Goto? </h4>

  <%= link_to "Enquiries", enquiries_path %> | 
  <%= link_to "Registraions", registrations_path %> | 
   <%= link_to "Todos", todos_path %> | 
  <%= link_to "My Account", current_user %></br>
  
</div>
