<!-- edit only partner_types -->
<div class="row">
      <div class="<%= div %>">
        <%= form_for(new_resource, html: {class: 'form-horizontal'}) do |f| %>
          <% if h == "New" %>
              <h4 class="form-heading"><%= h %> <%= resource_disp1 %></h4>
              <br/>
          <% end %>
          <%= bs(f,"name","text_field",[nil,3],6) %>
          <%= bs(f,[:partner_category_id,PartnerCategory.order(:name),
            :id,
            :name,
            {prompt: "-partner category-"},{}],
            "collection_select",
            [nil,3],6) %>
          <%= bs(f,[:desc,{class: 'form-control', cols: nil, rows: nil}],"text_area",[nil,3],6) %>
          <div class="form-group form-last">
            <div class="col-sm-offset-3 col-sm-5">
              <%= f.submit "Save", {class: "btn btn-primary"} %>
            </div>
          </div>
        <% end %>
      </div>
</div>
