<h2>Account Activation</h2>

<%= form_for resource, :as => resource_name, :url => update_registration_confirmation_path, :html => {:method => 'put', class: "form-horizontal", :id => 'activation-form'} do |f| %>
  <%= devise_error_messages! %>
  <div class="container main">
    <p>Account Activation
      <% if resource.first_name %> for <%= resource.first_name %><% end %>
    </p>
    <% if @requires_password %>
        <%= bs(f,"password","password_field",['password',4],6,6) %>
        <%= bs(f,"password_confirmation","password_field",['password_confirmation',4],6,6) %>
    <% end %>
  </div>
    <%= hidden_field_tag :confirmation_token,@confirmation_token %>
    <%= f.submit "Activate", :id => "account-activate" %>
<% end %>

<script>
  $('#account-activate').click(function(){
    var password = $('#registration_password').val();
    var password_confirmation = $('#registration_password_confirmation').val();
    if ( password != null && password == password_confirmation) {
      return true;
    }    
    else {
      alert("Please provide exact password");
     return false;
    }
  });
</script>