<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @todo_status.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @todo_status.desc %>
</p>


<%= link_to 'Edit', edit_todo_status_path(@todo_status) %> |
<%= link_to 'Back', todo_statuses_path %>
