<!-- New form pop up for payments -->
<img src="/images/icons/quit.png" class="bClose fr" width=16 /> 
<h3>
   Add Fees For <%= @programme.institution.name rescue "Unknown" %>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3> 
<br/>
<br/>
<div class="brg01"></div>

<%= form_for(Payment.new,remote: true) do |pmt| %>

<%= pmt.hidden_field :programme_id, value: @programme_id %>

                <div class="cols padl30">
                        <div class="col6">
                            <div class="fbox">
                              <%= pmt.label :currency %>
                              <%= pmt.select(:currency,all_currencies(Money::Currency.table), {:include_blank => 'Select a Currency'}) %>
                            </div>
                            <%= fbox(pmt,[:tuition_fee,
                                          onkeyup: "calcComm(this,
                                                   '#payment_commission',
                                                   '#payment_amount');"] ,"text_field") %>
                            <div class="fbox">
                              <%= pmt.label :commission %>
                              <%= pmt.text_field :commission,{ value: @comm_rate,
                                                               style: "width: 30px;" } %> %
                              <br/>
                              <br/>
                              * - 
                              <% if @comm_rate.blank? %>
                                <i class="red"> Commission Rate is not given in the contract signed with <%= @programme.institution.name rescue nil %> </i>

                              <% else %>
                                <i class="green"> Commission Rate is taken from the contract signed with <%= @programme.institution.name rescue nil %> </i>
                              <% end %>                          
                          </div>
                          <br/>
                          <br/>
                            <%= fbox(pmt,"amount","text_field") %>                           
                        </div>
                        <br/>
                        <div class="cl"></div>
                <%= pmt.submit "Create",{:class => "btnp fl"} %>
                <br/>
                </br>
                </div>
                
<% end %>

