<!-- permissions used twice - Users, Roles but different in create roles-->

     <% perms = (Permission.where("name REGEXP 'create|update|delete|read|list'").group_by &:subject_class) %>     
     <% r = perms.keys %>
     <% defs = ["Enquiry","Registration","Partner","Person"] %>
     <% r = r - ["All","Country","City"] %>
     <div class="row">
     <% defs.each do |model| %>
      <div class="col-xs-3">
          <ul class="vlsdet-s">
          <li> <h4><%= model %></h5></li>
          
          <% perms[model].reject{|i| i.subject_id == 1}.each do |p| %>            
            <li>
                    <%= check_box_tag "#{f}[permission_ids][]",
                                      p.id, 
                                      role.permissions.include?(p) %>                                                                      
                    <%= label_tag(:permissions, p.action.titleize)%>
            </li>
         <% end %>        
         
       </ul>
     </div>
         
   
    <% end %>
    </div>

      <div class="row form-group">
        <div class="col-xs-12">
          <a class="pointer btn btn-default"  
             onclick="$('.more_permissions').slideToggle(); $('#perm_save_1').slideToggle();"> more </a>       
       </div>
      </div>

     <table  class="tables3 more_permissions" border="0" cellpadding="0" cellspacing="0" width="100%"  style="display:none;">
               <tr>
               <td></td>
               <% ["Create","Read","Update","Delete","List"].each do |i| %>
               <td><%= check_box_tag "permissions_col",
                                         nil,
                                         nil,
                                         {id: "col_check",
                                         checked: false,
                                         onclick: "toggleAllCheckCol(this);"} %>
                <label> <%= i %> </label>
               </td>
               <% end %>
               </tr>
               <% (r - (defs + ["User"])).each do |model| %>
                
                      <tr>
                      <td>
                      <h6>
                     
                      <span class="fl padr10">
                      <%= check_box_tag "permissions_row",
                                         nil,
                                         nil,
                                         {id: "row_check",
                                         checked: false,
                                         onclick: "toggleAllCheckRow(this);"} %>
                      
                      </span>
                       <%= model %>
                      </h6>
                      </td>
                      <% perms[model].each do |p| %>
                        <td align="left">
                                <%= check_box_tag "#{f}[permission_ids][]",
                                                   p.id, 
                                                   role.permissions.include?(p),{class: "permissions"} %>
                        </td>
                      <% end %>
                     </tr>
                <% end %>
    </table>
