<h2>Role on the go </h2>
<%= form_for(Role.new) do |f| %>

<%= f.label :name %><br/>
<%= f.text_field :name, {:class => "ipt"}%><br/>


<%= f.label :description %><br/>
<%= f.text_area :description, {:class => "ipt"}%><br/>
<br/>

<%= f.submit %>
<div class="cl"></div>
<% end %>

