<script type="text/javascript">
$(function(){

  activeMM("usersMM");
  setColorsFromSession();


  $('li.roles_path').addClass('active-tab');
  $('td.role_name').hover(function(){
    $('span.delete_role').hide();
    $(this).find('span.delete_role').show();
  });
  
});

</script>

<div class="tab-container">
<%= render 'users/menus' %>
<div class="tab-content" style="display:block">
<div class="boxp box-theme-ch">
<div class="htab">
<h4>
        Organizor Roles
        </h4></div>
        <br/>
        <br/>
        <br/>
<table class="tables2" border="0" cellpadding="0" cellspacing="0" width="100%">
<thead>
                  <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                  </tr>
                </thead>
                <tbody>
<% @roles.each do |role| %>
  <span>
  <tr>
      <td class="role_name" onClick="$('tr.permissions').hide();$(this).parent('tr').next('tr.permissions').slideToggle();" >
      <%= role.name.titleize %>
      <span class="delete_role" style="display:none">
        &nbsp;&nbsp;&nbsp;
        <%= link_to 'delete', role, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
      </td>
      <td>
        <%= truncate(role.desc,length: 20) %>
      </td>
  </tr>
  <tr class="permissions" style="display:none;">

      <td colspan=2>
        <%= render 'permissions', role: role %>
      </td>

  </tr>
  </span>

<% end %>
</tbody>
</table>
<br/>
<br/>
<br/>
</div>
</div>
</div>


