<h4 class="htab">
Todo
</h4>

<ul class="vlsdet">
   <li><label>Topic </label>: <%= @todo.topic.name rescue "Unknown" %></li>
   <li><label>Status </label>: <%= @todo.status.name rescue "Unknown" %></li>
   <li><label>Due Date </label>: <%= @todo.duedate.strftime("%F %R %p") rescue "Unknown" %></li>
   <li><label>Priority </label>: <%= @todo.priority %></li>
    <li><label>Assigned To </label>: <%= @todo.ato %></li>
   <li><label>Assigned By </label>: <%= @todo.aby %></li>
   <li><label>Created By </label>: <%= @todo.cby %></li>
   <li><label>Created At </label>: <%= @todo.created_at.strftime("%F %R %p") %></li>
   <li><label>Description </label>: <%= @todo.desc %></li>
</ul>

