<div class="row well">
<h4 class="bold-subhead">
  Courses
</h4>


<% @courses.each do |course| %>
  <div class="note-box">

    <div class="row">
      <h3><%= link_to course.name, course %></h3>
      <h4><%= course.university %></h4>
      <small class="light">
        <small>
          <b>email:</b><%= course.contact_email %>
        <b>phone:</b><%= course.contact_phone %>
      </small>
      </small>
      <div class="row">
        <%= truncate(course.desc,length: 500).html_safe %>
      </div>
    </div>
  </div>
  <hr>
<% end %>
</div>



