<p id="notice"><%= notice %></p>
<div class="row well">
  <h3><%= @course.name %></h3>
  <h4><%= @course.university %></h4>
  <hr>
  <p>
  <b>Department:</b>
  <%= @course.department %>
  </p>

  <p>
  <b>Qdmode:</b>
  <%= @course.qdmode %>
  </p>

  <p>
  <b>Intake:</b>
  <%= @course.intake %>
  </p>

  <p>
  <b>Requirements:</b>
  <%= @course.requirements.html_safe rescue "" %>
  </p>

  <p>
  <b>Intl:</b>
  <%= @course.intl.html_safe rescue "" %>
  </p>

  <p>
  <b>Desc:</b>
  <%= @course.desc.html_safe rescue "" %> 
  </p>

  <p>
  <b>Ukfee:</b>
  <%= @course.ukfee %>
  </p>

  <p>
  <b>Internfee:</b>
  <%= @course.internfee %>
  </p>

  <p>
  <b>Fund:</b>
  <%= @course.fund.html_safe rescue "" %> 
  </p>

  <p>
  <b>Named pathway:</b>
  <%= @course.named_pathway %>
  </p>

  <p>
  <b>New enrollment:</b>
  <%= @course.new_enrollment %>
  </p>

  <p>
  <b>Total enrollment:</b>
  <%= @course.total_enrollment %>
  </p>

  <p>
  <b>Scholarships:</b>
  <%= @course.scholarships %>
  </p>

  <p>
  <b>Gscholarships:</b>
  <%= @course.gscholarships %>
  </p>

  <p>
  <b>Bursaries:</b>
  <%= @course.bursaries %>
  </p>

  <p>
  <b>Contact name:</b>
  <%= @course.contact_name %>
  </p>

  <p>
  <b>Contact email:</b>
  <%= @course.contact_email %>
  </p>

  <p>
  <b>Contact phone:</b>
  <%= @course.contact_phone %>
  </p>

  <p>
  <b>Contact web:</b>
  <%= @course.contact_web %>
  </p>

  <p>
  <b>Apply link:</b>
  <%= @course.apply_link %>
  </p>

</div>
