<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @todo_topic.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @todo_topic.desc %>
</p>


<%= link_to 'Edit', edit_todo_topic_path(@todo_topic) %> |
<%= link_to 'Back', todo_topics_path %>
