<!-- Asking the counselor to update fees and sclorship from offer letter -->

<%= form_for(@programme,html: {class: "form-horizontal"}) do |f| %>
  <% @programme.build_fee unless @programme.fee %>
   <% cur = (f.object.fee.currency || @programme.institution.country.currency.code) rescue nil %>
  
  <%= f.fields_for :fee do |fee| %>
    <%= fee.hidden_field :programme_id, value: a.id %>
     <%= bs(fee,[:currency,
            all_currencies(Money::Currency.table),
            {:include_blank => 'Select a Currency',
             :selected => cur},{}],
            "select",
            [nil,3],6,12) %>
    <%= bs(fee,:tuition_fee,"text_field",[nil,3],6,12) %>
    <%= bs(fee,:scholarship,"text_field",[nil,3],6,12) %>
  <% end %>
  

    <div class="form-group form-last">
      <div class="col-xs-5 text-right">
        <%= f.submit "Save",{class: "btn btn-primary"} %>
      </div>
    </div>
    
    <%= render 'user_configs/progress_fu_start' %>
  
<% end %>

