<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @enquiry_source.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @enquiry_source.desc %>
</p>

<p>
  <b>Created by:</b>
  <%= @enquiry_source.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @enquiry_source.updated_by %>
</p>


<%= link_to 'Edit', edit_enquiry_source_path(@enquiry_source) %> |
<%= link_to 'Back', enquiry_sources_path %>
