<%= form_for(@programme_type) do |f| %>
  <% if @programme_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@programme_type.errors.count, "error") %> prohibited this programme_type from being saved:</h2>

      <ul>
      <% @programme_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br />
    <%= f.number_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :updated_by %><br />
    <%= f.number_field :updated_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
