<h1>Listing programme_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Created by</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programme_types.each do |programme_type| %>
  <tr>
    <td><%= programme_type.name %></td>
    <td><%= programme_type.created_by %></td>
    <td><%= programme_type.updated_by %></td>
    <td><%= link_to 'Show', programme_type %></td>
    <td><%= link_to 'Edit', edit_programme_type_path(programme_type) %></td>
    <td><%= link_to 'Destroy', programme_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Programme type', new_programme_type_path %>
