<script>
$(function(){
    setColorsFromSession();
});

</script>
<h4 >
Email
</h4>
<div class="htab" style="height:0">&nbsp;</div>
<div class="previewBox">
<ul class="vlsdet">
   <li><label>By </label>: <%= @email.cby %></li>
   <li><label>Sent At </label>: <%= @email.created_at.strftime("%F %R %p") %></li>
   <li><label>From </label>: <%= @email._from.name rescue "Unknown" %></li>
   <li><label>To </label>: <%= @email.to %></li>
   <li><label>Cc </label>: <%= @email.cc %></li>
   <li><label>Bcc </label>: <%= @email.bcc %></li>
   <li><label>Subject </label>: <%= @email.subject %></li>
   <li><label>Body </label>: <%= @email.body.html_safe %></li>
   <li><label>Signature </label>: <%= @email.signature.html_safe %></li>
</ul>
</div>


