<!-- listing emails -->
<h4>Total : <span class="bold-subhead"><%= @emails.size %></span> emails</h4>

<table class="table table-bordered">
                <thead>
                  <tr>
                    <th>To</th>
                    <th>Subject</th>
                    <th>Date</th>
                    <th>Sent By</th>
                    <th>From</th>
                  </tr>
                </thead>
                <tbody>
                  <% @emails.each do |e| %>
                      <tr>
                        <% total_emails = e.to.split(",").size rescue 0 %>
                        

                        <td>
                          <% if total_emails == 1 %>
                            <%= link_to e.to,e %>
                          <% elsif total_emails > 1 %>
                            <%= link_to truncate(e.to,length: 20),e %> <%= "[#{total_emails}]" %> 
                          <% else %>  
                             Unknown 
                          <% end %>
                        </td>
                        <td><%= e.subject %></td>
                        <td><%= e.created_at.to_s %></td>
                        <td><%= e.email._cre_by.name rescue "Unknown" %></td>
                        <td><%= (e.from.nil? ? e.smtp.name : e.from) rescue "unknown"%></td>
                      </tr>
                  <% end %>
                </tbody>
              </table>
