<!-- EmailTemplate -->
<!-- Tabs---------------------------->
<div class="tab-container">
<%= render "email_templates/menus" %>
<div class="tab-content" id="new_email" style="display:block">
<div class="boxp box-theme-ch">
   <h4 class="htab">
    New Email
   </h4>
   <br/>
   <br/>
   <br/>
  <%= form_for(@email) do |p| %>
    
    <div class="fbox">
         <%= p.label :email_template %>
         
         
         <%= collection_select(:email_template,
                                :email_template_id,
                                EmailTemplate.all,
                                :id,
                                :name,
                                {:prompt => "--Template--"},
                                {:class => "email_templates_select",
                                 :onchange => "sel_act(this);"}) %>
        
    </div>
    <div class="fbox">
        <%= label_tag :send_from %>
        <%= p.collection_select(:smtp_id,
                                Smtp.all,
                                :id,
                                :name,
                                {:prompt => "--From--"},
                                {:class => "countries_select"}) %>
                                
    </div>
    <div class="fbox">
        <%= p.label :to %>
        <%= p.text_area :to,{id: "email_to",style: "height:85px;width:320px;overflow:auto",wrap: "hard"} %>&nbsp;
    </div>
    <br/>
    <div class="fbox">
        <span onclick="$('.cc').slideToggle();">add cc</span> |
        <span onclick="$('.bcc').slideToggle();">add bcc</span>
    </div>
    
    <div class="fbox cc" style="display:none;">
        <%= p.label :cc %>
        <%= p.text_field :cc %>
    </div>
    
    <div class="fbox bcc" style="display:none;">
        <%= p.label :bcc %>
        <%= p.text_field :bcc %>
    </div>
    
    <div class="fbox">
        <%= p.label :subject %>
        <%= p.text_area :subject,{style: 'width:350px;height:20px;'} %>
    </div>
    
    <div class="fbox" style="height:auto">
        <%= p.label :body %>
        <%= p.text_area(:body,{:class => "tinymce"}) %>
    </div>
    <br/>
    <br/>
    <div class="fbox">
        <%= p.label :attachment %>
        <%= p.file_field :attachment %>
    </div>
    <br/>    
    <div class="fbox"  style="height:auto">
        <%= p.label :signature %>
        <%= p.text_area(:signature,{:class => "tinymce",size: "5x5",style: "width:400px"}) %>
    </div>
    <div class="fbox">
        <label>&nbsp;</label>
        <%= p.submit "Send",class: "btnp fl" %>
        
    </div>
  <% end %>

</div>
</div>
</div>


<script>

tinymce.init({
     selector: "textarea.tinymce",
     theme: "modern",
     plugins: [
      "advlist autolink lists link image charmap print preview hr anchor pagebreak",
      "searchreplace wordcount visualblocks visualchars code fullscreen",
      "insertdatetime media nonbreaking save table contextmenu directionality",
      "emoticons template paste textcolor "
     ],
     toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
     toolbar2: "print preview media | forecolor backcolor emoticons",
     image_advtab: true,
     templates:[ 
        {title: 'Some title 1', description: 'Some desc 1', content: 'My content'}, 
        {title: 'Some title 2', description: 'Some desc 2', url: '/email_templates/3/partial'} 
    ],
     autosave_ask_before_unload: false
});

$(function(){
    imagePreview("email");
    setColorsFromSession();
    $("ul.tab-menus1 li.new_email").trigger('click');
    activeMM("emailMM");
});

</script>
