<%= form_for resource, :as => resource_name, :url => update_institution_confirmation_path, :html => {:method => 'put', class: "form-horizontal", :id => 'activation-form'} do |f| %>
  <%= devise_error_messages! %>
  <div class="container main">
    <h2>Account Activation
      <% if resource.email %> for <%= resource.email %><% end %>
    </h2>
    <% if @requires_password %>
        <%= bs(f,"password","password_field",['password',4],6,6) %>
        <%= bs(f,"password_confirmation","password_field",['password_confirmation',4],6,6) %>
    <% end %>
  </div>
    <%= hidden_field_tag :confirmation_token,@confirmation_token %>
    <%= f.submit "Activate", :id => "account-activate", class: "btn btn-primary" %>
<% end %>

<script>
  $('#account-activate').click(function(){
    var password = $('#institution_password').val();
    var password_confirmation = $('#institution_password_confirmation').val();
    if ( password != null && password == password_confirmation) {
      return true;
    }    
    else {
      alert("Password confirmation doesn't match Password");
     return false;
    }
  });
</script>