<ul class="tab-menus1">

<% if can? :create, Email %>
<li class = "emails">
<%= link_to "Emails", emails_path %>
</li>
<% end %>

<% if can? :read, EmailTemplate %>
<li class="email_templates"> 
<%= link_to "Email Templates", email_templates_path %>
</li>
<% end %>

<% if can? :create, Email %>
<li class="new_email"> 
<%= link_to "New Email", new_email_path %>
</li>
<% end %>

<% if can? :create, EmailTemplate %>
<li class="new_email_template"> 
<%= link_to "New Email Template", new_email_template_path %>
</li>
<% end %>

<% if can? :read,Smtp %>
<li class = "smtps">
<%= link_to "Configure SMTP",smtps_path %>
</li>
<% end %>

</ul>
