<!-- show branch -->
<% a = @email_template %>
<div class="row">
              <div class="row row-top ">
                <div class="col-md-6">
                  <div class="col-md-4 text-right light">Name</div>
                  <div class="col-md-8"><%= a.name %></div>
                  <div style="clear:both;"></div>
                  <div class="col-md-4 text-right light">Description</div>
                  <div class="col-md-8"><%= a.desc %></div>
                  <div style="clear:both;"></div>
                  <div class="col-md-4 text-right light">Subject</div>
                  <div class="col-md-8"><%= a.subject %></div> 
                  <div style="clear:both;"></div>
                  <div class="col-md-4 text-right light">Body</div>
                  <div class="col-md-8"><%= a.body.html_safe %></div> 
                  <div style="clear:both;"></div>
                  <div class="col-md-4 text-right light">Signature</div>
                  <div class="col-md-8"><%= a.signature.html_safe %></div>
                  <div style="clear:both;"></div>
                </div>
               </div>
</div>
