<!DOCTYPE html>
<html>
<head>
  <title>Set your password</title>
  <%= stylesheet_link_tag    "home" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 
  
  <!--p class="notice"><%= notice %></p-->
  <!--p class="alert"><%= alert %></p-->
</head>
<body>
<script type="text/javascript">
$(document).ready(function(){
$('#fade').cycle();
});
</script>
<div id="fade">
<img src="/images/b1.jpg" class="theme"/>
<img src="/images/b2.jpg" class="theme"/>
<img src="/images/b3.jpg" class="theme"/>
</div>
<div id="bg1">
<div id="login-box">
<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :invitation_token %>
          <div class="frbox1">
            <%= fs(f,"first_name","text_field",1) %>
          </div>
          <div class="frbox1">
            <%= fs(f,"surname","text_field",1) %>
          </div>
          <div class="frbox1">
            <%= fs(f,"password","password_field",1) %>
          </div>
          <div class="frbox1">
            <%= fs(f,"password_confirmation","password_field",1, "Retype Password") %>
          </div>
          <div class="frbox1">
          <label> &nbsp; </label>
          <%= f.submit t("devise.invitations.edit.submit_button"),{class: "btnp"} %>
          </div>
        <% end %>
</div>
</div>
</body>
</html>

