  <%= stylesheet_link_tag    "application" %>
<div class="tab-container" align="center">
<div class="tab-content" style="display:block">
<div class="boxp box-theme-ch accept_invite">
<br/>
<br/>

<br/>
<br/>
<br/>
    <div class="cols" >
    
        <div class="col6">
        <h2><%= t 'devise.invitations.edit.header' %></h2>
        <br/>
        <br/>
        <br/>
    
        <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :invitation_token %>
          <div class="frbox1">
          <%= f.input :first_name %>
          </div>
          <div class="frbox1">
          <%= f.input :surname %>
          </div>
          <div class="frbox1">
          <%= f.input :password %>
          </div>
          <div class="frbox1">
          <%= f.input :password_confirmation, label: "Retype Password" %>
          </div>
          <div class="frbox1">
          <label> &nbsp; </label>
          <%= f.submit t("devise.invitations.edit.submit_button"),{class: "btnp"} %>
          </div>
        <% end %>
        </div>
        

    </div>
</div>
</div>
</div>
