  <%= stylesheet_link_tag    "application" %>
<div class="tab-container" align="center">
<div class="tab-content" style="display:block">
<div class="boxp box-theme-ch accept_invite">
<br/>
<br/>

<br/>
<br/>
<br/>
    <div class="cols" >
    
        <div class="col6">
        <h2><%= t 'devise.invitations.edit.header' %></h2>
        <br/>
        <br/>
        <br/>
    
        <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :invitation_token %>
          <div class="frbox1">
            <%= fs(f,"first_name","text_field",1) %>
          </div>
          <div class="frbox1">
            <%= fs(f,"surname","text_field",1) %>
          </div>
          <div class="frbox1">
            <%= fs(f,"password","password_field",1) %>
          </div>
          <div class="frbox1">
            <%= fs(f,"password_confirmation","password_field",1, "Retype Password") %>
          </div>
          <div class="frbox1">
          <label> &nbsp; </label>
          <%= f.submit t("devise.invitations.edit.submit_button"),{class: "btnp"} %>
          </div>
        <% end %>
        </div>
        

    </div>
</div>
</div>
</div>
