<!DOCTYPE html>
<html>
<head>
  <title>Set your password</title>
  <%= stylesheet_link_tag    "home" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 
  
  <!--p class="notice"><%= notice %></p-->
  <!--p class="alert"><%= alert %></p-->
</head>
<body>
<script type="text/javascript">
$(document).ready(function(){
$('#fade').cycle();
});
</script>
<div id="fade">
<img src="/images/b1.jpg" class="theme"/>
<img src="/images/b2.jpg" class="theme"/>
<img src="/images/b3.jpg" class="theme"/>
</div>
<div id="bg1">
<div id="login-box">
<h2>Set Your Password</h2>
<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>

          <%= devise_error_messages! %>
          <%= f.hidden_field :invitation_token %>
          
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
          <br/>
          <%= f.label :surname %>
          <%= f.text_field :surname %>
          <br/>
          <%= f.label :password %>
          <%= f.text_field :password %>
          <br/>
          <%= f.label :retype_password %>
          <%= f.text_field :password_confirmation %>
          <br/>
          
          <span class="th35">
           <%= f.submit 'Go', :class => "white-button"%>
          </span>
          
<% end %>
</div>
</div>
</body>
</html>

