<!DOCTYPE html>
<html>
<head>
  <title>Set your password</title>
  <%= stylesheet_link_tag    "home" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 
  
  <!--p class="notice"><%= notice %></p-->
  <!--p class="alert"><%= alert %></p-->
</head>
<body>
<script type="text/javascript">
$(document).ready(function(){
$('#fade').cycle();
});
</script>
<div id="fade">
<img src="/images/b1.jpg" class="theme"/>
<img src="/images/b2.jpg" class="theme"/>
<img src="/images/b3.jpg" class="theme"/>
</div>
<div id="bg1">
<div id="login-box">
<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
<%= devise_error_messages! %>
<%= f.hidden_field :invitation_token %>
<table cellpadding="10" cellspacing="0" width="100%">
<tr>
<td align="left" valign="top" class="fboxw">
<%= f.input :first_name %>
</td>
</tr>
<tr>
<td align="left" valign="top"  class="fboxw">
<%= f.input :surname %>
</td>
</tr>
<tr>
<td align="left" valign="top"  class="fboxw">
<%= f.input :password %>
</td>
</tr>
<tr>
<td align="left" valign="top"  class="fboxw">
<%= f.input :password_confirmation, label: "Retype Password" %>
</td>
</tr>
<tr>
<td align="left" valign="top"   class="fboxw">
<label>&nbsp;</label>
<%= f.submit t("devise.invitations.edit.submit_button"),{class: "btnp"} %>
</td>
</tr>
</table>
<% end %>
</div>
</div>
</body>
</html>

