<!-- Ranscak filters for reports -->            
              <div class="row">

                  <h4 class="bold-subhead"><%= @module.titleize %> Fields </h4>                  

              </div>               
              <%= @cols.each_slice(4).each do |el| %>
                <div class="row">
                  <div class="col-md">
                    <% el.each do |i| %>                                            
                        <% if i[0] == :associations %>
                          <% asso = figure_asso(i,f,@q) %>                                  
                            <% asso[1].each_slice(3).each do |o| %>
                              <% o.each do |l| %>
                                <div class="col-md-3">                           
                                  <%= l %> 
                                </div>                                        
                              <% end %>
                          <% end %>  
                               <div class="col-md-12">
                                 <br/>
                                 <div class="col-md-7">
                                     <%= asso[0] %>
                                 </div>  
                               </div>  
                        <% else %> 
                          <% same = figure_filter(i,f,@q) %>     
                              <div class="col-md-3"> 
                                <%= same[0] %> 
                                <%= same[1][0] %> 
                              </div>                       
                        <% end %>                                                         
                    <% end %>
                  </div>
                </div>
              <% end %>  

              <div class="row text-center">
                  <div class="col-md-12 form-inline">
                            <div class="form-group">        
                              <%= f.submit "Run", class: "btn btn-primary marL30" %>
                            </div>  
                            <div class="form-group">        
                              
                              <span class="btn btn-primary marL30" data-q="<%= @q %>" onclick="save_report(this);" data-q="<%= @q %>"> 
                                Save
                              </span>
                            </div> 
                            <div class="form-group">        
                              <%= link_to "Restart","/reports/#{@heading}/#{@module}",class: "btn btn-primary marL30" %>
                            </div>                             
                  </div>
              </div>
              </div> 



      


