<!-- header -->
<%= render 'reports/header' %>
<br/>
<h4 class="text-center bold-subhead"><%= @module.titleize %></h4>

  <div id="pie_chart_filter" class="row well">
    <div class="col-md-2">
      <h4 class="bold-subhead">Pie Chart</h4>
    </div>
    <div class="col-md-2">                  
                  <%= select_tag :asso,options_for_select(@main_sel),
                  {:prompt => "-pie-",
                  class: "form-control reddd",
                  } %>  
    </div>
    <div class="col-xs-2">
      <%= select_tag :last_months,options_for_select([["Last 1 month",1],
                                             ["Last 3 months",3],
                                             ["Last 6 months",6],
                                             ["Last 1 year",12]],@last_months),
                           {prompt: "-period-",
                            class: "form-control greendd"} %>
    </div>
    <div class="col-xs-2">
      <%= text_field_tag :from,@from,{placeholder: "-from-",class: "form-control greendd datepicker"} %>
    </div>
    <div class="col-xs-2">
      <%= text_field_tag :to,@to,{placeholder: "-to-",class: "form-control greendd datepicker"} %>
    </div>
    <!-------------------------------- --
    <% if false %>
    <div class="col-md-2">                  
                  <%= text_field_tag :year,nil,
                  {placeholder: "-year-",class: "form-control greendd "} %>  
    </div>
    <div class="col-md-2">                  
                  <%= text_field_tag :month,nil,
                  {placeholder: "-month-(6 for june)",class: "form-control greendd "} %>  
    </div>
    <% end %>
  -->
    <div class="col-md-2 form-group ">
      <%= button_tag "Run", { onclick: "change_chart('pie','#pie_chart_filter','#{@module}');", 
                              class: "btn btn-primary marL30 text-left" } %>
    </div>
  </div>
  <div id="pie_filter"></div>

  <div class="row well">   
    <div class="col-md-12">
      <div id="pie"></div>
    </div>   
  </div>

<div class="clear"></div>
<hr>     
<% if @bar %>

  <div id="bar_chart_filter" class="row well">
      <div class="col-md-2">
        <h4 class="bold-subhead">Bar Chart</h4>
      </div>
      <div class="col-md-2">                                
               
                <%= select_tag :asso,options_for_select(@main_sel),
                {:prompt => "-bar(Y axis)-",
                class: "form-control reddd bar_chart" } %>  
      </div>
      <div class="col-md-2">                       
     
                <%= select_tag :sub_asso,options_for_select(@bar_split),
                {:prompt => "-bar(X axis)-",
                class: "form-control reddd" } %>  
      </div>
      <div class="col-xs-2">
        <%= select_tag :last_months_bar,options_for_select([["Last 1 month",1],
                                               ["Last 3 months",3],
                                               ["Last 6 months",6],
                                               ["Last 1 year",12]],@last_months_bar),
                             {prompt: "-period-",
                              class: "form-control greendd"} %>
      </div>
      <div class="col-xs-2">
        <%= text_field_tag :from_bar,@from_bar,{placeholder: "-from-",class: "form-control greendd datepicker"} %>
      </div>
      <div class="col-xs-2">
        <%= text_field_tag :to_bar,@to_bar,{placeholder: "-to-",class: "form-control greendd datepicker"} %>
      </div>
        <br/>
        <br/> 
        <div class="row">
          <div class="col-md-12 form-group text-right">
          <%= button_tag "Run", { onclick: "change_chart('bar','#bar_chart_filter','#{@module}','_bar');", 
                                  class: "btn btn-primary marL30 text-left" } %>
          </div>                        
        </div>  
      
  </div>
  <div id="bar_filter"></div>

  <div class="row well">
    <div class="col-md-12">
      <div id="bar"></div>
    </div>
  </div>
<% end %>      

<script>


   //lines to show charts in a gradient style 
   Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
        return {
            radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

   init_chart("pie",<%= @pie.to_json.html_safe %>,'<%= @pie_meta %>',"ASdf");
   <% if @bar %>
     init_chart("bar",<%= @bar[0].to_s.html_safe %>,'<%= @bar_meta %>',<%= @bar[1].to_json.html_safe %>);
   <% end %>

   $('input:text, select').each(function(){
    if ($(this).val().length > 0){
      $(this).css({'background-color' : '#f8f4b0', 'color' : '#555753'});
    }
   });
   // makes sure either last_months or from/to values will be passed
   filterIndicator();
   // makes sure either last_months or from/to values will be passed
   filterIndicator('_bar');

</script>


<link rel="stylesheet" href="/css/jquery-ui-1.10.4.custom.css">