<%= render 'header' %>

<% core =  [["Enquiries","earphone"],["Registrations","pencil"],["Partners","home"],["People","globe"]]%>

<%  [["Core Modules","Generate reports, filtering by anything","green-well2","tower",
	 core],
    ["Charts","Prepare charts for the core modules","green-well2","signal",
     [["Enquiries","align-left"],["Registrations","align-right"],["Partners","align-center"],["People","align-justify"]]],
    ["Users","Reports, that focuses on various attributes of users","green-well2","user",
     [["Single User","user"],["Compare Users","random"]]],
    ["Analytics","Data Insights that helps to take action and measure performance","green-well2","th-list",
     [["Course Levels","book","course_levels/fees_commission/desc-most"],
      ["Commissions","gbp","registrations/fees_commission/asc-most"],
      ["Payments","euro","partners/first_payment_duration/minus-long"],
      ["All Analytics","th",""]]]].each do |r| %>

    <div class="row">	 
		<div class="col-md-3">
			<div class="<%= r[2] %> padAll10 modal-content">			  
		      <h4 class="bold-subhead">
		      	<span class="glyphicon glyphicon-<%= r[3] %>"></span><%= r[0] %>
		      </h4>	      
		      <small class="sm">
		      	<%= r[1] %>
		      </small>
		    </div>
	    </div>    

	    <div class="col-md-1"></div>
	    
	    	<% r[4].each do |r1| %>
	    	<div class="col-md-2"> 
	    	  <div class="row">	
	    	  	  <% ds_item = despace(r1[0]) %>

	    	  	  <% if (despace(r[0]) == "analytics") %>
	    	  	    <% link = "/analytics/#{r1[2]}" %>
	    	  	  <% else %>
	    	  	    <% link = "/reports/#{despace(r[0])}/#{ds_item}" %>
	    	  	  <% end %>

		    	  <%= link_to link,{id: "#{ds_item}"} do %>	
			    	  <span class="rounded well pointer modal-content bright-well">
		                <span class="l glyphicon glyphicon-<%= r1[1] %>">
		                </span>
			    	  </span>
		    	  <% end %>
		    	  <div class="row">
			    	 <h5><%= r1[0] %></h5>
			      </div>
	    	  </div>
	    	</div>  
	    	<% end %>
	    
	</div>
	<div class="col-md-12">
		<hr>
	</div>

<% end %>

<div id="compare-users-container"> </div>