<!-- header -->
<%= render 'reports/header' %>
<div id="save_report"> </div>

<%= search_form_for @search,url: filter_reports_path, method: :post, 
                                                            html: {class: "form-horizontal", 
	  	                                                    id: "ransack_form" } do |f| %>
      <!-- filter -->
      <div class="row">
        <div class="well blue-well ransack">                                                           
	    <%= render 'reports/ransack_filter', f: f %>

	    <%= hidden_field_tag :module,@module %>
	    <%= hidden_field_tag :heading,@heading %>
        </div>   
      </div>
      
              <div class="row"></div>
              <div class="row"></div>
              <div class="row"></div>
              
<!-- display -->
<div class="row bb">  
  <div class="col-xs-5">
     <h3> Total <%= @module.titleize %>
     (<span class="bblue"> <%= @results.total_entries %> </span>)
     </h3>
  </div>  
  <div class="col-xs-7">   
    
  </div>
</div>
<br/>

<div id="reports-table">
  <%= render 'table', cols: @cols.except(:associations), results: @results,f: f %>
</div>

<% end %>  
<!-- Charts -->
<div class="row">  
  <div class="col-md-12 bb">
     <div class="col-md-2">
       <h3> Charts </h3>     
     </div>
  </div>
</div>
<br/>

  <div id="pie_chart_filter" class="row well">
    <div class="col-md-2">
      <h4 class="bold-subhead">Pie Chart</h4>
    </div>
    <div class="col-md-2">                  
                  <%= select_tag :asso,options_for_select(@main_sel),
                  {:prompt => "-pie-",
                  class: "form-control greendd",
                  } %>  
    </div>
    <div class="col-md-2">                  
                  <%= text_field_tag :year,nil,
                  {placeholder: "-year-",class: "form-control greendd "} %>  
    </div>
    <div class="col-md-2">                  
                  <%= text_field_tag :month,nil,
                  {placeholder: "-month-(6 for june)",class: "form-control greendd "} %>  
    </div>
    <div class="col-md-2 form-group ">
      <%= button_tag "Run", { onclick: "change_chart('pie','#pie_chart_filter','#{@module}');", 
                              class: "btn btn-primary marL30 text-left" } %>
    </div>
  </div>

  <div class="row">   
    <div class="col-md-12">
      <div id="pie"></div>
    </div>   
  </div>

<div class="clear"></div>
<hr>     


  <div id="bar_chart_filter" class="row well">
      <div class="col-md-2">
        <h4 class="bold-subhead">Bar Chart</h4>
      </div>
      <div class="col-md-2">                                
               
                <%= select_tag :asso,options_for_select(@main_sel),
                {:prompt => "-bar(Y axis)-",
                class: "form-control reddd bar_chart" } %>  
      </div>
      <div class="col-md-2">                       
     
                <%= select_tag :sub_asso,options_for_select(@bar_split),
                {:prompt => "-bar(X axis)-",
                class: "form-control reddd" } %>  
      </div>
      <div class="col-md-2">                  
                  <%= text_field_tag :year,nil,
                  {placeholder: "-year-",class: "form-control reddd "} %>  
      </div>
      <div class="col-md-2">                  
                    <%= text_field_tag :month,nil,
                    {placeholder: "-month-(6 for june)",class: "form-control reddd "} %>  
      </div>
      <div class="col-md-2 form-group ">
      <%= button_tag "Run", { onclick: "change_chart('bar','#bar_chart_filter','#{@module}');", 
                              class: "btn btn-primary marL30 text-left" } %>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="bar"></div>
    </div>
  </div>
      

<script>


   //lines to show charts in a gradient style 
   Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
        return {
            radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

   init_chart("pie",<%= @pie.to_json.html_safe %>,'<%= @pie_meta %>',"ASdf");
   init_chart("bar",<%= @bar[0].to_s.html_safe %>,'<%= @bar_meta %>',<%= @bar[1].to_json.html_safe %>);

   $('input:text, select').each(function(){
    if ($(this).val().length > 0){
      $(this).css({'background-color' : '#f8f4b0', 'color' : '#555753'});
    }
   });
    


</script>


<link rel="stylesheet" href="/css/jquery-ui-1.10.4.custom.css">