<!-- header -->
<%= render 'reports/header' %>
<div id="save_report"> </div>

<%= search_form_for @search,url: filter_reports_path, method: :post, 
                                                            html: {class: "form-horizontal", 
	  	                                                    id: "ransack_form" } do |f| %>
      <!-- filter -->
      <div class="row">
        <div class="well blue-well ransack">                                                           
	    <%= render 'reports/ransack_filter', f: f %>

	    <%= hidden_field_tag :module,@module %>
	    <%= hidden_field_tag :heading,@heading %>
        </div>   
      </div>
      
              <div class="row"></div>
              <div class="row"></div>
              <div class="row"></div>
              
<!-- display -->
<div class="row bb">  
  <div class="col-xs-5">
     <h3> Total <%= @module.titleize %>
     (<span class="bblue"> <%= @results.total_entries %> </span>)
     </h3>
  </div>  
  <div class="col-xs-7">   
    
  </div>
</div>
<br/>

<div id="reports-table">
  <%= render 'table', cols: @cols.except(:associations), results: @results,f: f %>
</div>

<% end %>  

<script>
   $('input:text, select').each(function(){
    if ($(this).val().length > 0){
      $(this).css({'background-color' : '#f8f4b0', 'color' : '#555753'});
    }
   });
</script>

<link rel="stylesheet" href="/css/jquery-ui-1.10.4.custom.css">