<div class="htab">
<h6><b>Assign To</b></h6>
</div>
<br/>
<%= form_for(obj) do |f| %>
<div id="assignto-action" class="action-box">
    <div class="cols">
        <div class="col6">
           <%= fbox(f,[:assigned_to, 
                     User.order(:first_name), 
                     :id, 
                     :first_name,
                     {:prompt => "--User--"}],"collection_select",1,"Assign To") %>
           <%= fbox(f,[:audit_comment,size: "10x3",style: 'width:400px;'],"text_area",nil,"Comments") %>
            <%= f.hidden_field :assigned_by, :value => current_user.id.to_s %>
            
            <%= hidden_field_tag "#{f.object_name}[assign]", "from_action" %>
            <br/><br/><br/>
            <%= f.submit "Assign",{:class => "btnp"} %>
        </div>
    </div>
    
</div>
<% end %>
