<!-- basic information about an enquiry -->
<% a = @enquiry %>

<div class="row border-b">
  
  <div class="col-xs-3">
    <%= render 'images/disp', core: "enquiry", a: a %>


    <ul class="vlsdet-s" >
        <h4 class="bold-subhead">Quick Info</h4>
           <%= li2('status',[:status_id,:select,EnquiryStatus,:status_name],a,nil,"span","strong")%>
           <% if a.direct %>          
           <%= li2('channel',[:contact_type_id,:select,ContactType,:contact_type_name],a,nil,"span","strong")%>
           <%= li2('source',[:student_source_id,:select,StudentSource,:source_name],a,nil,"span","strong")%>       
           <% else %>
           <%= li2('sub_agent',[:sub_agent_id,:select,Person.sub_agents,:sub_agent_first_name,:first_name],a,nil,"span","strong")%>
           <% end %>

           <% hsh = {emails: "by",follow_ups: "to",todos: "to",notes: "by"} %>
           <% %w(emails follow_ups todos notes).each do |act| %>
             <% out = meta(current_user.id,"enquiry",act,a,hsh[act.to_sym]) %>
             <%= li1(act,out,'span','small')%>
           <% end %>
    </ul>

  </div>
  <div class="col-xs-5 row-top">
    <ul class="vlsdet pt-0 border-b">
        <h4 class="row-top bold-subhead">Personal</h4>
        <% %w(first_name surname date_of_birth gender).each do |v| %>
        <%= li1(v,v,'span','small',a)%>
        <% end %>
        <%= li2('nationality',[:country_id,:select,Country,
                  :nationality],a,nil,"span","strong")%>
    </ul>
    <ul class="vlsdet-s">
        <h4 class="bold-subhead">Contact</h4>
        <% %w(mobile1 mobile2 email alternate_email address).each do |v| %>
        <%= li1(v,v,'span','small',a)%>
        <% end %>
    </ul>
  </div>
  <div class="col-xs-4">
        <h5 class="text-center green-sided">Branch : <b><%= a.branch.try(:name) %></b></h5>
    <h5 class="text-center red-sided">Owner : <b><%= a.ato %></b></h5>


    <div class="well well-sm form-last">
        <h4 class="bold-subhead">History</h4>
        <ul class="vlsdet-s pt-0">
           <%= li1('enquired_at',a.created_at.to_date,'span','small')%>
           <%= li1('created_by',a.cby,'span','small')%>
           <%= li1('Modified At',a.updated_at.to_date,'span','small')%>
           <%= li1('Modified By',a.uby,'span','small')%>
           <% out = current_user.id == a.assigned_to ? [a.ato,1,'to me'] : a.ato %>
           <%= li1('assigned to',out,'span','small')%>
           <%= li1('assigned by',a.aby,'span','small')%>
        </ul>
    </div>
  </div>

  <div class="col-xs-4">
   <div class="well orange-well">   
        <h4 class="bold-subhead">Preferred Countries</h4>
         <ul class="vlsdet"> 
           <%= a.preferred_countries.blank? ? "<h5>No preferred countries</h5>".html_safe : "" %>
           <% a.preferred_countries.each_with_index do |p,i| %>
             <li><%= i + 1 %>. <%= p.country.name.titleize rescue "Unknown" %></li>
           <% end %>         
         </ul> 
  </div>
  </div> 
</div>

<div class="row">
  <div class="row row-top">
    <div class="col-xs-12">  
      <h4 class="bold-subhead">Programmes Interested</h4>
    </div>
  </div>
  <ul class="vlsdet">
  <%= a.programmes.blank? ? "<h5>No programmes</h5>".html_safe : "" %>
  <% a.programmes.each do |i| %>
      <div class="col-xs-6">
        <%= render 'programme', i: i %>
      </div>
  <% end %>
  </ul>
  
</div>
<div class="row row-top border-b">
  <div class="col-xs-12">
      <div class="panel-group" id="accordion">
      <div class="panel panel-default">
            <div class="panel-heading green-well">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseNew">
                <strong>
                <span class="glyphicon glyphicon-plus-sign mar10"></span>New Programme</strong></a>
              </h4>
            </div>
              <div id="collapseNew" class="panel-collapse collapse">
                  <div class="panel-body">
                    <%= nested_form_for(a,html: {class: "form-horizontal"}) do |f| %>
                          <%= render 'enquiries/preferred_programmes',f: f,flag: "show_title",build: Programme.new %>
                          <div class="row row-top mt-15">
                            <div class="col-xs-12">
                              <div class="form-group form-last">
                                <div class="col-xs-12 text-right">
                                <%= f.submit "Save",{class: "btn btn-primary"} %>
                               </div>
                              </div>
                            </div>
                          </div>
                    <% end %>
                </div>
              </div>
        </div>
      </div>
      <div class="clear"></div>
      <br/>
  </div>
</div>

<script>
  $('.best_in_place').best_in_place();
</script>
