<!-- emails to enquiry -->
<br/>
<% if @list.to_i == 1 && obj.first.emails.size > 0 %>
    <table class="tables2" border="0" cellpadding="0" cellspacing="0" width="100%">
         <thead>
          <tr>
                                <th>Subject</th>
                                <th>Date</th>
                                <th>Sent By</th>
                                <th>From</th>
                                <th>View all</th>
          </tr>
        </thead>
        <tbody>
                <% obj.first.emails.each do |email| %>
                    <tr>
                        <td><%= email.subject %></td>
                        <td><%= email.created_at.strftime("%F %R %p") %></td>
                        <td><%= email._created_by.name rescue "" %></td>
                        <td><%= email.smtp.name rescue "unknown" %></td>
                        <td  class="preview" data-email_id='<%= email.id %>'>...</td>
                   </tr>
               <% end %>
                    <tr>
                        <td colspan="5" align="left"><a href="#">Back</a></td>
                   </tr>

        </tbody>
      </table>
    <br/><br/>
<% end %>

<div id="email-action" class="action-box">
<div class="htab">
        <h6><b>New Email</b></h6>
</div>

  <%= form_for(e) do |p| %>
    <%= hidden_field_tag "#{p.object_name}[model]", obj_name %>
    <%= hidden_field_tag "#{p.object_name}[#{obj_ids}][]", @subject_ids %>
    
    <div class="fbox">
         <%= p.label :email_template %>
         
         
         <%= collection_select(:email_template,
                                :email_template_id,
                                EmailTemplate.all,
                                :id,
                                :name,
                                {:prompt => "--Template--"},
                                {:class => "email_templates_select",
                                 :onchange => "sel_act(this);"}) %>
                                 
         <%= link_to "Create Email Template","/email_templates/new",{target: "_blank"} %>
         <div id="email_template_create"> </div>      
    </div>
    <div class="fbox">
        <%= label_tag :send_from %></td>
        <%= p.collection_select(:smtp_id,
                                Smtp.all,
                                :id,
                                :name,
                                {:prompt => "--From--"},
                                {:class => "countries_select"}) %>
                                
    </div>
    <div class="fbox">
        <%= p.label :to %>
        <%= p.text_area :to,{id: "email_to",style: "height:85px;width:320px;overflow:auto",wrap: "hard"} %>&nbsp;
    </div>
    <br/>
    <div class="fbox">
    <span onclick="$('.cc').slideToggle();">add cc</span> |
        <span onclick="$('.bcc').slideToggle();">add bcc</span>
    </div>
    
    <div class="fbox cc" style="display:none;">
        <%= p.label :cc %>
        <%= p.text_field :cc %>
    </div>
    <div class="fbox bcc" style="display:none;">
        <%= p.label :bcc %>
        <%= p.text_field :bcc %>
    </div>
    <div class="fbox">
        <%= p.label :subject %>
        <%= p.text_area :subject,{style: 'width:350px;height:20px;'} %>
    </div>
    <div class="fbox" style="height:auto">
        <%= p.label :body %>
        <%= p.text_area(:body,{:class => "tinymce"}) %>
    </div>
    <br/>
    <br/>
    <div class="fbox">
        <%= p.label :attachment %>
        <%= p.file_field :attachment %>
    </div>
    <br/>    
    <div class="fbox"  style="height:auto">
        <%= p.label :signature %>
        <%= p.text_area(:signature,{:class => "tinymce",size: "5x5",style: "width:400px"}) %>
    </div>
    <div class="fbox">
        <label>&nbsp;</label>
        <%= p.submit "Send",class: "btnp fl" %>
        
    </div>
  <% end %>

    </div>

<script>

tinymce.init({
     selector: "textarea.tinymce",
     theme: "modern",
     plugins: [
      "advlist autolink lists link image charmap print preview hr anchor pagebreak",
      "searchreplace wordcount visualblocks visualchars code fullscreen",
      "insertdatetime media nonbreaking save table contextmenu directionality",
      "emoticons template paste textcolor "
     ],
     toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
     toolbar2: "print preview media | forecolor backcolor emoticons",
     image_advtab: true,
     templates:[ 
        {title: 'Some title 1', description: 'Some desc 1', content: 'My content'}, 
        {title: 'Some title 2', description: 'Some desc 2', url: '/email_templates/3/partial'} 
    ],
     autosave_ask_before_unload: false
});

$(function(){
    imagePreview("email");
});

</script>
