<script>
$(function(){
    imagePreview("follow_up");
});
</script>
<% if @list.to_i == 1 && obj.follow_ups.size > 0 %>
<table class="tables2" border="0" cellpadding="0" cellspacing="0" width="100%">
     <thead>
      <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Starts At</th>
                            <th>Event Type</th>
                            <th>Assigned To</th>
                            <th>Assigned By</th>
                            <th>View All</th>
      </tr>
    </thead>
    <tbody>
            <% obj.follow_ups.each do |fu| %>
                <tr>
                    <td><%= fu.title %></td>
                    <td><%= fu.desc %></td>
                    <td><%= fu.starts_at.strftime("%F %R %p") %></td>
                    <td><%= fu.event_type.try(:name) %></td>
                    <td><%= fu.ato %></td>
                    <td><%= fu.aby %></td>
                    <td class="preview" data-follow_up_id='<%= fu.id %>'>...</td>
               </tr>
           <% end %>               
                <tr>
                    <td colspan="6" align="left"><a href="#">Back</a></td>
               </tr>
    </tbody>
  </table>
<br/>
<br/>
<% end %>
<div class="htab">
        <h6><b>New Follow up</b></h6>
</div>
<br/>
<div id="followup-action" class="action-box" >
<%= form_for(@follow_up) do |g| %>
  <%= hidden_field_tag "#{g.object_name}[model]", obj_name %>
  <%= g.hidden_field obj_id.to_sym, value: id %>
                <div class="cols">
                    <div class="col6">
                        <%= fbox(g,"title","text_field") %>
                        <%= go_create(g,"event_type","event_type_id","name",1,"fbox") %> 
                        <%= fbox(g,[:starts_at,:class => "dateTimeField caltf "],"text_field",nil) %>
                        <%= fbox(g,[:ends_at,:class => "dateTimeField caltf"],"text_field",nil) %>
                        <%= fbox(g,[:assigned_to, 
                                 User.order(:first_name), 
                                 :id, 
                                 :first_name,
                                 {:prompt => "--User--"}],"collection_select",1,"Assign To") %>
                        <%= g.hidden_field :assigned_by, :value => current_user.id.to_s %>
                        <%= fbox(g,[:desc,:size => "2x2",:style => "height:auto"],"text_area",nil,"Description") %>
                        <br/>
                        <br/>
                        <br/>
                        <span onclick="div_toggle(this,'#more_fields')" class="btns">more fields</span>

                        <div class="cl"></div>
                        <br/>
                        <br/>
                        <br/>
            
                        <div class="cols" id="more_fields" style="display:none;">
                          
                          <%= fbox(g,[:api,:style => "white-space:normal"],"check_box",nil,"Add To Google?") %>
                          <%= fbox(g,:remind_before,"text_field") %>
                          <%= fbox(g,:venue,"text_field") %>
                        </div>
                    </div>
                </div>
    <br/>
    <%= g.submit "Create",{:class => "btnp fl"} %>
    <div class="cl"></div>
<% end %>
</div>
