<%= nested_form_for(@enquiry) do |f| %>
  <% if @enquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enquiry.errors.count, "error") %> prohibited this enquiry from being saved:</h2>

      <ul>
      <% @enquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

                   
                   
  <%= render 'enquiry_information', :f => f %>
 
  <%= render 'preferred_countries', :f => f %>
  
  <%= render 'preferred_programmes', :f => f %>
  
  
  <div class="cl"></div>
  <br/>
  <br/>
  
  <div class="actions" style="margin-bottom:10px;">
   <%= f.submit "Save",{:class => "btnp fr"} %>
   <%= f.submit "Save and New",{:class => "btnp fr", :name => 'save_new'} %>
  </div>
  <div class="cl"></div>
<% end %>

<script type="text/javascript">
 $(function(){
  setColorsFromSession();
 });
</script>
