<% _id =  @status + "_enquiries" %>

<table id='<%= _id %>' class="display" data-source="<%= enquiries_url(format: "json") %>">
<thead>
  <tr>
      <th>
      <%= check_box_tag "master",nil,false,{id: "master_check",checked: false, onclick: "toggleAllCheck(this,'#{_id}');"} %>

      Actions
      </th>
      <% @cols.each do |i| %>
        <% if i.is_a?(Array) %>
          <th><%= i[1].to_s.titleize %></th>
        <% else %>
          <th <%= (i.to_s == 'statuses' ? 'class=statuses' : '') %>>
          <%= i.to_s.titleize %>
          </th>
        <% end %>
      <% end %>
     
  </tr>


</thead>
       <%= select_tag :abdc,
                      options_for_select(@cols.map{|i| i.is_a?(Array) ? [i[0].to_s.titleize,i[0]]  : [i.to_s.titleize,i] }.unshift("Search by")),
                      {id: "mySelect",style: "width:150px",class: "fr"} %>

<tbody>

</tbody>


</table>
<br/>
           
             <% div_id = "group_assign_to_" + _id %>
            <%= link_to "Assign To", "#", {class: "btnp", onclick: "showPopUp('#{div_id}');"} %>
            <div id="<%= div_id %>" class="addNewPop" data-model="Enquiry" style="display: none; top: 483px; left: 455px;"> 
              <div class="frbox">
                <%= image_tag "/images/icons/user_group.png" ,{size: "20x20"}%>
                <%= label_tag :user %>
                <%= select_tag "group_assign_user_#{_id}",
                               options_for_select(User.order(:first_name).map{|i| [i.name,i.id]}),
                               {:prompt => "--User--"} %>
                <span class="btnp" onclick="groupAssignTo('<%= _id %>');">Assign</span>
              </div>
            </div>
            <%= link_to "Bulk Email", "#", {class: "btnp", onclick: "bulkEmail('#{_id}');"} %>
            
            <% div_delete_id = "group_delete_to_" + _id %>
            <%= link_to "Delete", "#", {class: "btnp fr", onclick: "showPopUp('#{div_delete_id}');"} %>
            <div id="<%= div_delete_id %>" class="addNewPop" style="display: none; top: 483px; left: 455px;"> 
              <div class="frbox">
                <%= image_tag "/images/icons/folder_delete.png" ,{size: "20x20"}%>
                <h5>Are you sure about this group delete?</h5>
                <span class="btnp" onclick="groupDelete('#{_id}');"> Yes </span>
                <span class="btnp" onclick="$('#<%= div_delete_id %>').hide();"> No </span>
              </div>
            </div>

            <div class="cl"></div>
            
            
<script>

$(function(){
dataTableStart("<%= _id %>","<%= @status %>","<%= @cols %>");
setColorsFromSession();
activeMM("enquiriesMM");
});
</script>
            
            
            
            
            
            
