
<h2>Add new course level</h2>
    <div class="field">
        <%= label_tag :name %><br />
        <%= text_field_tag :name %>
    </div>
    <div id="course_level_desc" style='display:none;'>
        <%= label_tag :description %><br />
        <%= text_area_tag :desc %>
    </div>
    <%= link_to "Add description",'#',{:id => "add_course_level_description",
                                      :onclick => "div_toggle(this,'div#course_level_desc');",
                                      :remote => true} %>
    <%= link_to "Create course",'#',{:id => "create_course_level",
                                     :onclick => "submit_link(this,'div#new_course_level_form');",
                                     :remote => true}  %>



