<!-------------------------NOTE for Enq and Reg-------------------------------------->

<div class="brg0"></div>
     <div id="programme_note_<%= obj.id %>" style="background:#fff;padding-left:10px;" >
          <%= render 'notes/note', sub: obj %>
     </div>
<br/>
<br/>




<!--------------------------------------------------------------->    

<h5 class="htab"> Notes For This Application<h5>
     <%= nested_form_for(obj,remote: true) do |r| %>
      <%= r.fields_for :notes,obj.notes.build do |n| %>
        <%= n.hidden_field :sub_class, value: obj_name.capitalize %>
        <%= n.text_area :content,{:size => '10x3', :style => 'width:400px;',class: "app_note"} %>
      <% end %> 
      <br/>
      <%= r.submit "Write",{class: "btnp"} %>
      <% end %>
     <br/>

    <div class="brg01"> </div>
    <br/>
    <br/>
<!--------------------------------------------------------------->


