<% if @list.to_i == 1 && @enquiry.notes.size > 0 %>
<table class="tables2" border="0" cellpadding="0" cellspacing="0" width="100%">
     <thead>
      <tr>
                            <th>Note</th>
      </tr>
    </thead>
    <tbody>
            <% @enquiry.notes.each do |n| %>
                <tr>
                    <td>
                    <%= n.content.html_safe %>
                          - <b><%= User.find(n.created_by).first_name %></b> <i> about <%= time_ago_in_words(n.created_at) %> ago </i>

                    </td>
               </tr>
           <% end %> 
		   <tr>
                    <td  align="left"><a href="#">Back</a></td>
               </tr>

    </tbody>
  </table>
<br/>
<br/>

<% end %>
<div class="htab">
<h6><b>New Note</b></h6>
</div>
<br/>
<%= form_for(@note) do |g| %>
 <div id="note-action" class="action-box">
            <%= fbox(g,[:content,size: "6x6",class: "tinymce" ,style:"height:auto;"],"text_area",nil,"Note") %>
            <br/>
            <%= g.hidden_field :sub_class,value: "Enquiry" %>
            <%= g.hidden_field :sub_id,value: @enquiry.id %>
            <%= hidden_field_tag "#{g.object_name}[note]", "from_action" %>
            <%= g.submit "Add note",{class: "btnp"} %>
</div>
<% end %>

<script>

tinymce.init({
     selector: "textarea.tinymce",
     theme: "modern",
     plugins: [
      "advlist autolink lists link image charmap print preview hr anchor pagebreak",
      "searchreplace wordcount visualblocks visualchars code fullscreen",
      "insertdatetime media nonbreaking save table contextmenu directionality",
      "emoticons template paste textcolor "
     ],
     toolbar1: "insertfile undo redo | styleselect | sizeselect | bold italic | fontselect |  fontsizeselect | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
     toolbar2: "print preview media | forecolor backcolor emoticons",
     image_advtab: true,
     templates:[ 
        {title: 'Some title 1', description: 'Some desc 1', content: 'My content'}, 
        {title: 'Some title 2', description: 'Some desc 2', url: '/email_templates/3/partial'} 
    ],
     autosave_ask_before_unload: false
});

</script>
