<script type="text/javascript" >
$(function(){

    $(document).on('nested:fieldAdded', function(event){
      var field = event.field; 
      var dateField = field.find('.dateField');
      dateField.datepicker({
        inline: true,
        changeMonth: true, 
        changeYear: true, 
        dateFormat: "yy-mm-dd",
        yearRange: '1980:2050' });
    })

});
</script>
<br/>
<div class="cols boxstheme " style="width:97%">
<div class="col11" >
  
    <div class="fields">
     <% @p_types.each do |i| %>
          <%= p.radio_button :type_id,i.id,{:class => "programme_type",:lang => i.name,
                                            :onclick => "p_type_click(this,this.lang);" } %>
          &nbsp;<%= p.label i.name %>&nbsp;&nbsp;&nbsp;&nbsp;
        <% end %>
    <div id="object_name" data-obj='<%= parent %>'>
    </div><br/>
     <!-- array of styles corresponding to [0]course_subject_text_div, [1]course_subject, [2]application_status, [3]ins_ref_no calling the array as sty (i.e styles) -->
       <% if parent == "enquiry" %>
         <% sty = ['','none','none','display:none;'] %>
       <% elsif parent == "registration" %>
         <% sty = ['display:none;',nil,nil,''] %>
       <% end %>
    <div class="cols">
    <div class="col6">
    <div class="fbox">
        <%= label_tag :country %>
        <%= p.collection_select(:country_id, 
                                Country.order(:name), 
                                :id, 
                                :name,
                                {:prompt => "--Country--"},
                                {:class => "countries_select",
                                 :onchange => "prepareSelect(this,
                                               '_programmes_attributes_index_city_id',
                                               '/get_cities/');
                                               prepareSelect(this,
                                               '_programmes_attributes_index_institution_id',
                                               '/get_institutions/country/');"}) %>
    </div>
    <div class="fbox">
         <%= p.label :school %>
         <!-- Setting the default selected institution as the programmes institution if chosen in the enquiry -->
        <% four = p.object.institution_id %>
        <% five = four.blank? ? [] : Institution.where(id: four) %>
        <%= p.collection_select(:institution_id, 
                                five, 
                                :id, 
                                :name,
                                {:prompt => "--Institution--"},
                                {:class => "institutions_select"}) %>
                                
    </div>
    <div class="fbox">
       <%= label_tag :city %>
        <!-- Setting the default selected city as the programmes city if chosen in the enquiry -->
        <% one = p.object.city_id %>
        <% two = one.blank? ? [] : City.where(id: one) %>
        <%= p.collection_select(:city_id, 
                                two, 
                                :id, 
                                :name,
                                {:prompt => "--City--"},
                                {:class => "cities_select",
                                 :onchange => "prepareSelect(this,
                                               '_programmes_attributes_index_institution_id',
                                               '/get_institutions/city/');"}) %> &nbsp;&nbsp;
       
        </div>       

       <div class="fbox">
        <%= label_tag :start_date,nil,{class: 'start_date'} %>
          <%= p.text_field :start_date,{class: 'dateField  caltf'} %>
        </div>
        
          
       <div class="cl"></div><br/>
         <span class="btns">
          <%= p.link_to_remove "Remove" %>
      </span>                        
      <div class="cl"></div>
</div>
<div class="col6">
        <div class="course_subject_text_div fbox" style='<%= sty[0] %>'>
            <%= label_tag :course_subject %>
            <%= p.text_field :course_subject_text %>
       </div>
        <div class="fbox">
       <%= go_create(p,"course_level","level_id","name") %>
      </div>
      <div class="fbox">
       <%= go_create(p,"course_subject","subject_id","name",sty[1]) %>  
       </div>
        <div class="end_date_div fbox">
              <%= label_tag :end_date %>
              <%= p.text_field :end_date,{class: 'dateField caltf '} %>
        </div>
        <div class="fbox">
        <%= go_create(p,"application_status","app_status_id","name",sty[2]) %>
        </div>
        
        
        
        <div class="ins_ref_no fbox" style='<%= sty[3] %>'>
             <%= fs(p,"ins_ref_no","text_field") %>
        </div>
    </div>
  
     
</div>
</div>
<br/>

</div>
</div>
