<script type="text/javascript" >
$(function(){

    $(document).on('nested:fieldAdded', function(event){
      var field = event.field;
      var dateField = field.find('.dateField');
      dateField.datepicker({
        inline: true,
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd",
        yearRange: '1980:2050' });
    })

});
</script>

<div class="row blue-well">
    
    <div class="row row-top">
      <div class="col-xs-12 text-right padR30">
        <%= p.link_to_remove('<span class="glyphicon mar0 glyphicon-remove"></span>'.html_safe) %>
      </div>
    </div>

<p class="padL20"><strong>Institution</strong></p>
     <!-- array of styles corresponding to [0]course_subject_text_div, [1]course_subject, [2]application_status, [3]ins_ref_no calling the array as sty (i.e styles) -->
       <% if parent == "enquiry" %>
         <% sty = ['','none','none','display:none;'] %>
       <% elsif parent == "registration" %>
         <% sty = ['display:none;',nil,nil,''] %>
       <% end %>

       <% p_type_show = (p.object.programme_type.name == "language_school" rescue nil) ? "display:none;" : "display:block;" %>

       <% good_country = Country.includes(:institutions).where("institutions.id is not null").order("countries.name") %>
               <%= bs(p,[:country_id,good_country,
                                              :id,
                                              :name,
                                              {prompt: "-country-"},
                                              {class: "countries_select",
                                               onchange: "prepareSelect(this,
                                                       '_programmes_attributes_index_city_id',
                                                       '/get_cities/');
                                                       changeInsType(this,
                                                    '_programmes_attributes_index_institution_id',
                                                    'country');
                                                    setCurrency(this,
                                                    '_programmes_attributes_index_currency');"}],
                                              "collection_select",
                                              [nil,4],7,6) %>
            <!-- Setting the default selected city as the programmes city if chosen in the enquiry -->
                <% one = p.object.city_id %>
                <% two = one.blank? ? [] : City.where(id: one) %>

                <%= bs(p,[:city_id,
                          two,
                          :id,
                          :name,
                          {prompt: "-city-"},
                          {class: "cities_select",
                          onchange: "setInsTypeData(this,'.institution_type_select');
                                     $('.institution_type_select').fadeOut(1000);
                                     $('.institution_type_select').fadeIn(1000);
                                     changeInsType(this,
                                                    '_programmes_attributes_index_institution_id',
                                                    'city');"}],
                           "collection_select",
                           [nil,4],7,6) %>

                <%= bs(p,[:type_id,
                          InstitutionType.edu,
                          :id,
                          :name,
                          {prompt: "-institution type-"},
                          {class: "institution_type_select",
                                         onchange: "changeInsType(this,
                                                    '_programmes_attributes_index_institution_id',
                                                    'ins_type');" }],
                           "collection_select",
                           [nil,4],7,6) %>

                <% four = p.object.institution_id %>
                <% five = four.blank? ? [] : Institution.where(id: four).order(:name) %>

                <%= bs(p,[:institution_id,
                          five,
                          :id,
                          :name,
                          {prompt: "-institution-"},
                          {class: "institutions_select",
                           onchange: "validateRecruit(this);",
                           data: {model: parent }}],
                           "collection_select",
                           [nil,4],7,6) %>
<p class="padL20"><strong>Course</strong</p>

                <div class="col-xs-6">
                    <div class="form-group">
                      <%= label_tag :start_date,nil,{class: 'control-label col-xs-4'} %>
                      <div class="col-xs-7">
                        <%= p.text_field :start_date,{class: 'form-control datepicker'} %>
                      </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                      <%= label_tag :end_date,nil,{class: 'control-label col-xs-4'} %>
                      <div class="col-xs-7">
                        <%= p.text_field :end_date,{class: 'form-control datepicker'} %>
                      </div>
                    </div>
                </div>
                <%= bs(p,[:level_id,
                          CourseLevel.order(:name),
                          :id,
                          :name,
                          {prompt: "-course level-"},{}],
                           "collection_select",
                           [nil,4],7,6) %>

              <%= bs(p,[:subject_id,
                        CourseSubject.order(:name),
                        :id,
                        :name,
                        {prompt: "-course subject-"},{}],
                         "collection_select",
                         [nil,4],7,6) %>

               <div class="col-xs-6">
                    <div class="form-group">
                      <%= label_tag :course_subject,nil,{class: 'control-label col-xs-4'} %>
                      <div class="col-xs-7">
                        <%= p.text_field :course_subject_text,{class: 'form-control'} %>
                      </div>
                    </div>
               </div>

               

              <%= bs(p,[:app_status_id,
                        ApplicationStatus.order(:name),
                        :id,
                        :name,
                        {prompt: "-application status-"},{}],
                         "collection_select",
                         [nil,4],7,"6 application_status_div 'style=display:#{sty[2]};") %>

              <%= bs(p,:ins_ref_no,"text_field",[nil,4],7,"6 ins_ref_no 'style=#{sty[3]};") %>
<div class="clear"></div>

<p class="padL20"><strong>Processing Fee</strong></p>
<%= bs(p,[:p_fee_id,
            ProcessingFeeType.order(:name),
            :id,
            :name,
            {prompt: "-fee type-"},{}],
             "collection_select",
             ["Type",4],7,6) %>

<%= bs(p,[:currency,
            all_currencies(Money::Currency.table),
            {:include_blank => 'Select a Currency'},{}],
            "select",
            [nil,4],7,6) %>
            
<%= bs(p,:p_fee,"text_field",["amount",4],7,6) %>

<%= bs(p,[:p_fee_status_id,
            ProcessingFeeStatus.order(:name),
            :id,
            :name,
            {prompt: "-fee status-"},{}],
             "collection_select",
             ["status",4],7,6) %>

<div class="clear"></div>
<br/>
</div>

