<div class="tab-content3" id="tab-content62">

        <div class="boxp">
            <div class="htab">
            <h5>
                <b>Contact type : 
                    <span class="sp">
                        <h6>
                            <b><%= disp1(a,"contact_type") %> </b>
                        </h6>
                    </span>
                </b>
            </h5>
            
            <%= link_to "Edit", edit_enquiry_path(@enquiry), {class: "btnp fr"} %>
            
            <div class="cl"></div>
        </div>
        <br/>
        <div class="cols brgb" style="padding-bottom:20px">
            <div class="col8">
                <div id="scrollboxu">
                    <img src="/images/icons/user.png" width="100"  class="imgb fl"/>
                    <div class="fl padl20">
                        <h5>
                        <b>                        
                            <%= a.name %>
                        </b>
                        <% stat = disp1(a,"status") %>
                        <span class='<%= stat %>'>
                          [<%= stat %>]
                        </span>
                        </h5>
                        <ul class="infosm">
                        <li>Mobile : <%= a.mobile1 %>, <%= a.mobile2 %></li>
                        <li>Email : <%= a.email1 %>, <%= a.email2 %></li>
                        <li>Country of Origin : <%= disp1(a,"country_of_origin") %></li>
                        </ul>
                    </div>
                    <div class="cl"></div>
                    <br/>
                    <h6><b>Personal information</b></h6>
                    <ul class="infosm">
                    <li>Date of Birth : <%= a.date_of_birth %></li>
                    <li>Gender : <%= a.gender %></li>
                    <li>Address : <%= disp0(a,'address') %></li>
                    </ul><br/>
                    <h6><b>Preferred countries</b></h6>
                    <ul class="infosm">
                    <li><%= disp2(a,"countries") %></li>
                    </ul><br/>
                    <h6><b>Programmes interested</b></h6>
                    <ul class="infosm">
                    <% a.programmes.each_with_index do |i,index| %>
                      <% j = i.programme_type.try(:name) %>
                         
                        <li><%= index + 1 %>) &nbsp; <b> <%= j %> - </b>
                        <%= [i.institution.try(:name).to_s,
                             i.city.try(:name).to_s,
                             i.country.try(:name).to_s].join(", ") %></li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;<b> Course - </b>
                        <%= i.course_level.name if j == "university" %>
                        <%= i.course_subject %><li>
                        <li><%= i.start_date %><li>
                    <% end %>
                    </ul>
                </div>
            </div>
            <div class="col4 ">
                <div class="boxs">
                    <ul class="infodhls">
                        <li>Enquiry history</li>
                        <li>
                        <b>Inquiry date :</b> 
                          <%= a.created_at.to_date %>
                        </li>
                        <li>
                        <b>Enquiry Source :</b> 
                          <%= disp1(a,'student_source') %>
                        </li>
                        <li>
                        <b>Created by :</b> 
                            <%= (User.where(id: a.created_by).map &:first_name)[0] %>
                        </li>
                        <li>
                        <b>Created at :</b> 
                          <%= a.created_at %>
                        </li>
                        <li>
                        <br>
                        <b>Last modified</b></li>
                        <li><b>By :</b> 
                            <%= (User.where(id: a.updated_by).map &:first_name)[0] %>
                        </li>
                        <li><b>At :</b> 
                            <%= a.updated_at %>
                        </li>
                        <li><br><b>Currently Assigned</b></li>
                        <li><b>To :</b>
                            <%= (User.where(id: a.assigned_to).map &:first_name)[0] %>
                        </li>
                        <li><b>By :</b> 
                            <%= (User.where(id: a.assigned_by).map &:first_name)[0] %>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
		
		<br/><div class="htab">
		<h5><b>Timeline</b></h5>
		</div><br/>
		<div id="scrollboxu"  style="height:440px">	
        <ul class="vlsdn">
            <%= render 'timeline' %>
        </ul>
		</div><br/><br/>
		
        <div id="enquiry_id_div" data-enquiry_id='<%= a.id %>'>
        </div>
        <div class="boxstheme">
          <%= render "actions" %>
          <!-- Action container -->
          <div id="action_div">
          </div>
       </div>
<!-- INQUIRY DETAILS - ENDS -->

