<% @timelines.each do |t| %>
<br/>

  <%= image_tag "/images/icons/"+ t.action.to_s  + "_tl.png",{class: "fl", width: "35"} %>
  &nbsp;&nbsp;&nbsp;
  <h4>
  <%= t.comment %>
  </h4>
  <br/>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <span style="color:#999;">
  <%= t.desc.html_safe %>
  </span>
  
  <br/>
  <br/>

          &nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp

          <%= link_to t.user_name,"#" %> &nbsp;&nbsp; <%= t.created_at.strftime("%A, %F %R %p") %>


  
</li>
<br/>
<div class="brg0"></div>
<% end %>
