<script>
$(function(){
    imagePreview("todo");
});
</script>

<% if @list.to_i == 1 && obj.todos.size > 0 %>
<table class="tables2" border="0" cellpadding="0" cellspacing="0" width="100%">
     <thead>
      <tr>
                            <th>Topic</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Due Date</th>
                            <th>Priority</th>
                            <th>Assigned To</th>
                            <th>Assigned By</th>
                            <th>View All</th>
      </tr>
    </thead>
    <tbody>
            <% obj.todos.each do |t| %>
                <tr >
                    <td><%= t.topic.try(:name) %></td>
                    <td><%= t.desc %></td>
                    <td><%= t.status %></td>
                    <td><%= t.duedate %></td>
                    <td><%= t.priority %></td>
                    <td><%= t.ato %></td>
                    <td><%= t.aby %></td>
                    <td  class="preview" data-todo_id='<%= t.id %>'>...</td>
               </tr>
           <% end %> 
<tr>
                    <td colspan="7" align="left"><a href="#">Back</a></td>
               </tr>           

    </tbody>
  </table>
<br/>
<br/>
<% end %>
<div class="htab">
<h6><b>New Todo</b></h6>
</div>
<br/>

<div id="followup-action" class="action-box">
<%= form_for(@todo) do |g| %>

                 <%= g.hidden_field obj_id.to_sym, value: id %>
                 <div class="cols">
                    <div class="col6">

                        <%= hidden_field_tag "#{g.object_name}[model]",obj_name.downcase %>
                        <%= go_create(g,"todo_topic","topic_id","name",1,"fbox") %> 
                        <%= fbox(g,"title","text_field",nil) %>
                        <%= fbox(g,[:assigned_to, 
                                 User.order(:first_name), 
                                 :id, 
                                 :first_name,
                                 {:prompt => "--User--"}],"collection_select",1,"Assign To") %>
                        
                        <%= fbox(g,[:duedate,:class => "dateTimeField caltf "],"text_field",nil) %>
                        <div class="fbox">
                        <label>Priority</label>
                        <%= g.select(:priority,
                                     options_for_select(["High","Medium","Low"])) %>
                        </div> 
                        <%= fbox(g,[:desc,:size => "2x2",:style => "height:auto"],"text_area",nil,"Description") %>
                        
                        <%= fbox(g,[:api,:style => "white-space:normal"],"check_box",nil,"Add To Google?") %>
                        
                        <%= g.hidden_field :assigned_by, :value => current_user.id.to_s %>
                    </div>
                </div>
    <br/>
    <br/>
    <%= g.submit "Create",{:class => "btnp fl"} %>
    <div class="cl"></div>
<% end %>
</div>
