<!DOCTYPE html>
<html>
<head>
  <title>Organizor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="/images/icons/reportm.png">
 
<script type="text/javascript">
$(function(){
 showPopUp('message');
 setColorsFromSession();

});

  PrivatePub.subscribe("/notify/<%= current_user.id.to_s %>", function(data, channel) {
    info("Notification",data.message);
     url = "/notify/<%= current_user.id.to_s %>"
     $.get(url,function(reply){
         $(reply).prependTo(".notifyls");
         var noticount = $('div#notify_count_container').data("count");
         $("#notify_no").html('<div style="margin-top:5px"><span class="notify-count">' + noticount + '</span></div>');
     });
  });




</script>

</head>
<body>

 <%= subscribe_to "/notify/" + current_user.id.to_s %>
<div id="wrapper">
<!-- Shortening variable -->
<% u = current_user %>
<!-- HEADER - STARTS -->
<div id="header" class="theme">
    <img src="/images/icons/reportm.png" class="fl mt10">
    <h1>&nbsp;Organizor</h1>
    <h6>&nbsp;&nbsp;&nbsp;Process Management System</h6>
    
    <!-- USER INFO BOX - STARTS -->
    <div class="uibox theme-lc">
    <div class="sbox theme-lc">
    <img src="/images/icons/search.png"/>&nbsp;
    <input type="text" placeholder="Search by name" >
    </div>
    <%= image_tag((u.image? ? u.image_url : "/images/icons/user.png"),
                               {width: "40",
                                height: "40",
                                class: "imgb fl"}) %>
    <img src="/images/icons/down-arrow.png" class="fr" id="downarrow" />
    <h5>
    &nbsp;&nbsp;<b><%= u.first_name.titleize rescue "Mr. Unknown" %></b>
    </h5><br/>
    <small class="whitec">
    &nbsp;&nbsp;&nbsp;<%= u.role.name.titleize rescue "Role Unassigned" %>
    </small>
    
    <div id="notification"> </div>
    <div class="cl"></div>
    <div class="uiboxs">
    <ul class="lsn">
        <li>
        <small class="whitec">
          <%= u.email rescue "Email Unassigned" %>
        </small>
        </li>
        <li>
        <%= link_to "My Settings", "/user_configs/#{current_user.id}/edit" %>
        </li>
    </ul>
     <ul class="lsn">
        <li>
        <%= link_to "New Enquiry", new_enquiry_path %>
        </li>
        <li>
        <%= link_to "New Registration", new_registration_path %>
        </li>
    </ul>
  
    <ul  class="lsb">
        <li>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
       </li>
    </ul>
    </div>
    </div>
    <!-- USER INFO BOX - ENDS -->
</div>
<!-- HEADER - ENDS -->

    <!-- NOTIFICATION BOX - STARTS -->
    <div id="notify-box" >
        <center>
        <div class="notify-msg" data-user_id="<%= current_user.id %>">
        <ul class="notifyls">
        <% Timeline.where(receiver_id: current_user.id).order("created_at desc").limit(8).each do |tl| %>

              <%= render "shared/notifications", tl: tl, count: nil %>
            
        <% end %>
            
        </ul>
        <br/>
        <%= link_to "See all" %>
        <br/>
        <br/>
        
        </div>
        <div class="notify-icon-box">
        <div class="notify-icon" onclick="showNotifiy();" >
        <center>
        
        <span id="notify_no">
          <% unch = Timeline.where(receiver_id: current_user.id,checked: false).count %>
          <%= unch == 0 ? '' : ('<div style="margin-top:5px"><span class="notify-count">' + unch.to_s + '</span></div>').html_safe %>
        </span>
        
        <img src="/images/icons/down.png" width="12" class="notify-down"/>
        <img src="/images/icons/up.png" width="12" class="notify-up dn"/>
        </center>
        </div></div>
        </center>
    </div>
    <!-- NOTIFICATION BOX - ENDS -->


<!-- KEEP message and type in between the P tag , without enter or space -->
          <% if flash[:notice] %>
            <h3 id="message" class="htab addNewPop" style="display: block; top: 483px; left: 455px;">
              <%= flash[:notice] %>
              <br/>
              <small>
              <i>Click outside to continue</i>
              </small>
            </h3>
          <% end %>
<!-- BODY - STARTS -->
<div id="main-body">
    <!-- MAIN MENU - STARTS -->
    <div id="left-panel">
    <ul id="menu-main">
        
        <li id="resourcesMM">
        
        <%= link_to "#" do %>
          <img src="/images/icons/org_resources.png" id="iconMM12" width="36" /><br/>
          <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
          Resources
        <% end %>
        
        <ul class="submenu">
            <img src="/images/icons/left-arrow.png" class="menual" width="13"/>
            <% [:programme_type,:application_status,:contact_type,
            :course_level,:course_subject,:doc_category,
            :english_level,:enquiry_status,:event_type,
            :exam_type,:qualification,:student_source,
            :sub_agent,:todo_status,:todo_topic].each do |r| %>
             <% if can? :read, r.to_s.camelize.constantize %>
            <li>
            
               <%= image_tag "/images/icons/" + r.to_s + ".png",{width: "16"} %>
               <%= link_to r.to_s.titleize.pluralize,"/" + r.to_s.pluralize %>
            </li>
            <% end %>
            <% end %>
        </ul>
        </li>
        
        <li id="dashboardMM">
        <img src="/images/icons/org_dashboard.png" id="iconMM1"width="36" /><br/>
        <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
        <a href="dashboard.html" style="text-decoration:line-through">Dashboard</a></li>
        
        <li id="enquiriesMM">
        
        <%= link_to enquiries_path  do %>
          <img src="/images/icons/org_inquiry.png"  id="iconMM2"width="36"/><br/>
          <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
          Enquiries
        <% end %>
        
        </li>
        <li id="registrationsMM">
                
        <%= link_to registrations_path do %>
                  <img src="/images/icons/org_registration.png" id="iconMM3"width="36" /><br/>
                  <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
                  Registration
        <% end %>
        </li>
        <li id="accountsMM">
        <img src="/images/icons/org_finance.png" id="iconMM4"width="36"/><br/>
        <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
        <a href="#" style="text-decoration:line-through">Accounts</a></li>
        <li id="contractsMM">
        <img src="/images/icons/org_contracts.png" id="iconMM5"width="36"/><br/>
        <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
        <a href="#" style="text-decoration:line-through">Contracts</a></li>
        <li id="emailMM">
        <%= link_to  email_templates_path do %>
          <img src="/images/icons/org_email.png"  id="iconMM6"width="36" /><br/>
          <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
          Emails
        <% end %>
        </li>
        <li id="calendarMM">
            <%= link_to "/follow_ups" do %>
              <img src="/images/icons/org_calender.png" id="iconMM11"width="36" /><br/>
              <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
              Calendar
            
            <% end %>
        </li>
        <li id="reportsMM">
        <img src="/images/icons/org_reports.png" id="iconMM8"width="36" /><br/>
        <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
        <a href="#" style="text-decoration:line-through">Reports</a></li>
        <li id="todosMM">
        
         <%= link_to todos_path do %>
                  <img src="/images/icons/org_todos.png" id="iconMM9" width="36" /><br/>
                  <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
                  Todos
        <% end %>
        
        </li>
        <li id="settingMM">
        
        <%= link_to "/user_configs/#{current_user.conf.id}/edit" do %>
          <img src="/images/icons/org_settings.png" id="iconMM10" width="36" /><br/>
          <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
          Settings
        <% end %>
        </li>        
        <li id="usersMM">        
        <% if u.role?(:agency_administrator) %>
        
            <%= link_to "/users" do %>
              <img src="/images/icons/org_users.png" id="iconMM11"width="36" /><br/>
              <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
              Users
            
            <% end %>
        
        <% else %>
        
        <%= link_to "/users/#{current_user.id}" do %>
             <%= image_tag((u.image? ? u.image_url : "/images/icons/user.png"),
                               {width: "34",
                                class: "imgb",
                                id: "iconMM11"}) %> <br/>
             <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
             Me
        <% end %>
        <% end %>
        </li>
        
        
    </ul>
    </div>
    <!-- MAIN MENU - ENDS -->
    
    <!-- BODY CONTENT - STARTS -->
   
    <div id="body-content">
    <table width="98%" cellpadding="5" cellspacing="5">
    
     <tr>
     <td class="brgr" style="padding-right:15px" valign="top" align="left">
      <%= yield %>
     </td>
     <td valign="top" width="10">
        <%= image_tag "/images/icons/exchange.png",{width: "20", onclick: "toggleRightPanel();"} %>
     </td>
     <td id="right-panel" valign="top" align="left">
        <%= render "shared/todos" %>
        <br/>
        <ul class="vls">
            <li><img src="/images/icons/org_calenderb.png" width="14"/>
            <h6>
            <b>Calendar</b>
            </h6>
            </li>
            <li><br><div id="mini-calendar"></div></li>
        </ul>        
    </td>
    </tr>
    </table>
    </div>
 <!-- BODY CONTENT - ENDS -->
 
</div>
<!-- BODY - ENDS -->
</div>
<!-- FOOTER - STARTS -->
<div id="footerin">
<center>Copyright 2012 Organizor | All rights reserved</center>
</div>
<!-- FOOTER - ENDS --> 

</body>
</html>
