<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/icons/reportm.png">

    <title>Organizor</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  
  <%= notifiably_audited('notify();').html_safe %>

  <body>
  <!-- Shortening variable -->
  <% u = current_user %>  
    <div id="header">
      <div class="container">
        <div class="col-xs-2">
          <h1 class="text-left">Organizor</h1>
        </div>
        <div class="col-xs-3">
          <br/>
          <div class="row">
            <input type=text class="form-control" placeholder="Search with name..."/>
          </div>
        </div>
        <div class="col-xs-4 text-right">
          <a href="#" id="create_new_cont" data-container="body" data-toggle="popover" data-placement="bottom">
            <span id="create_new" class="glyphicon glyphicon-plus-sign notification-icon no-link">
              <div id="create_new_content" class="hide">
                <ul class="vlsdet">
                      <% %w(enquiry registration institution person).each do |n| %>
                      <li>
                      <small><%= link_to n.titleize, send('new_' + n + '_path') %></small>
                      </li>
                      <% end %>
                </ul>
              </div>

            </span>
          </a> 
          <span data-ajaxload="/five_notifications.js" id="bell" class="pointer glyphicon glyphicon-bell notification-icon no-link"></span>
          <%  badge =  Audit.notys_badge(current_user.id) %>
          <span class="badge <%= badge[1] %>"><%= badge[0] %></span>

        </div>
        <div class="col-xs-3 profile">
          <a href="#" id="usr_dd" data-container="body" data-toggle="popover" data-placement="bottom">
          <%= image_tag((u.image? ? u.image_url : "/images/icons/user.png"),
                                         {width: "50",
                                          height: "50",
                                          class: "img-rounded",
                                          id: "usr_img" }) %>
          <span class="ml-10 no-link f-10">
            <%= truncate(u.fname,length: 20) %>             
          </span> 
          </a>
        </div>        
      </div>
    </div>
    <!-- display core images -->
          <div id="upload-image"></div> 
    <div id="usr_dd_cont" class="hide">      
      <div class="row row-top">
        <div class="col-xs-5">
          <%= image_tag((u.image? ? u.image_url : "/images/icons/user.png"),
                                         {width: "105",
                                          class: "img-rounded" }) %>
                                            
          <span>
            <%= render 'images/buttons', a: u, core: "user",hide: false %>     
          </span>
                                       
        </div>
        <div class="col-xs-7">
          <div class="row">
            <p>
              <%= link_to truncate(u.name,length: 20), u %>
              <span class="grey-sm"><%= u.email %></span><br/>
              <span class="grey-sm">Role</span>
              <small class="green-right sm"><%= u.role_name %></small><br/>
              <span class="grey-sm">Branch</span>
              <small class="yellow-ok sm"><%= u.branch_name %></small><br/>
              
            </p>
          </div>
          <div class="row">
            <div class="form-group">              
              <%= link_to "Logout",destroy_user_session_path,
                                   {:method => :delete,class: "btn btn-primary"} %>

              <%= link_to "Settings",user_configs_path,
                                   {class: "btn btn-primary"} %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Begin page content -->
    <div class="container main">

      <div class="row">
        <div class="col-xs-2 left-nav">
          <ul class="nav nav-pills nav-stacked main-menu">

            <li class="disabled">
              <a href="#"><span class="glyphicon glyphicon-th"></span>Dashboard</a>
            </li>

            <li id="reports">
              <%= link_to reports_path  do %><span class="glyphicon glyphicon-stats"></span>Reports<% end %>
            </li>

            <hr>

            <li id="enquiries">
              <%= link_to enquiries_path  do %><span class="glyphicon glyphicon-earphone"></span>Enquiries<% end %>
            </li>
            <li id="registrations">
              <%= link_to registrations_path do %><span class="glyphicon glyphicon-pencil"></span>Registrations<% end %>
            </li>

            <li id="institutions">
              <%= link_to institutions_path do %><span class="glyphicon glyphicon-home"></span>Institutions<% end %>
            </li>

            <li id="people">
              <%= link_to people_path do %><span class="glyphicon glyphicon-folder-open"></span>People<% end %>
            </li>

            <hr>

            <!-- not displaying accounts and contracts -->
            <% if false %>
            <li><a href="#"><span class="glyphicon glyphicon-book"></span>Accounts</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-euro"></span>Contracts</a></li>
            <% end %>

            <li id="emails">
                <%= link_to  emails_path do %><span class="glyphicon glyphicon-envelope"></span>Emails<% end %>
            </li>

            <li id="follow_ups">
              <%= link_to "/follow_ups" do %><span class="glyphicon glyphicon-calendar"></span>Calendar<% end %>
            </li>

            <li id="todos">
              <%= link_to todos_path do %><span class="glyphicon glyphicon-check"></span>Todos<% end %>
            </li>

            <hr>

            
            <li id="users">
              <% if u.role?(:agency_administrator) %>
                  <%= link_to "/users" do %><span class="glyphicon glyphicon-user"></span>Users<% end %>
              <% else %>
                <%= link_to "/users/#{current_user.id}" do %><span class="glyphicon glyphicon-user"></span>My account<% end %>
              <% end %>
            </li>
            <li id="configuration">
                <%= link_to "/configuration" do %><span class="glyphicon glyphicon-list"></span>Configuration<% end %>
            </li>        

          </ul>
        </div>
        <div class="col-xs-10 main-content">
          <%= yield %>
        </div>
      </div>
    </div>

    </div>

    <div id="footer">
    </div>
    <script>

    // only notifications popover 
    $(document).popover({
      selector: 'span#bell',
      placement: "bottom",
      content: get_popover_content,
      html: true,
      trigger: 'click',
      title: "Notifications"
    });
    // only notifications popover content
    function get_popover_content(){
        // hiding noty badge
        $('.badge').addClass('hide'); 

        var e=$(this);

        var ctnt = $.ajax({
            url: e.data('ajaxload'),
            type: "GET",
            dataType: "html",
            async: false,
            success: function() {
                // just get the response
            },
            error: function() {
                // nothing
            }
        }).responseText;

        return ctnt;
    }
    // only create new popover 
    $('#create_new').popover({
          html: true,          
          title: "Create New",
          placement: "bottom",          
          content: function() {
            return $('#create_new_content').html();
          }
    });

    // only user drop down popover
    $('#usr_img').popover({
          html: true,          
          title: '<%= current_user.name %>',
          placement: "bottom",          
          content: function() {
            return $('#usr_dd_cont').html();
          }
    });
      // close popover on clicking outside
      $(document).mouseup(function (e) {
        if ($('.popover').has(e.target).length === 0) {
            $('.popover').toggleClass('in').remove();
            return;
        }
      });
    </script>
  </body>
</html>
