<!DOCTYPE html>
<html>
<head>
  <title>Organizor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
<!-- Shortening variable -->
<% u = current_user %>
<!-- HEADER - STARTS -->
<div id="header" class="theme">
    <img src="/images/icons/reportm.png" class="fl mt10">
    <h1>&nbsp;Organizor</h1>
    <h6>&nbsp;&nbsp;&nbsp;Process Management System</h6>
    <!-- USER INFO BOX - STARTS -->
    <div class="uibox theme-lc">
    <div class="sbox theme-lc">
    <img src="/images/icons/search.png"/>&nbsp;
    <input type="text" placeholder="Search by name" >
    </div>
    <img src="/images/icons/user.png" class="imgb fl" width="40" height="40"/>
    <img src="/images/icons/down-arrow.png" class="fr" id="downarrow" />
    <h5>
    &nbsp;&nbsp;<b><%= u.first_name.titleize %></b>
    </h5><br/>
    <small class="whitec">
    &nbsp;&nbsp;&nbsp;<%= u.email %>
    </small>
    <div class="cl"></div>
    <div class="uiboxs">
    <ul class="lsn">
        <li><a hre="#">My Setting</a></li>
    </ul>
     <ul class="lsn">
        <li>
        <%= link_to "New Enquiry", new_enquiry_path %>
        </li>
        <li><a href="#">Create Task</a></li>
    </ul>
	<!-- THEME - STARTS -->
	<ul class="lsb">
    	<li><a href="#">Theme</a></li>
        <li><ul class="theme-colrs">
	<li><span class="blue-theme" id="blue-theme" data-theme="blue" onclick="setThemeColor(this.id);">&nbsp;</span></li>
	<li><span class="yellow-theme" id="yellow-theme" data-theme="yellow" onclick="setThemeColor(this.id);">&nbsp;</span></li>
	<li><span class="green-theme"  id="green-theme" data-theme="green" onclick="setThemeColor(this.id);">&nbsp;</span></li>
	<li><span class="pink-theme"  id="pink-theme" data-theme="pink" onclick="setThemeColor(this.id);">&nbsp;</span></li>
	<li><span class="violet-theme" id="violet-theme" data-theme="violet" onclick="setThemeColor(this.id);">&nbsp;</span></li>
	<li><span class="orange-theme" id="orange-theme" data-theme="orange" onclick="setThemeColor(this.id);">&nbsp;</span></li>
	</ul></li>
    </ul>
	<!-- THEME - ENDS -->
	<!-- BACKGROUND - STARTS -->
	<ul class="lsb">
    <li><a href="#">Background</a></li>
    <li><ul class="theme-colrs" id="bg-color">
	<li><span class="blue-bg" id="blue-bg" data-bg="blue" onclick="setBGColor(this.id);">&nbsp;</span></li>
	<li><span class="cream-bg" id="cream-bg" data-bg="cream" onclick="setBGColor(this.id);">&nbsp;</span></li>
	<li><span class="white-bg"  id="white-bg" data-bg="white" onclick="setBGColor(this.id);">&nbsp;</span></li>
	<li><span class="gray-bg"  id="gray-bg" data-bg="gray" onclick="setBGColor(this.id);">&nbsp;</span></li>
	</ul></li>
    </ul>
	<!-- BACKGROUND - ENDS -->
    <ul  class="lsb">
        <li>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
       </li>
    </ul>
    </div>
    </div>
    <!-- USER INFO BOX - ENDS -->
</div>
<!-- HEADER - ENDS -->


<!-- BODY - STARTS -->
<div id="main-body">
    <!-- MAIN MENU - STARTS -->
    <div id="left-panel">
    <ul id="menu-main">
        <li id="dashboardMM" onMouseOut="MM_swapImgRestore()"
     onMouseOver="MM_swapImage('iconMM1','','/images/icons/org_dashboardb.png',1)">
        <img src="/images/icons/org_dashboard.png" id="iconMM1" /><br/>
        <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
        <a href="dashboard.html">Dashboard</a></li>
        <li id="inquiresMM"  onMouseOut="MM_swapImgRestore()"
     onMouseOver="MM_swapImage('iconMM2','','/images/icons/org_inquiryb.png',1)">
        <img src="/images/icons/org_inquiry.png"  id="iconMM2"/><br/>
        <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
        <a href="inquiry.html">Inquires</a></li>
        <li id="registrationMM"  onMouseOut="MM_swapImgRestore()"
     onMouseOver="MM_swapImage('iconMM3','','/images/icons/org_registrationb.png',1)">
        <img src="/images/icons/org_registration.png" id="iconMM3" /><br/>
        <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
        <a href="registration.html">Registration</a></li>
        <li id="accountsMM"  onMouseOut="MM_swapImgRestore()"
     onMouseOver="MM_swapImage('iconMM4','','/images/icons/org_financeb.png',1)">
        <img src="/images/icons/org_finance.png" id="iconMM4" /><br/>
        <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
        <a href="#">Accounts</a></li>
        <li id="contractsMM"  onMouseOut="MM_swapImgRestore()"
     onMouseOver="MM_swapImage('iconMM5','','/images/icons/org_contractsb.png',1)">
        <img src="/images/icons/org_contracts.png" id="iconMM5" /><br/>
        <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
        <a href="#">Contracts</a></li>
        <li id="emailMM"  onMouseOut="MM_swapImgRestore()"
     onMouseOver="MM_swapImage('iconMM6','','/images/icons/org_emailb.png',1)">
        <img src="/images/icons/org_email.png"  id="iconMM6"/><br/>
        <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
        <a href="#">Email</a></li>
        <li id="calendarMM"  onMouseOut="MM_swapImgRestore()"
     onMouseOver="MM_swapImage('iconMM7','','/images/icons/org_calenderb.png',1)">
        <img src="/images/icons/org_calender.png" id="iconMM7" /><br/>
        <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
        <a href="#">Calendar</a></li>
        <li id="reportsMM"  onMouseOut="MM_swapImgRestore()"
     onMouseOver="MM_swapImage('iconMM8','','/images/icons/org_reportsb.png',1)">
        <img src="/images/icons/org_reports.png" id="iconMM8" /><br/>
        <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
        <a href="#">Reports</a></li>
        <li id="todosMM"  onMouseOut="MM_swapImgRestore()"
     onMouseOver="MM_swapImage('iconMM9','','/images/icons/org_todosb.png',1)">
        <img src="/images/icons/org_todos.png" id="iconMM9" /><br/>
        <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
        <a href="#">Todos</a></li>
        <li id="settingMM"  onMouseOut="MM_swapImgRestore()"
     onMouseOver="MM_swapImage('iconMM10','','/images/icons/org_todob.png',1)">
        <img src="/images/icons/org_settings.png" id="iconMM10" /><br/>
        <img src="/images/icons/right-arrow.png" class="menuar" width="13"/>
        <a href="#">Setting</a></li>
    </ul>
    </div>
    <!-- MAIN MENU - ENDS -->
    
    <!-- BODY CONTENT - STARTS -->
   
    <div id="body-content">
    <table width="98%" cellpadding="5" cellspacing="5">
    
     <tr>
     <td class="brgr" style="padding-right:15px">
      <%= yield %>
     </td>
     <td id="right-panel" valign="top" align="left">
        <ul class="vls">
            <li><img src="image/icons/print.png" width="14"/><h6><b>Todos</b></h6></li>
            <li><br>
                <a href="#"><b>To Inform Student</b></a><br/>
                <small>Ask Hari ( IN 10098 ) & Inquir...</small>
            </li>
            <li>
                <a href="#"><b>To Inform Student</b></a><br/>
                <small>Ask Hari ( IN 10098 ) & Inquir...</small>
            </li>
            <li>
                <a href="#"><b>To Inform Student</b></a><br/>
                <small>Ask Hari ( IN 10098 ) & Inquir...</small>
            </li>
            <li>
                <a href="#"><b>To Inform Student</b></a><br/>
                <small>Ask Hari ( IN 10098 ) & Inquir...</small>
            </li>
            
        </ul>
        <br/>
        <ul class="vls">
            <li><img src="image/icons/print.png" width="14"/><h6><b>Calender</b></h6></li>
            <li><br><div class="dateField"></div></li>
        </ul>        
    </td>
    </tr>
    </table>
    </div>
 <!-- BODY CONTENT - ENDS -->
 
</div>
<!-- BODY - ENDS -->
</div>
<!-- FOOTER - STARTS -->
<div id="footerin">
<center>Copyright 2012 Organizor | All rights reserved</center>
</div>
<!-- FOOTER - ENDS --> 

</body>
</html>
