<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/icons/reportm.png">

    <title>Organizor</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head> 
  
  <%= notifiably_audited('notify();').html_safe %>

  <body>
  <!-- Shortening variable -->
  <% u = current_user %>  
    <div id="header">
      <div class="container">
        <div class="col-xs-3">          
          <h1 class="text-left">
            <a href="/" class='no-link'>
              Organizor
            </a>
          </h1>          
        </div>

        <div class="col-xs-4">
           <br/>
          <div class="row">
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-search mar0"></span>
                      <span id="typeahead-current">Registrations</span>
                      <span class="caret"></span>
                    </button>
                    <ul id="typeahead-options" class="dropdown-menu" role="menu">
                      <li><a href="#">Registrations</a></li>
                      <li><a href="#">Enquiries</a></li>
                      <li><a href="#">Institutions</a></li>
                      <li><a href="#">People</a></li> 
                    </ul>
                  </div><!-- /btn-group -->
                  <div class="clear"></div>
                    <input class="typeahead form-control" type="text" placeholder="Search..">                 
                  
                </div><!-- /input-group -->
          </div>
        </div>


        <div class="col-xs-2 text-right">
          <a href="#" id="create_new_cont" data-container="body" data-toggle="popover" data-placement="bottom">
            <span id="create_new" class="glyphicon glyphicon-plus-sign notification-icon no-link">
              <div id="create_new_content" class="hide">
                <ul class="vlsdet">
                      <% %w(enquiry registration institution person).each do |n| %>
                      <li>
                      <small><%= link_to n.titleize, send('new_' + n + '_path') %></small>
                      </li>
                      <% end %>
                </ul>
              </div>

            </span>
          </a> 


          <span data-ajaxload="/limited_notifications.js" id="bell" class="pointer glyphicon glyphicon-bell notification-icon no-link"></span>

          <%  badge =  Audit.notys_badge(current_user.id) %>
          <span class="badge <%= badge[1] %>"><%= badge[0] %></span>

        </div>
        <div class="col-xs-3 profile">
          <a href="#" id="usr_dd" data-container="body" data-toggle="popover" data-placement="bottom">
          <%= image_tag((u.image? ? u.image_url : "/images/icons/user.png"),
                                         {width: "50",
                                          height: "50",
                                          class: "img-rounded",
                                          id: "usr_img" }) %>
          <span class="ml-10 no-link f-10">
            <%= truncate(u.fname,length: 20) %>             
          </span> 
          </a>
        </div>        
      </div>
    </div>
    <!-- display core images -->
    <div id="upload-image"></div> 
    <!-- user dropdown content -->
    <div id="usr_dd_cont" class="hide">      
      <div class="row row-top">
        <div class="col-xs-5">
          <%= link_to u do %>
          <%= image_tag((u.image? ? u.image_url : "/images/icons/user.png"),
                                         {width: "105",
                                          class: "img-rounded" }) %>
          <% end %>                       
          <span>
            <%= render 'images/buttons', a: u, core: "user",hide: false %>     
          </span>
                                       
        </div>
        <div class="col-xs-7">
          <div class="row">
            <p>
              <%= link_to truncate(u.name,length: 20), u %>
              <span class="grey-sm"><%= u.email %></span><br/>
              <span class="grey-sm">Role</span>
              <small class="green-right sm"><%= u.role_name %></small><br/>
              <span class="grey-sm">Branch</span>
              <small class="yellow-ok sm"><%= u.branch_name %></small><br/>
              <div class="sm">
                <%= link_to "Approval Requests", approval_path %>
                <span class="pointer glyphicon glyphicon-info-sign"></span>
              </div>

            </p>
          </div>
          <div class="row">
            <div class="form-group">                 

              <%= link_to "Settings",user_configs_path,
                                   {class: "btn btn-primary"} %>

              <%= link_to "Logout",destroy_user_session_path,
                                   {:method => :delete,class: "btn btn-primary"} %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Begin page content -->
    <div class="container main">

      <div class="row">
        <div class="col-xs-2 left-nav">
          <ul class="nav nav-pills nav-stacked main-menu">

            <li class="disabled">
              <a href="#"><span class="glyphicon glyphicon-th"></span>Dashboard</a>
            </li>

            <% [["reports","stats","<hr>"],["enquiries","earphone"],["registrations","pencil"],
             ["institutions","home"],["people","globe","<hr>"],["emails","envelope"],
             ["todos","check"],["follow_ups","calendar","<hr>"]].each do |menu| %>
                <% if can? :read, menu[0].singularize.camelize.constantize %>
                     <li id="<%= menu[0] %>">
                      <%= link_to send(menu[0] + "_path") do %>
                        <span class="glyphicon glyphicon-<%= menu[1] %>">
                        </span>
                          <%= menu[0].titleize %>
                      <% end %>
                     </li>
                     <%= menu[2].html_safe if !menu[2].nil? %>                     
                 <% end %>
            <% end %>

            <li id="users">
              <% if u.role?(:agency_administrator) %>
                  <%= link_to "/users" do %><span class="glyphicon glyphicon-user"></span>Users<% end %>
              <% else %>
                <%= link_to "/users/#{current_user.id}" do %><span class="glyphicon glyphicon-user"></span>My account<% end %>
              <% end %>
            </li>

            <% if current_user.adm? %>
              <li id="configuration">
                  <%= link_to "/configuration" do %><span class="glyphicon glyphicon-list"></span>Configuration<% end %>
              </li>        
            <% end %>

          </ul>
        </div>
        <div class="col-xs-10 main-content">
          <%= yield %>
        </div>
      </div>
    </div>

    </div>

    <div id="footer">
    </div>
    <script>

    // only notifications popover 
    $(document).popover({
      selector: 'span#bell',
      placement: "bottom",
      content: get_popover_content,
      html: true,
      trigger: 'click',
      title: "Notifications"
    });
    // only notifications popover content
    function get_popover_content(){
        // hiding noty badge
        $('.badge').addClass('hide'); 

        var e=$(this);

        var ctnt = $.ajax({
            url: e.data('ajaxload'),
            type: "GET",
            dataType: "html",
            async: false,
            success: function() {
                // just get the response
            },
            error: function() {
                // nothing
            }
        }).responseText;

        return ctnt;
    }
    // only create new popover 
    $('#create_new').popover({
          html: true,          
          title: "Create New",
          placement: "bottom",          
          content: function() {
            return $('#create_new_content').html();
          }
    });

    // only user drop down popover
    $('#usr_img').popover({
          html: true,          
          title: '<%= current_user.name %>',
          placement: "bottom",          
          content: function() {
            return $('#usr_dd_cont').html();
          }
    });
      // close popover on clicking outside
      $(document).mouseup(function (e) {
        if ($('.popover').has(e.target).length === 0) {
            $('.popover').toggleClass('in').remove();
            return;
        }
      });

      <% if flash[:notice] %>
        bootbox.alert('<%= flash[:notice] %>');           
      <% end %>

      typeaheads($('.typeahead'),"referenceno");
      typeaheadChangeMode();
    </script>
  </body>
      
</html>
